//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images


$govuk-success-colour:	#00703c;
// 

// Add extra styles here

html {
    scroll-behavior: smooth;
}


.designNote {
    padding: 2rem;
    background-color: rgba(255, 255, 0, 0.262);
}

.govuk-width-container {
    max-width: 1600px;
    padding: 0 50px;
    margin: 0 auto;
}

.delta-text-secondary {
    color: #505a5f;
}

.delta-grid-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    * {
        margin: 0!important;
    };
}

.delta-results-filter {
    padding: 1.2rem;
    background-color: #e7e7e7;    
    .govuk-form-group {
        margin-bottom: 0;
    }
    .govuk-select {
        min-width: 0;
    }
}

.delta-invisible {
    visibility: hidden;
}

.delta-hide {
    display: none;
}

.delta-columns-two {
    columns: 2;
    column-gap: 1.2rem;
}

.delta-dl {
    margin-left: 0;
    dt {
        font-weight: 800!important;
    }

    dd {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

.delta-reading-width {
	max-width: 44em;
}


.delta-sticky-top {
    position: sticky;
    top: 0;
}

.govuk-list {
    .govuk-list {
        margin-left: 1rem;
    }
}


// Notification banners ===============

.delta-notification-banner--success {
    border-color: $govuk-success-colour;
}


.delta-text-success {
    color: $govuk-success-colour;;
}

.delta-text-info {
    color: #1d70b8;
}