//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images


$govuk-success-colour:	#00703c;
$govuk-error-colour:	#d4351c;
$delta-info:        	#1d70b8;
// 

// Add extra styles here

html {
    scroll-behavior: smooth;
}


.designNote {
    padding: 2rem;
    background-color: rgba(255, 255, 0, 0.262);

    &:last-child {
        margin-bottom: 0;
        // background-color: pink;
    }

}

.govuk-width-container {
    max-width: 1600px;
    padding: 0 50px;
    margin: 0 auto;
}

.delta-text-secondary {
    color: #505a5f;
    font-weight: normal;
}

.delta-grid-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    * {
        margin: 0!important;
    };
}

.delta-results-filter {
    padding: 1.2rem;
    background-color: #e7e7e7;    
    .govuk-form-group {
        margin-bottom: 0;
    }
    .govuk-select {
        min-width: 0;
    }
}


.delta-tag {
    max-width: 999px;
}

.delta-invisible {
    visibility: hidden;
}

.delta-hide {
    display: none;
}

.delta-columns-two {
    columns: 2;
    column-gap: 1.2rem;
}

.delta-dl {
    margin-left: 0;
    dt {
        font-weight: 800!important;
    }

    dd {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

.delta-reading-width {
	max-width: 44em;
}


.delta-sticky-top {
    position: sticky;
    top: 0;
}

.govuk-list {
    .govuk-list {
        margin-left: 1rem;
    }
}

.delta-button-danger {
    background-color: $govuk-error-colour;
}


// Notification banners ===============

.delta-notification-banner--success {
    border-color: $govuk-success-colour;
    background-color: $govuk-success-colour;
}

.delta-notification-banner--error {
    border-color: $govuk-error-colour;
    background-color: $govuk-error-colour;
}

.delta-text-error {
    color: $govuk-success-colour;
}

.delta-text-success {
color: $govuk-error-colour;
}

.delta-text-info {
    color: #1d70b8;
}

// Dashboard ===============

.delta-dashboard-masthead {
    background-color: $delta-info;
    padding: 2rem 1rem;
    * {
        color: #fff;
    }

    .delta-text-secondary {
        opacity: .5;
    }
}

// Delta certified ============

.delta-certified {
    padding: 2rem;
    background-color: $govuk-success-colour;    
    text-align: center;

    h2, h3, p {
        color: white;
    }
}


// Animations ===============

.delta-animation-loading {
    background-color: #f3f2f1;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    animation: deltaLoading;
    animation-duration: 1.5s;    
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    
    .delta-animation-loading-indicator {
        width: 10%;
        height: 16px;
        text-indent: -999px;
        overflow: hidden;
        background-color: $delta-info;
        border-radius: 8px;
    }

    @keyframes deltaLoading {
        0% {
            padding-left: 0;
        } 
        100% {
            padding-left: 100%;
        }
    }

}

// Experiments ===============

// h1, h2, h3, h4, h5, h6, li, p {
//     background-color: pink;
//     max-width: 40ch;
// }