//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images


$govuk-success-colour:	#00703c;
$govuk-error-colour:	#d4351c;
$delta-info:        	#1d70b8;

$delta-grey-light: #f8f8f8;


$delta-max-width: 1280px;
// 

// Add extra styles here

html {
    scroll-behavior: smooth;
}

.delta-tag {
    max-width: auto;
}

.delta-full-height {
    min-height: 100vh;
}

.delta-responsive-image {
    max-width: 100%;
}

.delta-text-center {
    text-align: center;
}

.delta-text-right {
    text-align: right;
}

.delta-fl {
    float: left;
    margin: 0 1rem 1rem 0;
}

.delta-fr {
    float: right;
    margin: 0 1rem 0  1rem;
}

.detla-image-sm {
    max-width: 80px;
}

.delta-caption {
    margin-top: 1rem;
    font-size: small;
    text-align: center
}

.delta-fixed-nav {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    color: #fff;
    padding: 1rem .5rem;

    .govuk-list {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0;
        li {
            list-style-type: none;
        }
    }    
}

.designNote {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 0, 0.262);
    // display: none;

    &*:last-child {
        margin-bottom: 0;
        background-color: pink;
    }
}

.govuk-width-container {
    max-width: $delta-max-width;
    padding: 0 50px;
    margin: 0 auto;
}

.govuk-tag {
    max-width: auto!important;
}

.delta-header {
    background-color: black;
    padding: 3px 50px;
    color: #fff;
    border-bottom: 10px solid $delta-info;
    font-family: "GDS Transport",arial,sans-serif;

    .delta-header-logo-link {
        color: #fff!important;
        text-decoration: none;
        padding-top: 3px;
        border-bottom: 3px solid transparent;
        &:hover {
            border-bottom: 3px solid #fff;
        }
    }

    .delta-wrapper {
        max-width: $delta-max-width;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .delta-header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;   
        //background-color: red;
        font-size: 1.5rem;        
        gap: .8rem;

        .delta-logotype {
            font-weight: 900;
            font-size: 1.8rem;    
        }

        .delta-product-name {
            font-weight: 400;
        }
    }

    .delta-account {
        a {
            color: #fff;
        }
        ul {
            color: #fff!important;
            display: flex;
            flex-direction: row;
            align-items: center;     
            gap: 1rem;
            margin: 0;
            padding: 0;
            line-height: 50px;
            li {
                list-style-type: none;

                .govuk-form-group {
                    margin: 0!important;
                }
            }
        }
    }


}


.delta-nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #b1b4b6;
    font-weight: 700;
    font-size: 1.1875rem;
    padding: 0 50px;

    a {
        text-decoration: none;
    }

    ul {
        max-width: $delta-max-width;        
        margin: 0 auto;
        padding: 0;
        display: flex;
        gap: 2rem;
        li {
            list-style-type: none;
            margin: 15px 0;
            padding: 0;
        }
    }
}

.delta-notification-banner__content {
    * {
        max-width: 100%!important;
    }
}

.delta-text-center {
    text-align: center;
}

.delta-link-light {
    color: #fff!important;
}

.delta-block {
    // keeps content together. useful for stacking in table
    display: block;
    clear: both;
    margin-bottom: .5rem;
}

.delta-text-secondary {
    color: #505a5f;
    font-weight: normal;
}

.delta-grid-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    * {
        margin: 0!important;
    };
}

// === attempt 2 at results and filters ================

.hidden {
    display: none;
}

.delta-results {
    display: flex;
    gap: 1rem;
}
#delta-results-filters {
    min-width: 400px;
    max-width: 400px;
    background-color: #f3f2f1;
    .delta-results-filters-header {
        padding: 1rem;
        background-color: #b1b4b6;
    }
    .delta-results-active-filters {
        padding: 1rem;
        background-color: #E6E6E6;
    }    
    .delta-results-filters-filters {
        padding: 1rem;
    }        
}

.delta-filter-item-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        background-color: #dddddd;
    }
}
#delta-results-data {
    width: 100%;
    overflow: hidden;
}   
.delta-scrollable-pane {
    overflow-x: scroll;
    min-width: 100%;
}

.delta-word-break {
    word-break: break-all;
}

.delta-no-wrap {
    white-space: nowrap;
    word-break: keep-all;
}

.delta-tag-pill {
    border: 0;
    border-radius: 1rem;
    font-weight: 700;
    font-size: smaller;
    background-color: $delta-info;
    color: #fff;
}
.delta-tag-pill--inverse {
    border: 0;
    border-radius: 1rem;
    background-color: #fff;
    color: $delta-info;
}
.delta-image-responsive {
    width: 100%;
}

.delta-screen-grab {
    box-shadow:  0 0 1rem rgb(138, 138, 138, .5);
    margin-bottom: 1rem;
}

.delta-tag {
    max-width: 999px;
}

.delta-invisible {
    visibility: hidden;
}

.delta-hide {
    display: none;
}

.delta-columns-two {
    columns: 2;
    column-gap: 1.2rem;
}

.delta-dl {
    margin-left: 0;
    dt {
        font-weight: 800!important;
    }

    dd {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

.delta-reading-width {
	max-width: 70ch;
}


.delta-sticky-top {
    position: sticky;
    top: 0;
}

.govuk-list {
    .govuk-list {
        margin-left: 1rem;
    }
}

.delta-button-danger {
    background-color: $govuk-error-colour;
}

.delta-modal {
    max-width: 44rem;
    background-color: #fff;
    border: 2px solid #000;
    padding: 2rem;
    margin: auto;
    margin-bottom: 2rem;

    .delta-align-right {
        margin: 0;
    }
}

.delta-float-right {
    float: right;
}

.delta-align-right {
    text-align: right;
}


// delta table filters ===============

.detla-pointer {
    cursor: pointer;
}

.delta-list-horizontal {
    display: flex;
    // flex-direction: row;
    gap: 1rem;
    li {
        list-style-type: none;
    }
}

.delta-flex-horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    * {
        margin-bottom: 0;
    }
}

.delta-flex-horizontal__right {
    justify-content: end;
}



.delta-results-table-filter-summary{
    // background-color: $delta-grey-light;
    background-color: $delta-info;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    p {
    color: #fff;        
    }

    li, a {
        color: #fff!important;
    }

    .govuk-form-group {
        margin: 0;
    }
}



.delta-results-batch-options {
    // background-color: $delta-grey-light;
    // padding: 1rem;
    margin-bottom: 2rem;
    align-items: center;

    * {
        margin-bottom: 0;
    }

    .govuk-button {
        margin-bottom: 0;
    }
}


.delta-results-main {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}



.delta-results-filter {
    background-color: $delta-grey-light;
    flex: 25%;
}

.delta-results-table-wrap {
    // background-color: lightpink;
    flex: auto;
}
// full screen stuff ===============

.delta-full-screen {
    min-height: 100vh;
}

.delta-active-filters {
    // background-color: #fff;
}

.detla-center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

// Organisation logos ===============

.delta-icon {
    max-height: 1rem;
    margin-bottom: -.2rem;
}


// Form groups inline ===============

.delta-form-inline-form-groups {
    display: flex;
    gap: 1rem;

}

// Organisation logos ===============

.delta-org-no-logo-s {
    // width: 50px;
    text-align: center;
    max-width: 50px;
    background-color: $delta-info;
    overflow: hidden;
    // display: flex;
    padding: 5px;
    // justify-content: center;
    border-radius: 2px;
    font-weight: 700;
    color: #fff;
}


.delta-org-logo-s {
    max-width: 50px;
}

.delta-org-logo-m {
    max-width: 80px;
}

.delta-org-logo-l {
    max-width: 120px;
}

.delta-org-logo-fl {
    float: left;
    margin: 0 1em 0 0;
}

.delta-org-logo-fr {
    float: right;
    margin: 0 0 0 1em;
}


// Notification banners ===============

.delta-notification-banner--success {
    border-color: $govuk-success-colour;
    background-color: $govuk-success-colour;
}

.delta-notification-banner--error {
    border-color: $govuk-error-colour;
    background-color: $govuk-error-colour;
}

.delta-text-error {
    color: $govuk-success-colour;
}

.delta-text-success {
color: $govuk-error-colour;
}

.delta-text-info {
    color: #1d70b8;
}

// Dashboard ===============

.delta-dashboard-masthead {
    background-color: $delta-info;
    padding: 2rem 1rem;
    * {
        color: #fff;
    }

    .delta-text-secondary {
        opacity: .5;
    }
}

// Delta certified ============

.delta-certified {
    padding: 2rem;
    background-color: $govuk-success-colour;    
    text-align: center;

    h2, h3, p {
        color: white;
    }
}


// Animations ===============

.delta-animation-loading {
    background-color: #f3f2f1;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
    animation: deltaLoading;
    animation-duration: 1.5s;    
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    
    .delta-animation-loading-indicator {
        width: 10%;
        height: 16px;
        text-indent: -999px;
        overflow: hidden;
        background-color: $delta-info;
        border-radius: 8px;
    }

    @keyframes deltaLoading {
        0% {
            padding-left: 0;
        } 
        100% {
            padding-left: 100%;
        }
    }

}

// Experiments ===============

// h1, h2, h3, h4, h5, h6, li, p {
//     background-color: pink;
//     max-width: 40ch;
// }


// 04/09/2024 Panels ===============

$mhclg-brand: #1d70b8;

.panel-nav {
    position: fixed;
    bottom: 1em;
    left: 1em;
    padding: 0;
    background-color: #fff;

    li {
        list-style-type: none;

        a {
            cursor: pointer;
        }
    }
}

.panel {    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    &:nth-child(odd) {
        //background-color: rgba(222, 222, 222, 0.14);
    }
}

.panel-cover {
    background-color: $mhclg-brand;

    * {
        color: #fff;
    }
    
}

/* Hide navPanel on screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .panel-nav {
        display: none;
    }
}



