{% extends "layouts/delta.html" %}

{% set pageName="Accessibility Audit, April 2025" %}


{% block beforeContent %}


{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Delta accessibility audit 2025
    </h1>

    <ul class="govuk-list govuk-list--number">
      <li><a href="#overview">Overview</a></li>
      <li><a href="#users">Test user accounts</a></li>
      <li><a href="#journeys">Journeys</a></li>
      <li><a href="#form">Form to replicate</a></li>     
      <li><a href="#toDo">To Do (dev notes, temp)</a></li>      
    </ul>       

    <h2 class="govuk-heading-l" id="overview">
      What is being audited
    </h2>

    <p class="govuk-body-l">We will be carrying out accessibility audits for the journeys (tasks) listed below. These involve 3 distinct user types across 3 different types of organisation, including both internal and external users.</p>

    <h2 class="govuk-heading-l">
      Delta overview
    </h2>

    <p>Delta is the main platform the Ministry of Housing, Communities and Local Government (MHCLG) uses to collect data and make payments. Part of the department's Funding Service, it helps the department make policy decisions, release national statistics and process payments to local authorities.</p>

    <h2 class="govuk-heading-l" id="users">
     Testing accounts
    </h2>

    <ul class="govuk-list govuk-list--number">
      <li><strong>Lena Whitaker</strong>, Rivendell Borough Council [external user]
          <ul class="govuk-list govuk-list--bullet">
            <li>Role: data provider</li>
            <li>lena@rivendell.gov.uk</li>
          </ul>
      </li>
      <li><strong>Tara Kimura</strong>, ACME Accountants [external user]
          <ul class="govuk-list govuk-list--bullet">
            <li>Role: certifier</li>
            <li>tara@acmeaccountants.com</li>
          </ul>
      </li>  
      <li><strong>Clive Badger</strong>, MHCLG (Wildlife Taskforce) [internal user]
          <ul class="govuk-list govuk-list--bullet">
            <li>Role: collections manager, dataset manager, form designer</li>
            <li>clive.badger@communities.gov.uk</li>
          </ul>
      </li>            
    </ul>

    <h2 class="govuk-heading-l" id="journeys">
     Journeys
    </h2>    

    <p>The journeys that will be audited.</p>

    <ul class="govuk-list govuk-list--number">
      <li><a href="#createDataset">Clive: create dataset and instance</a></li>
      <li><a href="#createForm">Clive: create form</a></li>
      <li><a href="#monitorCollection">Clive: monitor collection</a></li>      
      <li><a href="#returnStats">Lena: do stats collection return</a></li>
      <li><a href="#returnFund">Lena: do funding collection return</a></li>
      <li><a href="#certify">Tara: certify a record</a></li>      
    </ul>    
  
    <h2 class="govuk-heading-m" id="createDataset">Clive: create dataset and instance</h2>        
    <p>??? @KidRock</p>           

    <h2 class="govuk-heading-m" id="createForm">Clive: create form</h2>        
    <p>??? @KidRock</p>           
    <p><a href="#form">View form to replicate</a>.</p>


    <h2 class="govuk-heading-m" id="monitorCollection">Clive: monitor collection</h2> 
    <p>Login  &rarr; Landing  &rarr; Submission Dashboard  &rarr; Submission report  &rarr; Record store</p>           
    

    <h2 class="govuk-heading-m" id="returnStats">Lena: do stats collection return</h2>        
    <p>Email &rarr; Login  &rarr; Landing  &rarr; Collection  &rarr; [Add] Record</p>       

    <h2 class="govuk-heading-m" id="returnFund">Lena: do funding collection return</h2>        
    <p>Email &rarr; Login  &rarr; Landing  &rarr; Collection  &rarr; [Add] Record</p>   
    
    <h2 class="govuk-heading-m" id="certify">Tara: certify a record</h2>
    <p>Email &rarr; Login  &rarr; Landing  &rarr; [Certify] Record</p>   


    <h2 class="govuk-heading-l govuk-!-margin-top-9">
      Staging server
      </h2>  
    <p><a href="https://auth.delta.stage.communities.gov.uk/delta/login?response_type=code&client_id=delta-website&state=zpxjlrouaO-Zfz0LPLsL0Q_o0xEG1k484F0F-HQRiAM%3D&redirect_uri=/login/oauth2/redirect&ts=1744806762#" target="_blank" class="govuk-button">Delta staging server login</a> <br>(new window)</p>

  </div>
</div>

<hr class="govuk-!-margin-top-9">

<div class="govuk-grid-row govuk-!-margin-top-9" id="form">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">
      Form to replicate
      </h2>   
      <p class="govuk-body-l">Opposite is a mock-up of the form we would like Clive to recreate in Delta (form builder).</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Squirrel survey 2024</h1>

      <p>Please provide the following information for your area for 1 January 2024 to 31 December 2024.</p>

      <form method="post" action="/submit-squirrel-form">

        <!-- Red Squirrels -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-fieldset__legend--m" for="red-squirrels">
            How many red squirrels were sighted?
          </label>
          <input class="govuk-input govuk-input--width-5" id="red-squirrels" name="red-squirrels" type="number" min="0">
        </div>

        <!-- Grey Squirrels -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-fieldset__legend--m" for="grey-squirrels">
            How many grey squirrels were sighted?
          </label>
          <input class="govuk-input govuk-input--width-5" id="grey-squirrels" name="grey-squirrels" type="number" min="0">
        </div>

        <!-- Squirrel Training -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you offer squirrel up-skilling training?
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="training-yes" name="squirrel-training" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="training-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="training-no" name="squirrel-training" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="training-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <!-- Squirrel Mood -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              What is the mood of the squirrels?
            </legend>
            <div id="squirrel-mood-hint" class="govuk-hint">
              Select all that apply
            </div>            
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-rambunctious" name="squirrel-mood" type="checkbox" value="rambunctious">
                <label class="govuk-label govuk-checkboxes__label" for="mood-rambunctious">
                  Rambunctious
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-disgruntled" name="squirrel-mood" type="checkbox" value="disgruntled">
                <label class="govuk-label govuk-checkboxes__label" for="mood-disgruntled">
                  Disgruntled
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-feisty" name="squirrel-mood" type="checkbox" value="feisty">
                <label class="govuk-label govuk-checkboxes__label" for="mood-feisty">
                  Feisty
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-chilled" name="squirrel-mood" type="checkbox" value="chilled">
                <label class="govuk-label govuk-checkboxes__label" for="mood-chilled">
                  Chilled
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-lethargic" name="squirrel-mood" type="checkbox" value="lethargic">
                <label class="govuk-label govuk-checkboxes__label" for="mood-lethargic">
                  Lethargic
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-happy" name="squirrel-mood" type="checkbox" value="happy">
                <label class="govuk-label govuk-checkboxes__label" for="mood-happy">
                  Happy
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="mood-sad" name="squirrel-mood" type="checkbox" value="sad">
                <label class="govuk-label govuk-checkboxes__label" for="mood-sad">
                  Sad
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Submit</button>

      </form>
    </div>


</div>

<hr class="govuk-!-margin-top-9">

<div class="govuk-grid-row govuk-!-margin-top-9" id="toDo">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">
      To do
      </h2>  
      <ul class="govuk-list govuk-list--number">
        <li>Journey steps for Clive (form and dataset)</li>
        <li>Upload screen grabs of emails and link to relevant part of Delta (login?)</li>
        <li>Create pre-test data state checklists</li>
        <li>Discuss: replace current stats collection form, as it is too complex</li>
      </ul>          
    </div>
  </div>


{% endblock %}



