{% extends "layouts/delta.html" %}

{% set pageName="Reference designs for notification banners and panels" %}


{% block beforeContent %}


{% endblock %}


{% block content %}

<!-- ================= UX Design notes ================= -->
<div class="designNote govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-s">Reference designs for notification banners and panels</h2>
  <p>Completion vs creation</p>
  <p><a href="https://dluhcdigital.atlassian.net/browse/DT-858" target="_blank">https://dluhcdigital.atlassian.net/browse/DT-858</a></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Panels are displayed on completion of a process. This is typically at the end of creating something, like a dataset. Panels are typically displayed on the 'entity' summary page (acting in part like a header). Often summary content and next actions are listed beneath.</li>
    <li>Notifications banners used to confirm the completion of an action - like uploading a document or associating an organisation. Unlike panels banners contain content that relates to previous screen (the last thing the user was doing).</li>
    <li><a href="https://design-system.service.gov.uk/components/panel/">GDG Panel</a></li>
    <li><a href="https://design-system.service.gov.uk/components/notification-banner/">GDS notification banner</a></li>
  </ul>
</div>

<!-- ================= Panel ================= -->

<h2 class="govuk-heading-l">Panel</h2>

<!-- ================= UX Design notes ================= -->
<div class="designNote govuk-!-margin-bottom-4">
  <p>Standard panel structure is:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>H1: Success</li>
    <li>Paragraph: Entity tpe + <strong>Entity name</strong> + created.</li>
  </ul>
</div>  



<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Success
  </h1>
  <div class="govuk-panel__body">
    ThingType <strong>ThingName</strong> created.
  </div>
</div>

<p>Example</p>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Success
  </h1>
  <div class="govuk-panel__body">
    Dataset <strong>Squirrel Census</strong> created.
  </div>
</div>



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<!-- ================= Notification banners ================= -->

<h2 class="govuk-heading-l">Notification banner</h2>

<!-- ================= UX Design notes ================= -->
<div class="designNote govuk-!-margin-bottom-4">
  <p>Standard banner structure is:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Outcome in bold - e.g. 'success'</li>
    <li>Followed by details of the action that just took place.</li>
  </ul>  
  <p>It is unlikely we will use info banner. It has been created in case it is required.</p>  

</div>  

<!-- Success -->
<div class="govuk-notification-banner delta-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>  
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Organisation associated with instance.
    </p>
  </div>
</div>

<!-- Error-->
<!-- <div class="govuk-notification-banner delta-notification-banner--error" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Error
    </h2>
  </div>  
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      The following files failed to upload:
    </p>
    <ul class="govuk-list">
      <li><strong>Filename001</strong> &mdash; file size too large</li>
      <li><strong>Filename002</strong> &mdash; file name contains unsupported characters</li>
      <li><strong>Filename003</strong> &mdash; upload timed out (connection issue)</li>
    </ul>    

  </div>
</div> -->

<!-- Info -->
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      info
    </h2>
  </div>  
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Message goes here.
    </p>
  </div>
</div>


{% endblock %}
