{% extends "layouts/delta.html" %}

{% set pageName="Changelog" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-s">Design notes</h2>
    <p><a href="https://dluhcdigital.atlassian.net/browse/DT-918" target="_blank">DT-918</a></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>23/04/2024 - big redesign. On reflection decided to simplify and incorporate design changes in Delta 2.0 UI. Ditched idea of tag, release nav, etc.</li>
      <li>22/03/2024 - initial design for feedback</li>
    </ul>
  </div>

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Changelog",
        href: "#"
      }
    ]
  }) }}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Changelog
    </h1>
    <p class="govuk-body-l">Changes, updates and fixes on the Delta to improve stability and usability.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <!-- LOG ITEMS -->
  <div class="govuk-grid-column-two-thirds">

    <!-- LOG ITEM  START -->
    <div class="govuk-!-margin-top-6" id="23042024">
      <h2 class="govuk-heading-l">23 April 2024</h2>
      <h3 class="govuk-heading-s">All user enhancements</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>
      <h3 class="govuk-heading-s">External user  enhancements (example: Data Providers and Data Certifiers)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>            
      <h3 class="govuk-heading-s">Internal user enhancements (example: DLUHC staff)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
    <!-- LOG ITEM  END -->

    <!-- LOG ITEM  START -->
    <div class="govuk-!-margin-top-6" id="23032024">
      <h2 class="govuk-heading-l">23 March 2024</h2>
      <h3 class="govuk-heading-s">All user enhancements</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>
      <h3 class="govuk-heading-s">External user  enhancements (example: Data Providers and Data Certifiers)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>            
      <h3 class="govuk-heading-s">Internal user enhancements (example: DLUHC staff)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
    <!-- LOG ITEM  END -->    





  </div>
  <!-- INDEX (Release dates) -->
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">Releases</h2>
    <ul class="govuk-list goveuk-list--spaced">
      <li><a href="#23042024">23 April 2024</a></li>
      <li><a href="#23032024">23 March 2024</a></li>
    </ul>

  </div>
</div>

{% endblock %}



