{% extends "layouts/delta.html" %}

{% set pageName="Delta Collections Dashboard" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <!-- <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-s">Design notes</h2>
    <p><a href="https://dluhcdigital.atlassian.net/browse/DT-XXX" target="_blank">DT-XXX</a></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Note</li>
      <li>Note</li>
      <li>Note</li>
    </ul>
  </div> -->

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Collections dashboard (internal)",
        href: "#"
      }
    ]
  }) }}

{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Delta Collections Dashboard (DCD)
    </h1>

    <img src="/public/images/DCD-logo.png" alt="Delta Collections Dashboard logo" style="max-width: 300px; float: right;">

    <ul class="govuk-list govuk-list--bullet">
      <li>Internal reporting tool - high level, at a glance</li>
      <li>Page (dashboard) consists of two parts: annual chart (schedule), tabulated data</li>
    </ul>


    
    <h2 class="govuk-heading-l">
      What and why
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Primary</strong>
        <ul class="govuk-list govuk-list--bullet">
          <li>So we can see which collections are live or opening (coming) soon</li>
        </ul>
      </li>
      <li><strong>Secondary</strong>
        <ul class="govuk-list govuk-list--bullet">
          <li>Understand (get a sense of) size, responses, usage</li>
          <li>Link to where live collection (form) can be viewed) - collection entity</li>
          <li>Link to collection group</li>
          <li>Some idea of collection size / complexity?</li>
        </ul>
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Logic
    </h2>

    <p>A collection is deemed to be open if any organisation invited to return data for it has a deadline that hasn't elapsed (this includes extensions)</p>


    <h2 class="govuk-heading-l">
      Table columns (proposed)
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Collection name (link)</li>
      <li>Collection group (link)</li>
      <li>Opened?</li>
      <li>Deadline</li>
      <li>Extended<sup>*</sup></li>      
      <li>Owner (name and email)<sup>*</sup></li>
      <li>Type (grants vs stats)</li>
      <li>Submission method(s)</li>
      <li>Certification required (yay/nay)</li>
      <li>Associated organisations (invitees)</li>
      <li>Returns submitted<sup>*</sup></li>
      <li>Records submitted<sup>*</sup></li>
    </ul>

    <p><sup>*</sup> Do we have this info?</p>

    <h2 class="govuk-heading-l">
      To do / explore
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Is there a way of presenting a collection as a two-tone bar, the second part representing the extension</li>    
      <li>Does the 'header' need high level stats (as well as bar chart)</li>
      <li>Do we need filters?</li>
      <li>What are we doing about historical data?</li>
    </ul>
  </div>
</div>

{% endblock %}



