{% extends "layouts/delta.html" %}

{% set pageName="Date Picker" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-s">Design notes</h2>
    <p><a href="https://mhclgdigital.atlassian.net/browse/DT-1292" target="_blank">DT-1292</a></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Add data picker to table filters (<a href="https://design-system.service.gov.uk/patterns/dates/#asking-for-memorable-dates">GDS dates</a>, <a href="https://designnotes.blog.gov.uk/2013/12/05/asking-for-a-date-of-birth/">Asking for a date</a>, <a href="https://designsystem.gov.scot/components/date-picker">Scottish Gov Date Picker</a>)</li>
    </ul>    
  </div>

{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      UX design and spec for data range selector for us in filters throughout Delta
    </h1>

    <p><a href="https://mhclgdigital.atlassian.net/browse/DT-1292" target="_blank">https://mhclgdigital.atlassian.net/browse/DT-1292</a></p>

    <h3 class="govuk-heading-l">Post Brian chat, 24 October 2024&hellip;</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Dates to be entered as numbers in text fields as per <a href="https://design-system.service.gov.uk/patterns/dates/#asking-for-memorable-dates" target="_blank">GDS guidance (new window)</a></li>
      <li>Examples:
        <ul class="govuk-list govuk-list--bullet">
          <li>1 1 2024 (would be 1 January 2024)</li>
          <li>01 1 2024 (would be 1 January 2024)</li>
        </ul>
      </li>
      <li>Example dates should be displayed</li>
      <li>Never user a date picker / calendar (loads of accessibility issues)</li>
      <li>Beauty of this system is doesn't require javascript</li>
      <li>Text on apply filters should be dynamic. If no filters active it should say "Apply filters". If some filters active it should say "Update filters"</li>
      <li>"Clear filters" could be made less prominent (i.e. a text link) AND should only be displayed if some filters are active</li>
      <li>Error checking
        <ul class="govuk-list govuk-list--bullet">
          <li>You must enter a from date</li>
          <li>You must enter a to date or select all future dates</li>
          <li>Confirm to date is after from date, and vice versa</li>          
        </ul>
      </li>
      <li>Add link to 'clear dates' - only display if date range has been entered</li>
    </ul>
   

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-7 govuk-!-padding-4" style="background-color: #f3f2f1; ">

        <h3 class="govuk-heading-l">Date range</h3>

        <!-- DATE FROM -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                From
              </h1>
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              For example, 3 2022
            </div>            
            <div class="govuk-date-input" id="range-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="prange-from-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="prange-from-month" name="prange-from-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="range-from-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="range-from-year" name="range-from-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

         <!-- DATE FROM -->
         <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                To
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Any future date
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Specific date
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                To date
              </h1>
            </legend>

            <div id="passport-issued-hint" class="govuk-hint">
              For example, 3 2026
            </div>
    
            <div class="govuk-date-input" id="range-from">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="range-to-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-to-month" name="range-to-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="range-to-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="range-to-year" name="range-to-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <p><a href="#">Clear all dates</a></p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <button class="govuk-button">Apply filters</button>        
        <p><a href="#">Clear filters</a></p>


      </div>
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-l">Design notes</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><strong>'To date' and associated hint text and inputs only displayed if user selects radio button 'specify date'</strong></li>
          <li>Q: would it be better to use a checkbox for 'All future dates' and display the future date input fields if this is unchecked?</li>
          <li>'Clear all dates' link only displayed if any date range information has been entered</li>
          <li>'Clear filters' link only displayed if there are filters to display</li>
          <li>'Apply filters' button should say 'Update filters' if changes to filters have been made</li>
        </ul>
      </div>
    </div>


    <!-- OLD, INCORRECT THINKING, pre Brian chat -->

    <del>
      <h3 class="govuk-heading-l">Data range picker requirements</h3>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>User can specify day<sup>*</sup>, month, year for From and To</li>
        <li>Dates follow format: Day (number) Month (word) Year (number).
          <ul class="govuk-list govuk-list--bullet">
            <li>The day is 1-31 with 0 omitted for days less than 10.</li>
            <li>Months are written out.</li>
            <li>Years are always 4 digits.</li>
            <li>Example: <strong>1 January 2923 </strong>or <strong>31 October 2024</strong>.</li>
          </ul>
        </li>
        <li>For Delta where possible we want to allow users to avoid having to type in data. Instead we want to offer drop-down controls.</li>
        <li>We also want to offer calendar date picker</li>
        <li>There should be option to clear all data </li>
        <li>Needs to be accessible</li>
        <li>Needs error reporting:
          <ul class="govuk-list govuk-list--bullet">
            <li>You must enter from date</li>
            <li>You must enter to date</li>
            <li>Confirm to date is after from date, and vice versa</li>          
          </ul>
        </li>
        <li>Accessibility
          <ul class="govuk-list govuk-list--bullet">
            <li>Highlight fields that have missed data</ul>
            <li>Drop-down considerations?</li>
          </ul>        
        </li>
      </ul>
  
      <img src="/public/images/dateRangePicker.png" alt="date range picker"
  
      <p><sup>*</sup>Optional</p>
  
      <h3 class="govuk-heading-l">TBC</h3>
  
      <ul class="govuk-list govuk-list--bullet">
        <li>Sometime we wont want 
        </li>
      </ul>    
    </del>

  </div>
</div>

{% endblock %}



