{% extends "layouts/delta.html" %}

{% set pageName="Date Picker" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-s">Design notes</h2>
    <p><a href="https://mhclgdigital.atlassian.net/browse/DT-1292" target="_blank">DT-1292</a></p>
  </div>

{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      UX design and spec for data range selector for us in filters throughout Delta
    </h1>

    <p><a href="https://mhclgdigital.atlassian.net/browse/DT-1292" target="_blank">https://mhclgdigital.atlassian.net/browse/DT-1292</a></p>
    
    <h3 class="govuk-heading-l">Data picker requirements</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>User can specify day<sup>*</sup>, month, year</li>
      <li>Date follow format: Day Month Year. The day is a 1-31 with 0 omitted to days <=9. Months are spelt out. Years are always 4 digits. Example: 1 January 2923 or 31 October 2024.
      <li>For Delta where possible we want to allow users to avoid having to type in data. Instead we want to offer drop-down controls.</li>
      <li>Calendar date picker</li>
      <li>Should be option to clear data filter</li>
      <li>Needs to be accessible</li>
      <li>Needs error reporting (if date input required)</li>
    </ul>

    <p><sup>*</sup>Optional</p>

    <h3 class="govuk-heading-l">Data range selector requirements</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Note</li>
      <li>Calendar date picker</li>
      <li>Error checking
        <ul class="govuk-list govuk-list--bullet">
          <li>From and to dates exist</li>
          <li>To date is after from date</li>
        </ul>
      </li>
    </ul>    

  </div>
</div>

{% endblock %}



