{% extends "layouts/delta.html" %}

{% set pageName="Delta Dashboard (OKR)" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-s">Design notes</h2>
    <p><a href="https://dluhcdigital.atlassian.net/browse/DT-808" target="_blank">DT-808</a></p>
    <!-- <ul class="govuk-list govuk-list--bullet">
      <li>Note</li>
      <li>Note</li>
      <li>Note</li>
    </ul> -->
  </div>

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Admin",
        href: "#"
      },
      {
        text: "Delta Usage dashboard",
        href: "#"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">
  Delta usage dashboard
</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#month-current">
        Current month (February 2024)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="month-001">
       January 2024
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="month-002">
        December 2023
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="month-003">
        November 2023
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="month-archive">
        Archive
      </a>
    </li>    
  </ul>
  <!-- Month-current ===================== -->
  <div class="govuk-tabs__panel" id="current-month">
    <h2 class="govuk-heading-l">Current month</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Google Analytics</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Active users</th>
              <td class="govuk-table__cell">1,878</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Pages per visit</th>
              <td class="govuk-table__cell">2.4</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Bounce rate</th>
              <td class="govuk-table__cell">34%</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Session duration</th>
              <td class="govuk-table__cell">45s</td>
            </tr>                        
          </tbody>
        </table>                
      </div>
    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Log file analysis <span class="delta-text-secondary">(internal reports)</span></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Channel</th>
          <th scope="col" class="govuk-table__header">Delta (all)</th>
          <th scope="col" class="govuk-table__header">Collections</th>
          <th scope="col" class="govuk-table__header">Grants</th>
          <th scope="col" class="govuk-table__header">Local Government Finance</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">All</th>
          <td class="govuk-table__cell">1,201</td>
          <td class="govuk-table__cell">xxx</td>
          <td class="govuk-table__cell">xxx</td>
          <td class="govuk-table__cell">xxx</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Internal users</th>
          <td class="govuk-table__cell">1,001 <span class="delta-text-secondary">(87%)</span></td>
          <td class="govuk-table__cell">xxx</td>
          <td class="govuk-table__cell">xxx</td>
          <td class="govuk-table__cell">xxx</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">External users</th>
          <td class="govuk-table__cell">200 <span class="delta-text-secondary">(17%)</span></td>
          <td class="govuk-table__cell">xxx</td>
          <td class="govuk-table__cell">xxx</td>
          <td class="govuk-table__cell">xxx</td>
        </tr>
      </tbody>
    </table>    

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <dl class="delta-dl govuk-body">
          <dt>Help desk tickets opened</dt>
          <dd>30</dd>
          <dt>Help desk tickets closed</dt>
          <dd>30</dd>                
        </dl>        
      </div>
      <div class="govuk-grid-column-one-third">
        <dl class="delta-dl govuk-body">
          <dt>Error rate <span class="delta-text-secondary">(errors per session)</span></dt>
          <dd>0.23</dd>    
          <dt>Unscheduled downtime</dt>
          <dd>12 mins <span class="delta-text-secondary">(0.03%)</span></dd>              
        </dl>        
      </div>
      <div class="govuk-grid-column-one-third">
        <dl class="delta-dl govuk-body">
          <dt>User satisfaction score</dt>
          <dd>4.2 <span class=""delta-text-secondary">(5 votes)</span></dd>               
        </dl>        
      </div>            
    </div>

    <!-- OUTCOMES ======================== -->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Outcomes</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-heading-s">Collections</h4>
        <dl class="delta-dl govuk-body">
          <dt>Active forms</dt>
          <dd>187</dd>
          <dt>Submissions</dt>
          <dd>1000 <span class="delta-text-secondary"></span>(600 forms (60%) vs 400 uploads (40%))</dd>                
        </dl>        
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-heading-s">Grants</h4>
        <dl class="delta-dl govuk-body">
          <dt>Grants paid successfully</dt>
          <dd>xxx <span class="delta-text-secondary">(0.03%)</span></dd>    
          <dt>Unscheduled downtime</dt>
          <dd>12 mins <span class="delta-text-secondary">(0.03%)</span></dd>              
        </dl>        
      </div>
      <div class="govuk-grid-column-one-third">
        <h4 class="govuk-heading-s">Local Government Finance</h4>
        <dl class="delta-dl govuk-body">
          <dt>???</dt>
          <dd>???</dd>               
        </dl>        
      </div>            
    </div>    





    

  </div>

  <!-- Month-001 ===================== -->
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="month-001">
    <h2 class="govuk-heading-l">January 2024</h2>

  
  </div>



</div>


{% endblock %}
