{% extends "layouts/delta.html" %}

{% set pageName="Delta Dashboard (alpha)" %}

{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: '– <a class="govuk-link" href="mail:Laurence.Mallows@levellingup.gov.uk">help us improve this report</a>.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Delta Dashboard
    </h1>
    <!-- <p class="govuk-body-l">An overview of Delta usage and user experience.</p> -->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#month202402">
            February 2024
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#month202401">
            January 2024
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#month202312">
            December 2023
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#overview">
            Overview
          </a>
        </li>        
      </ul>
      <!-- TAB: February 2024 ============================ -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="month202402">
        <h2 class="govuk-heading-l">February 2024</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Executive summary</h3>
            <p>Partial data. Full report coming early March.</p>
            <p>&mdash; Laurence Mallows</p>
          </div>
        </div>

        <div class="govuk-grid-row delta-dashboard-masthead">
          <!-- Users -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">All</th>
                  <td class="govuk-table__cell">3,338</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Internal</th>
                  <td class="govuk-table__cell">500 <span class="delta-text-secondary">(15.0%)</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">External</th>
                  <td class="govuk-table__cell">2,838 <span class="delta-text-secondary">(85.0%)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Sessions -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Sessions</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">All</th>
                  <td class="govuk-table__cell">9,579</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Internal</th>
                  <td class="govuk-table__cell">1,820<span class="delta-text-secondary">(19.0%)</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">External</th>
                  <td class="govuk-table__cell">7,759 <span class="delta-text-secondary">(81.0%)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Google Analytics -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Engagement</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Pages per visit</th>
                  <td class="govuk-table__cell">7.46</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Bounce rate</th>
                  <td class="govuk-table__cell">14.0%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Session duration</th>
                  <td class="govuk-table__cell">13m 3s</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- SUPPORT & SATISFACTION ======================== -->
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Support, stability and satisfaction</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-headings">Support requests</h3>
            <dl class="delta-dl govuk-body">
              <dt>All</dt>
              <dd>xxx</dd>              
              <dt>Calls</dt>
              <dd>xxx <span class="delta-text-secondary">(xxx%)</span></dd>
              <dt>Emails</dt>
              <dd>xxx <span class="delta-text-secondary">(xxx%)</span></dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-headings">Errors</h3>
            <dl class="delta-dl govuk-body">
              <dt>People who encountered error</dt>
              <dd>46 <span class="delta-text-secondary">(1.4%)</span></dd>              
              <dt>Sessions with error</dt>
              <dd>62 <span class="delta-text-secondary">(0.6%)</span></dd>
              <dt>Av. errors per error session</dt>
              <dd>1.76</dd>              
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- <h3 class="govuk-headings">Notes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde debitis omnis perferendis accusamus repellat, rem excepturi vero commodi vitae molestias iusto eos nesciunt illum blanditiis, dolor porro quasi totam sapiente!</p> -->
          </div>
        </div>
        <!-- OUTCOMES ======================== -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Collections</h2>
            <dl class="delta-dl govuk-body">         
              <dt>Records</dt>
              <dd>130,665 <span class="delta-text-secondary">(126,069 via XML (96.5%))</span></dd>                   
              <dt>Active collections</dt>
              <dd>42</dd>
              <dt>Excel supported</dt>
              <dd>9 <span class="delta-text-secondary">(21.4%)</span></dd>        
              <dt>XML supported</dt>
              <dd>5 <span class="delta-text-secondary">(11.9%)</span></dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Submissions</h2>
            <dl class="delta-dl govuk-body">                       
              <dt>All</dt>
              <dd>9,172</dd>
              <dt>Orbeon</dt>
              <dd>8,582 <span class="delta-text-secondary">(93.6%)</span></dd>
              <dt>XML</dt>
              <dd>590 <span class="delta-text-secondary">(6.4%)</span></dd>                                       
            </dl>
          </div>          
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Grants</h2>
            <dl class="delta-dl govuk-body">
              <dt>Transactions</dt>
              <dd>5,708</dd>
              <dt>Payments acknowledged</dt>
              <dd>5,567 <span class="delta-text-secondary">(97.5%)</span></dd>              
              <dt>Payments value</dt>
              <dd>£xxx</dd>    
              <dt>Receipts value</dt>
              <dd>£xxx</dd>                            
            </dl>
          </div>
        </div>
      </div>  
      <!-- TAB: January 2024 ============================ -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="month202401">
        <h2 class="govuk-heading-l">January 2024</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Executive summary</h3>
            <p>December and January are the first full months of data and start to give us a baseline. Key insights for me so far include the high percent of data we receive vial a handful of XML uploads. And the relatively high rate of support required compared to the amount of open collections and error rates on the service. These suggest to me we have room to make the service much better for folks.</p>
            <p>&mdash; Laurence Mallows</p>
          </div>
        </div>

        <div class="govuk-grid-row delta-dashboard-masthead">
          <!-- Users -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">All</th>
                  <td class="govuk-table__cell">5,008</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Internal</th>
                  <td class="govuk-table__cell">152 <span class="delta-text-secondary">(3.0%)</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">External</th>
                  <td class="govuk-table__cell">4,856 <span class="delta-text-secondary">(97.0%)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Sessions -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Sessions</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">All</th>
                  <td class="govuk-table__cell">19,705</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Internal</th>
                  <td class="govuk-table__cell">2,906 <span class="delta-text-secondary">(14.7%)</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">External</th>
                  <td class="govuk-table__cell">16,799 <span class="delta-text-secondary">(85.3%)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Google Analytics -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Engagement</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Pages per visit</th>
                  <td class="govuk-table__cell">6.12</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Bounce rate</th>
                  <td class="govuk-table__cell">11.4%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Session duration</th>
                  <td class="govuk-table__cell">11m 11s</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- SUPPORT & SATISFACTION ======================== -->
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Support, stability and satisfaction</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-headings">Support requests</h3>
            <dl class="delta-dl govuk-body">
              <dt>All</dt>
              <dd>774</dd>              
              <dt>Calls</dt>
              <dd>166 <span class="delta-text-secondary">(21.4%)</span></dd>
              <dt>Emails</dt>
              <dd>608 <span class="delta-text-secondary">(78.6%)</span></dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-headings">Errors</h3>
            <dl class="delta-dl govuk-body">
              <dt>People who encountered error</dt>
              <dd>98 <span class="delta-text-secondary">(2.0%)</span></dd>              
              <dt>Sessions with error</dt>
              <dd>135 <span class="delta-text-secondary">(0.7%)</span></dd>
              <dt>Av. errors per error session</dt>
              <dd>1.97</dd>              
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- <h3 class="govuk-headings">Notes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde debitis omnis perferendis accusamus repellat, rem excepturi vero commodi vitae molestias iusto eos nesciunt illum blanditiis, dolor porro quasi totam sapiente!</p> -->
          </div>
        </div>
        <!-- OUTCOMES ======================== -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Collections</h2>
            <dl class="delta-dl govuk-body">           
              <dt>Records</dt>
              <dd>191,177 <span class="delta-text-secondary">(182,381 via XML (95%))</span></dd>                    
              <dt>Active collections</dt>
              <dd>45</dd>
              <dt>Excel supported</dt>
              <dd>8 <span class="delta-text-secondary">(17.8%)</span></dd>        
              <dt>XML supported</dt>
              <dd>4 <span class="delta-text-secondary">(8.9%)</span></dd>            
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Submissions</h2>
            <dl class="delta-dl govuk-body">                       
              <dt>All</dt>
              <dd>9,383 <span class="delta-text-secondary"></span></dd>
              <dt>Orbeon</dt>
              <dd>8,795 <span class="delta-text-secondary">(93.7%)</span></dd>
              <dt>XML</dt>
              <dd>587 <span class="delta-text-secondary">(6.3%)</span></dd>                                    
            </dl>
          </div>          
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Grants</h2>
            <dl class="delta-dl govuk-body">
              <dt>Payments (units)</dt>
              <dd>6,695</dd>
              <dt>Acknowledged payments</dt>
              <dd>6,690 <span class="delta-text-secondary">(99.93%)</span></dd>
              <dt>Payments total</dt>
              <dd>£xxx</dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- <h3 class="govuk-headings">Notes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde debitis omnis perferendis accusamus repellat, rem excepturi vero commodi vitae molestias iusto eos nesciunt illum blanditiis, dolor porro quasi totam sapiente!</p> -->
          </div>
        </div>
      </div>   
      <!-- TAB: December 2023 ============================ -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="month202312">
        <h2 class="govuk-heading-l">December 2023</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Executive summary</h3>
            <p>Coming soon.</p>
            <p>&mdash; Laurence Mallows</p>
          </div>
        </div>

        <div class="govuk-grid-row delta-dashboard-masthead">
          <!-- Users -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Users</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">All</th>
                  <td class="govuk-table__cell">2,562</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Internal</th>
                  <td class="govuk-table__cell">131 <span class="delta-text-secondary">(5.1%)</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">External</th>
                  <td class="govuk-table__cell">2,431 <span class="delta-text-secondary">(94.9%)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Sessions -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Sessions</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">All</th>
                  <td class="govuk-table__cell">8,807</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Internal</th>
                  <td class="govuk-table__cell">1,787 <span class="delta-text-secondary">(79.7%)</span></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">External</th>
                  <td class="govuk-table__cell">7,020 <span class="delta-text-secondary">(20.3%)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Google Analytics -->
          <div class="govuk-grid-column-one-third">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Engagement</caption>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Pages per visit</th>
                  <td class="govuk-table__cell">5.96</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Bounce rate</th>
                  <td class="govuk-table__cell">10.8%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Session duration</th>
                  <td class="govuk-table__cell">10m 43s</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- SUPPORT & SATISFACTION ======================== -->
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Support, stability and satisfaction</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-headings">Support requests</h3>
            <dl class="delta-dl govuk-body">
              <dt>All</dt>
              <dd>586</dd>              
              <dt>Calls</dt>
              <dd>66 <span class="delta-text-secondary">(11.3%)</span></dd>
              <dt>Emails</dt>
              <dd>520 <span class="delta-text-secondary">(88.7%)</span></dd>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-headings">Errors</h3>
            <dl class="delta-dl govuk-body">
              <dt>People who encountered error</dt>
              <dd>103 <span class="delta-text-secondary">(4.0%)</span></dd>              
              <dt>Sessions with error</dt>
              <dd>128 <span class="delta-text-secondary">(1.5%)</span></dd>
              <dt>Av. errors per error session</dt>
              <dd>1.41</dd>              
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- <h3 class="govuk-headings">Notes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde debitis omnis perferendis accusamus repellat, rem excepturi vero commodi vitae molestias iusto eos nesciunt illum blanditiis, dolor porro quasi totam sapiente!</p> -->
          </div>
        </div>
        <!-- OUTCOMES ======================== -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Collections</h2>
            <dl class="delta-dl govuk-body">           
              <dt>Records</dt>
              <dd>49,795 <span class="delta-text-secondary">(47,574 via XML (95.5%))</span></dd>                  
              <dt>Active collections</dt>
              <dd>29</dd>
              <dt>Excel supported</dt>
              <dd>3 <span class="delta-text-secondary">(10.3%)</span></dd>        
              <dt>XML supported</dt>
              <dd>3 <span class="delta-text-secondary">(10.3%)</span></dd>                          
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Submissions</h2>
            <dl class="delta-dl govuk-body">                        
              <dt>All</dt>
              <dd>2,333 <span class="delta-text-secondary"></span></dd>
              <dt>Orbeon</dt>
              <dd>2,221 <span class="delta-text-secondary">(95.2%)</span></dd>
              <dt>XML</dt>
              <dd>112 <span class="delta-text-secondary">(24.8%)</span></dd>                                         
            </dl>
          </div>          
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Grants</h2>
            <dl class="delta-dl govuk-body">
              <dt>Payments</dt>
              <dd>6,055</dd>
              <dt>Acknowledged payments</dt>
              <dd>6,055 <span class="delta-text-secondary">(100%)</span></dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- <h3 class="govuk-heading-m">Notes</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde debitis omnis perferendis accusamus repellat, rem excepturi vero commodi vitae molestias iusto eos nesciunt illum blanditiis, dolor porro quasi totam sapiente!</p> -->
          </div>
        </div>
      </div>         

      <!-- TAB: Overview ============================ -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overview">
        <h2 class="govuk-heading-l">Overview</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p>The Delta dashboard gives the service team and users the chance to see how well Delta is performing. We will be updating it each month to bring transparency to the service’s performance and spot usage patterns so we can keep improving the product.</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Change log</h3>
            <dl class="delta-dl govuk-body">
              <dt>28 February 2024</dt>
              <dd>Alpha version unveiled at Delta Show and Tell 🥳. Partial data for February</dd>                     
          </div>          
        </div>

      </div>      


    </div>

  </div>
</div>

{% endblock %}



