{% extends "layouts/delta.html" %}

{% set pageName="Template" %}


{% block beforeContent %}



{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Evidence files upload reporting
    </h1>
    

    <!-- ================= UX Design notes ================= -->
    <div class="designNote govuk-!-margin-bottom-4">
      <h2 class="govuk-heading-s">Outcome reporting after uploading evidence files</h2>
      <ul class="govuk-list govuk-list--bullet">        
        <li>We want to make it clear to the user which files have uploaded successfully and which haven't (providing a reason if the latter)</li>
      </ul>
    </div>    

  </div>
</div>

{% endblock %}
