{% extends "layouts/delta.html" %}
{% set pageName="User feedback form [concept]" %}
{% block content %}


<div class="panel xdelta-text-center">
  <h1 class="govuk-heading-xl govuk-!-margin-top-9">
    Delta user feedback
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-s govuk-!-margin-top-3">
        Updated: Friday, 9 May 2025
      </h4>

      <ul class="govuk-list govuk-list--number govuk-body-l">
        <li>09/05/2025 - Incorporates Delta and FS synchronization</li>
      </ul>

      <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
        <li><a href="#designs">Designs</a></li>      
        <li><a href="#references">Reference materials</a></li>      
      </ul>
    </div>
  </div>
</div>




<!-- Survey -->
<div class="panel" id="designs">

  <!-- Existing page content -->

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Collection groups",
        href: "/Collections groups"
      },
            {
        text: "Urban Hedgehog Monitoring",
        href: "wayCollectionGroup"
      },
      {
        text: "Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      }
    ]
  }) }}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-6">
        <h1 class="govuk-panel__title">
          Data submitted
        </h1>
      </div>
      <h2 class="govuk-heading-l govuk-!-margin-top-4">What happens next</h2>

      <p>We have sent you a confirmation email.</p>
      <p>You can view the submitted data in the <a href="#">Data Store</a>.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

      <!-- Feedback questions -->
      <h2 class="govuk-heading-l govuk-!-margin-top-6">Give feedback on your experience</h2>
      <div class="govuk-form-group govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              How did you find using Delta today? (optional)
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="howEasyToUse" name="howEasyToUse" type="radio" value="very-easy">
              <label class="govuk-label govuk-radios__label" for="howEasyToUse">
                Very satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="howEasyToUse-2" name="howEasyToUse" type="radio" value="easy">
              <label class="govuk-label govuk-radios__label" for="howEasyToUse-2">
                Satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="howEasyToUse-3" name="howEasyToUse" type="radio" value="neither">
              <label class="govuk-label govuk-radios__label" for="howEasyToUse-3">
                Neither satisfied nor dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="howEasyToUse-4" name="howEasyToUse" type="radio" value="difficult">
              <label class="govuk-label govuk-radios__label" for="howEasyToUse-4">
                Dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="howEasyToUse-4" name="howEasyToUse" type="radio" value="very-difficult">
              <label class="govuk-label govuk-radios__label" for="howEasyToUse-4">
                Very dissatisfied
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- feedback -->
      <div class="govuk-form-group  govuk-!-margin-bottom-9">
        <label class="govuk-heading-m" for="feedback">
          How could we improve Delta? (optional) 
        </label>
        <p class="govuk-hint">What made you choose those options? Is there anything we could do better? Please don't include personal or confidential information.</p>
        <textarea class="govuk-textarea" id="feedback" name="feedback" rows="3" aria-describedby="feedback-hint"></textarea>
        <!-- <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
          You have 1,250 characters remaining
        </div> -->
      </div>
      <!-- call back -->
      <div class="govuk-form-group  govuk-!-margin-bottom-9">
        <fieldset class="govuk-fieldset" aria-describedby="feedbackCallBack-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-heading-m">
              Take part in research (optional)
            </h1>
            <p  class="govuk-hint">Tick this box if you're happy to be contacted by email to take part in research to help improve Delta and other funding services from the Ministry of Housing, Communities and Local Government.</p>
            <!-- <p class="govuk-hint">Can we contact you to take part in future research to help us improve?</p> -->
            </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="feedbackCallBack" name="feedbackCallBack" type="checkbox" value="feedbackCallBack">
              <label class="govuk-label govuk-checkboxes__label" for="feedbackCallBack">
                Yes, I'm happy to be contacted.
              </label>
              </div>
            </div>
        </fieldset>
      </div>

      <!-- <p>We'll store your information securely. You can ask us to stop contacting you at any time. For more information, read our <a href="#">privacy notice.</a></p> -->

      <button class="govuk-button">Send feedback</button>
      <button class="govuk-button govuk-button--secondary">Skip</button>
    </div>
  </div>
</div>

<!-- Thank you  -->
<div class="panel" id="thankyou">
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Thank you
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
        Your feedback has been saved.
      </h3>
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="#">Home</a></p>
    </div>
  </div>
</div>


<!-- Inspiration -->
<div class="panel" id="references">
  <h2 class="govuk-heading-xl">References</h2>
  <ul class="govuk-list govuk-list--number govuk-body-l">
    <img class="delta-screenshot" src="public/images/grab-banner-feedback.png"><p>Feedback banner</p>
    <img class="delta-screenshot" src="public/images/grab-dvla-feedback.png"><p>DVLA feedback form</p>
    <img class="delta-screenshot" src="public/images/grab-MOT-research.png"><p>DVLA research opt-in text</p>
  </ul>

    <h2 class="govuk-heading-xl">Screen grabs (existing)</h2>
  <ul class="govuk-list govuk-list--number govuk-body-l">
    <img class="delta-screenshot" src="public/images/feedbackSubmission001.png"><p></p>Submission001</p>
    <img class="delta-screenshot" src="public/images/feedbackSubmission002.png"><p>Submission002</p>
    <img class="delta-screenshot" src="public/images/feedbackcertify001.png"><p>Certify001</p>
    <img class="delta-screenshot" src="public/images/feedbackcertify002.png"><p>Certify002</p>
    <img class="delta-screenshot" src="public/images/feedbackcertify003.png"><p>Certify003</a>
    <img class="delta-screenshot" src="public/images/feedbackcertify004.png"><p>Certify004</p>
    <img class="delta-screenshot" src="public/images/feedbackcertify005.png"><p>Certify005</p>
  </ul>
</div>



  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Hide header and footer in prootyping kit
      var header = document.querySelector('.govuk-header');
      var footer = document.querySelector('.govuk-footer');
      if (footer) {
          footer.style.display = 'none';
      }
      if (header) {
          header.style.display = 'none';
      }
    });
  </script>
{% endblock %}
