{% extends "layouts/delta.html" %}

{% set pageName="Feedback banner" %}
{% block beforeContent %}

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "We are improving Delta"
    },
    html: '– <a class="govuk-link" href="#">learn more and get involved</a>.'
  }) }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="ux-reading-width">
      <h1 class="govuk-heading-xl">
        Help us improve Delta
      </h1>
      <p class="govuk-body-l">We are in the process of improving the experience for all Delta users.</p>
  
      <h2 class="govuk-heading-s">What we are focusing on</h2>
  
      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Product stability</li>
        <li>Better guidance</li>
        <li>Ease of use (simpler forms)</li>
      </ul>   

      <p class="govuk-body">Enhancements will be deployed approximately every 2 weeks. If you'd like to learn more you are welcome to attend our <a href"#>Show and Tell sessions</a>. </p>
  
      <h2 class="govuk-heading-s">
        Share your thoughts
      </h2>
  
      <p class="govuk-body">Any input or ideas on how things could be improved would be greatly appreciated.</p>
  
      <p class="govuk-body">Email <a href="mailto:Laurence.Mallows@levellingup.gov.uk?subject=Delta feedback">Laurence.Mallows@levellingup.gov.uk</a> with any thoughts and ideas.</p>

      <p class="govuk-body">Emails with the subject "Delta feedback" will be automatically forwarded to the design team.</p>
      
      <p class="govuk-body-s">Last updated: 11 January 2024</p>
  
      <h2 class="govuk-heading-s">
        Support
      </h2>
  
      <p class="govuk-body">For questions or support visit ...</p>
    </div>


  </div>
</div>

{% endblock %}
