{% extends "layouts/delta.html" %}
{% set pageName="Form: FormName" %}
{% block beforeContent %}
<!-- ================= UX Design notes ================= -->
<div class="designNote govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-s">Design notes</h2>
  <p><a href="https://dluhcdigital.atlassian.net/browse/DT-825" target="_blank">DT-825</a></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>20/03/2024 - Added 'Orbeon terms explained' details component, and draft copy (created with Jeremy).</li>
    <li>21/02/2024 - Delete button removed, Clone button renamed 'Create copy', Orbeon / Repeats now 'yes/no' followed by count</li>
    <li>21/02/2024 - Swapped Form Name and Form Tile, added Form Description, "View form" -> "Test form", added instances (aka associations)</li>
    <li>20/02/2024 - Changes based on Jeremy's feedback; 'form title' caption added, bulk upload link, archive and delete buttons, clearer heading for Orbeon form data, audit trail (XML) link</li>
    <li>20/02/2024 - Added third column with Orbeon metedata</li>
    <li>20/02/2024 - Added new action "view form (new window) which should link to 'public' form (what data provider sees)</li>
    <li>20/02/2024 - Added "Associated grant" and link to grant in column 1</li>
    <li>20/02/2024 - Added "Version number" in column 1</li>
  </ul>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Setup",
      href: "#"
    },
    {
      text: "Forms",
      href: "#"
    },
    {
      text: "Parrot Census",
      href: "#"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
    Form name:
  </span>
    Parrot Census
  </h1>
  <div class="govuk-grid-row govuk-!-padding-bottom-7">
    <!-- Meta data -->
    <div class="govuk-grid-column-one-third">
        <dl class="delta-dl govuk-body">
          <dt>Form title</dt>
          <dd>ParrotCensus</dd>
          <dt>Form description</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>          
          <dt>Access group</dt>
          <dd>form-designers</dd>        
          <dt>Associated grant</dt>
          <dd><a href="#">Grant name</a></dd>        
          <dt>Status</dt>
          <dd>
            <strong class="govuk-tag govuk-tag--green">Published</strong>
            <strong class="govuk-tag govuk-tag--yellow">Draft</strong>
            <!-- <strong class="govuk-tag govuk-tag--grey">Closed</strong> -->
          </dd>
          <dt>Version number</dt>
          <dd>23</dd>        
          <dt>Updated</dt>
          <dd>22/01/24</dd>
          <dt>Update by</dt>
          <dd>steve.molesworth@softwire.com</dd>
        </dl>
    </div>
    <!-- actions -->
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">Actions</h2>
      <ul class="govuk-list govuk-list--spaced govuk-!-static-margin-bottom-5">
        <li><a class="govuk-link" href="#">Associate grant selection</a></li>
        <li><a class="govuk-link" href="#">Assign access group</a></li>
        <li><a class="govuk-link" href="#">Associate schema definition files</a></li>      
        <li><a class="govuk-link" href="#">Download data migration template</a></li>
        <li><a class="govuk-link" href="#">Download bulk upload template</a></li>
        <li><a class="govuk-link" href="#">Audit trail/previous versions (xml)</a></li>
        <!-- <li><a class="govuk-link" href="#">Test form (new tab)</a></li> -->
      </ul>
      <div>
    
      </div>
      <div class="">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Edit
        </button>          
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" >
          Create copy
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" disabled>
          Archive
        </button>         
      </div>
    </div>
    <!-- Orbeon form data -->
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">Orbeon form metadata</h2>
      <dl class="delta-dl govuk-body">
        <dt>Sections</dt>
        <dd>53</dd>
        <dt>Repeats</dt>
        <dd>Yes (10)</dd>
        <dt>Grids</dt>
        <dd>163</dd>
        <dt>Controls</dt>
        <dd>1,117</dt>                                
      </dl>

    <!-- explainer text -->
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Orbeon terms explained
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <h4>Sections</h4>
        <ul>
          <li>Can contain both information (guidance) and form controls (data collection elements)</li>
          <li>Sections are commonly used to group related content</li>
          <li>Oftentimes sections are linked to by way of an index (table of contents) on the left side of the form in ‘wizard view’</li>
        </ul>
        <h4>Repeats</h4>
        <ul>
          <li>Consist of repeated grid or section elements</li>
          <li>Useful for allowing the data provider to submit multiple entries with a common data structure in a single form</li>
          <li>A maximum number of repeats can be set</li>
          <li>A good example of this is planning applications, where each application may have a repeated grid for various details</li>
        </ul>
        <h4>Grids</h4>
        <ul>
          <li>Crucial for determining which forms support bulk upload</li>
          <li>If you download data as CSV for a form with a grid, you will receive multiple files:
            <ul>
              <li>The main file (CSV)</li>
              <li>A data file for each repeated element in the grid (CSV)</li>              
            </ul>
          </li>
        </ul>
        <h4>Control</h4>
        <ul>
          <li>Refers to the number of data input fields</li>
          <li>This provides a rough indication of the form’s size and complexity</li>
        </ul>

      </div>
    </details>          

    </div>




  </div>



  <h2 class="govuk-heading-l">Instance associations</h2>

  <!-- If not associated with any instance -->
  {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

  {{ govukWarningText({
    text: "Parrot Census as not been associated with an instance.",
    iconFallbackText: "Warning"
  }) }}  

  <!-- If associated with any instance -->
  <div class="designNote govuk-!-margin-bottom-4">
    <p class="govuk-!-margin-bottom-0">Or...</p>
  </div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Instances</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Instance ID</th>
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Submission period</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="#">sc1234</a></th>
      <td class="govuk-table__cell">Squirrel Census 2023</td>
      <td class="govuk-table__cell">Self-certify</td>
      <td class="govuk-table__cell">01/04/2023 - 31/03/2024</td>
      <td class="govuk-table__cell">New</td>
    </tr>
  </tbody>
</table>  


{% endblock %}
