{% extends "layouts/delta.html" %}

{% set pageName="Detla UX & Service Design" %}

{% block content %}
    <h1 class="govuk-heading-xl">
      Delta 2.0 UX launchpad
    </h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


    

    <h2 class="govuk-heading-l">Delta 2.0 in progress</h2>

    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/wayStart"><strong>Delta 2.0 - launchpad 🚀</strong></a> 20/05/2024</li>      
      <li><a href="/wayChangelog">Delta 2.0 - changelog</a> 7/11/2024</li>      
      <li><a href="/wayOrganisationInternalReport">Delta 2.0 - organisation report (internal)</a> 17/09/2024</li>
      <li><a href="/wayOrganisationInternalReport">Organisation [profile] report</a> 16/10/2024</li>
      <li><a href="/MIreport">MI Report</a> 30/10/2024</li>
      <li><a href="/MI-report-vision">MI Report vision</a> 8/11/2024</li>
      <li><a href="/wayDataStore">Delta 2.0 - Record Store</a> 27/11/2024</li>
      <li><a href="/wayDataStoreDownloadConfirm">Delta 2.0 - Record Store / Download confirm</a> 3/12/2024</li>
      <li><a href="/wayRecord-certificationPending">Delta 2.0 - Record evidence (approval)</a> 2/1/25</li>

    </ul>

    <h2 class="govuk-heading-l">UX complete</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/waySubmissionsDashboard">Delta 2.0 - Submissions Dashboard</a> 22/10/2024</li>
      <li><a href="/datePicker002">Date range selector option</a> 5/11/2024</li>
      <li><a href="/wayTables">Delta 2.0 - Tables</a> - 11/07/2024</li>
      <li><a href="/wayGlossary">Delta 2.0 - Glossary</a> - 20/06/2024</li>
      <li><a href="/wayWelcome">Delta 2.0 - Welcome text</a> - 20/06/2024</li>
      <li><a href="/wayOnboarding">Delta 2.0 - Onboarding</a> 29/04/2024</li>
      <li><a href="/wayOverview">Delta 2.0 - Overview</a> 25/04/2024</li>
      <li><a href="/deltaDashboard">Delta Dashboard (usage reporting)</a> 24/06/2024</li>
      <li><a href="/animationLoading">Animation: loading [content]</a> 20/02/2024</li>
      <li><a href="/bannersAndPanels">Reference designs for notification banners and panels [DT-858]</a> 7/2/24</li>
      <li><a href="/evidenceFilesUpload">Evidence file upload reporting [DT-713]</a> 7/2/24</li>
      <li><a href="/formList">Forms</a> and <a href="/formSummary">Form summary [DT-825]</a> 5/2/24</li>
      <li><a href="/uploadDocumentMidWorkflow">Upload document mid workflow [DT-840]</a> 6/2/24</li>
      <li><a href="/feedback">Feedback banner [DT-804]</a></li>
      <li><a href="/search">Search dashboard [<a href="https://dluhcdigital.atlassian.net/browse/DT-733" target="_blank">DT-733</a>, <a href="https://dluhcdigital.atlassian.net/browse/DT-801" target="_blank">DT-801</a> and <a href="https://dluhcdigital.atlassian.net/browse/DT-921" target="_blank">DT-921]</a></li>
      <li><a href="/UxTicketEvaluationCriteria">[Internal] UX ticket evaluation criteria</a> 8/2/24</li>
    </ul>

    <h2 class="govuk-heading-l">Feedback and testing</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/collectionsDashboard">Collections Dashboard [<a href="https://dluhcdigital.atlassian.net/jira/software/c/projects/DT/issues/DT-1143?jql=project%20%3D%20%22DT%22%20AND%20text%20~%20%22ux%22%20ORDER%20BY%20created%20DESC" target="_blank">DT-1143</a>]</a> 01/03/2024</li>
      <li><a href="/changelog">Changelog [DT-918]</a> 22/03/2024</li>
      <li><a href="/results-evidence">Results [DT-676]</a> 30/1/24</li>
      <li><a href="/test-panels">Panel test</a> 04/09/2024</li>
    </ul>

    <h2 class="govuk-heading-m" id="commsExt">Comms testing (temp links)</h2>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/wayCommsBanner-testing" target="_blank">Banner</a> </li>
      <li><a href="/public/images/Delta-1-0-w-banner.png" target="_blank">Banner on Delta 1.0</a> (screenshot)</li>
      <li><a href="/public/images/Delta-2-0-w-banner.png" target="_blank">Banner on Delta 2.0</a> (screenshot)</li>
      <li><a href="/wayCommsHelpGuidance-testing" target="_blank">Help and guidance</a></li>
      <li><a href="/wayCommsExt-testing" target="_blank">Email / External</a></li>
      <li><a href="/wayCommsInt-testing" target="_blank">Email / Internal</a></li>
    </ul>

    <h2 class="govuk-heading-l">Descoped or paused</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/summaryAccessGroup">Access group created (summary page) [DT-864]</a> 7/2/24</li>
      <li><a href="/uxAndOkr">UX activities and OKR alignment</a></li>
      <li><a href="/mhclg-data-ownership-vision">Data Ownership Vision</a> 25/09/2024</li>
      <li><a href="/mhclg-data-ownership-mocks">Data Ownership Mockups</a> 25/09/2024</li>      
    </ul>

    <h2 class="govuk-heading-l">Template</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/template">Template</a></li>
    </ul>

  </div>
  <div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-l">Skunkworks</h2>

    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/exploration-excel-upload" target="_blank"><del>Bulk</del> Excel uploads</a> (exploration)</li>
     </ul>    

    <h2 class="govuk-heading-l">UX resources</h2>

    <img src="/public/images/hedgehog001.gif" alt="Hedgehog" class="govuk-!-static-margin-bottom-3">

    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      
      <li><a href="https://mhclgdigital.atlassian.net/wiki/spaces/DT/pages/79235615/UX+and+User+Research+findings+documentation" target="_blank">MHCLG Confluence UX area</a> (research assets)</li>
      <li><a href="https://dluhcdigital.atlassian.net/wiki/spaces/DT/pages/70320719/UX+and+User+Research" target="_blank">DLUCH Confluence UX area</a> (research assets)</li>
      <li><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1736925081893/229d1f519b8932354f7f0e5125c87d8840be866b" target="_blank">Mural: post MVP designs and ticket links</a></li>
      <li><a href="https://mhclg-my.sharepoint.com/:p:/g/personal/lesley_fosh_communities_gov_uk/EWXCRbv5s0NLuZ_OmAJdw0cBT7kSZMbfoZ8p-rAx4n8iwA?e=zvABNt" target="_blank">MHCLG 2024-2026 Digital Strategy</a> (PDF on Sharepoint)</li>
     </ul>


    <h2 class="govuk-heading-l">Presentations</h2>

    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/demo-record-store">Demo: Record Store</a> 09/01/2025</li> <!-- DEMO -->
      <li><a href="/demo-submissions-dashboard">Demo: Submission Dashboard designs</a> 1/10/24</li> <!-- DEMO -->
    </ul>

    <h2 class="govuk-heading-l">Bulk upload research</h2>

    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1727855276443/dd001e589b8bfd08df3a4a7805b3b0289447802d" target="_blank">Planning Mural</a> 06/02/2025</li>
      <li><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1712828910321/f8dfc97bddd84c4a75a23ea17b5d2d983771291e" target="_blank">Bulk upload error analysis (Ayodele)</a> 6/2/24</li>
    </ul>


  </div>
</div>
{% endblock %}
