{% extends "layouts/delta.html" %}

{% set pageName="Detla UX & Service Design" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      UX Launchpad!!
    </h1>

    <h2 class="govuk-heading-l">UX complete</h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/deltaDashboard">Delta Dashboard</a> 07/06/2024</li>      
      <li><a href="/animationLoading">Animation: loading [content]</a> 20/02/2024</li>      
      <li><a href="/bannersAndPanels">Reference designs for notification banners and panels [DT-858]</a> 7/2/24</li>            
      <li><a href="/evidenceFilesUpload">Evidence file upload reporting [DT-713]</a> 7/2/24</li>                     
      <li><a href="/formList">Forms</a> and <a href="/formSummary">Form summary [DT-825]</a> 5/2/24</li>              
      <li><a href="/uploadDocumentMidWorkflow">Upload document mid workflow [DT-840]</a> 6/2/24</li>
      <li><a href="/feedback">Feedback banner [DT-804]</a></li>      
      <li><a href="/search">Search dashboard [<a href="https://dluhcdigital.atlassian.net/browse/DT-733" target="_blank">DT-733</a>, <a href="https://dluhcdigital.atlassian.net/browse/DT-801" target="_blank">DT-801</a> and <a href="https://dluhcdigital.atlassian.net/browse/DT-921" target="_blank">DT-921]</a></li>
      <li><a href="/UxTicketEvaluationCriteria">[Internal] UX ticket evaluation criteria</a> 8/2/24</li>
    </ul>

    <h2 class="govuk-heading-l">Feedback and testing</h2>
    
    <ul class="govuk-list govuk-list--bullet"> 
      <li><a href="/changelog">Changelog [DT-918]</a> 22/03/2024</li>
      <li><a href="/results-evidence">Results [DT-676]</a> 30/1/24</li>    
    </ul>    

    <h2 class="govuk-heading-l">In progress (draft)</h2>    

    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <!-- <li><a href="/deltaDashboard-v001">Delta Dashboard v001</a> 26/02/2024</li> -->
      <li><a href="/straightTalking">Wayfinding</a> - JTBD and <a href="/straightTalking#changelog">changelog</a> 12/06/2024</li>      
      <!-- <li><a href="/wayGoals">Wayfinding goals</a> 18/04/2024</li>        -->
      <!-- <li><a href="/wayStart30042024">Wayfinding - Launchpad (temp)</a> 26/04/2024</li>    -->
      <!-- <li><a href="/wayCollectionGroupConcepts">Wayfinding - Collection groups table</a> 15/05/2024</li>          -->
      <li><a href="/wayStart">Wayfinding - Launchpad 🚀</a> 20/05/2024</li>   
      <li><a href="/wayOnboarding">Wayfinding - Onboarding</a> 29/04/2024</li>   
      <li><a href="/wayOverview">Wayfinding - Overview</a> 25/04/2024</li>   
      <!-- <li><a href="/wayLandingDataProvider">Wayfinding - Landing</a> 22/04/2024</li>        
      <li><a href="/wayLandingDataProviderOLD">Wayfinding v001 - Landing</a> 30/04/2024</li>              
      <li><a href="/wayAccountDataProvider">Wayfinding - Account</a> 21/04/2024</li>
      <li><a href="/wayCollectionGroup">Wayfinding - Collection group</a> 21/04/2024</li>
      <li><a href="/wayCollectionsDataProvider">Wayfinding - Collections</a> 21/04/2024</li>                
      <li><a href="/wayCollectionDataProvider-collectionRecords">Wayfinding - Collection</a> 17/04/2024</li>
      <li><a href="/wayRecord-draft">Wayfinding - Record draft</a> 18/04/20244</li>
      <li><a href="/wayRecord-certificationPending">Wayfinding - Record pending certification</a> 18/04/20244</li>
      <li><a href="/wayRecord-certified">Wayfinding - Record certified</a> 18/04/20244</li>          
      <li>OLD <a href="/wayLandingDataProviderOLD">Wayfinding v001 - Landing</a> 30/04/2024</li> -->
    </ul>        
 
    <h2 class="govuk-heading-l">Descoped or paused</h2>    

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/summaryAccessGroup">Access group created (summary page) [DT-864]</a> 7/2/24</li>            
      <li><a href="/uxAndOkr">UX activities and OKR alignment</a></li>      
      <li><a href="/ux-checklist">UX Checklist</a></li>
      <li><a href="/__wayLandingDataProvider-journey">Wayfinding - design iterations</a> 16/04/2024</li>      
    </ul>       

    <h2 class="govuk-heading-l">Template</h2>    
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/template">Template</a></li>            
    </ul>           

  </div>
</div>
{% endblock %}
