{% extends "layouts/delta.html" %}

{% set pageName="Detla UX & Service Design 3" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      UX Launchpad
    </h1>

    <h2 class="govuk-heading-l">Ready for dev</h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/uploadDocumentMidWorkflow">Upload document mid workflow</a> 6/2/24</li>
      <li><a href="/feedback">Feedback banner</a></li>      
      <li><a href="/search">Search dashboard</a></li>
    </ul>

    <h2 class="govuk-heading-l">Feedback and testing</h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/results-evidence">Results (feedback requested)</a></li>
      <li><a href="/formSummary">Form summary</a></li>            
    </ul>    

    <h2 class="govuk-heading-l">In progress (draft)</h2>    

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/uxAndOkr">UX activities and OKR alignment</a></li>
      <li><a href="/evidenceFilesUpload">Evidence file upload reporting</a></li>    
      <li><a href="/bannersAndPanels">Reference designs for notification banners and panels</a></li>
    </ul>        

    <h2 class="govuk-heading-l">Descoped or paused</h2>    

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/ux-checklist">UX Checklist</a></li>
      <li><a href="/feedback">Feedback banner</a></li>
    </ul>       

  </div>
</div>
{% endblock %}
