{% extends "layouts/delta.html" %}

{% set pageName="MHCLG Data Ownership design mock" %}


{% block content %}





<div class="panel xdelta-text-center">
  <h1 class="govuk-heading-xl">
    Data ownership design mocks
  </h1>  
  <div class="designNote">
    <p><a href="/mhclg-data-ownership-vision">Presentation</a></p>
  </div>  

  <ul class="govuk-list govuk-list--number">
    <li><a href="#dataCatalogueHome">Data Catalogue home page (search)</a></li>
    <li><a href="#dataCatalogueResult">Data Catalogue result</a></li>
    <li><a href="#dataCatalogueLabel">Data Catalogue 'nutrition label'</a></li>
    <li><a href="#checklist">Checklist</a></li>
  </ul>

</div>


<!-- Data Catalogue home (search) -->
<div class="panel" id="dataCatalogueHome">

  <div style="max-width: 800px; margin: 0 auto;">
    <h1 class="govuk-heading-xl">
      Data Catalogue
    </h1>  
    <p class="govuk-body-l">2,543 data assets indexed. <a href="#">Learn more about MHCLG's data catalogue</a>.</p>
  
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="event-name">
          Search the catalogue
        </label>
      </h1>
      <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>
  
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Advanced options
        </span>
      </summary>
      <div class="govuk-details__text">
       TBC
      </div>
    </details>  
  
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Search
    </button>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body-s"><strong>Did you know</strong> in the last 30 days<a href="#"> 12 new data assets</a> were added and <a href="#">563 updated</a>?</p>

  </div>

</div>

<!-- Data Catalogue result -->
<div class="panel " id="dataCatalogueResult">

    <h1 class="govuk-heading-l">
      3 results for "hedgehog"
    </h1>  

      
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Filter results
        </span>
      </summary>
      <div class="govuk-details__text">
       TBC
      </div>
    </details>  


    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="published">Recently created</option>
        <option value="updated" selected>Recently updated</option>
        <option value="comments">Name A-Z</option>
      </select>
    </div>    


    <!-- result item -->
    <h3 class="govuk-heading-m"><a href="#">English hedgehog census 2023</a></h3>
    <p><strong>Description: </strong>Data from local authorities regarding confirmed hedgehog sightings in towns with populations exceeding 10,000.</p>
    <p><small>
      <strong>Type</strong> Stats | 
      <strong>Status</strong> Online | 
      <strong>Created</strong> 22 September 2024 | 
      <strong>Updated</strong> 24 September 2024 | 
      <strong>Review frequency</strong> Annually |      
      <strong>Last reviewed</strong> 24 September 2024
      </small>
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- result item -->
    <h3 class="govuk-heading-m"><a href="#">British wildlife report 2023</a></h3>
    <p><strong>Description:</strong> Compiling data from various biodiversity collections, this report outlines the state of British wildlife in 2023.</p>
    <p><small>
      <strong>Type</strong> Report | 
      <strong>Status</strong> Online | 
      <strong>Created</strong> 22 August 2024 | 
      <strong>Updated</strong> 24 August 2024 | 
      <strong>Review frequency</strong> Annually |      
      <strong>Last reviewed</strong> 18 August 2024
      </small>
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">    

    <!-- result item -->
    <h3 class="govuk-heading-m"><a href="#">Endangered species survey 2013</a></h3>
    <p><strong>Description:</strong> Local authority data on endangered species.</p>
    <p><small>
      <strong>Type</strong> Stats | 
      <strong>Status</strong> Archived | 
      <strong>Created</strong> 12 July 2020 | 
      <strong>Updated</strong> 12 August 2022 | 
      <strong>Review frequency</strong> Quarterly |      
      <strong>Last reviewed</strong> 12 August 2022
      </small>
    </p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">        

    <p><a href="#dataCatalogueHome">New search</a></p>
   

</div>

<!-- Data Catalogue label -->
<div class="panel" id="dataCatalogueLabel">

  <h1 class="govuk-heading-l">
    <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Data asset</small><br>English hedgehog census 2023</h1>

  <p class="govuk-body-l"><strong>Description: </strong>Data from local authorities regarding confirmed hedgehog sightings in towns with populations exceeding 10,000.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">  
      <ul class="govuk-list">
        <li><strong>Type:</strong> Stats</li>
        <li> <strong>Status:</strong> Online</li>
        <li><strong>Created:</strong> 22 September 2024 </li>
        <li><strong>Updated:</strong> 24 September 2024</li>
        <li><strong>Review frequency:</strong> Annually</li>
        <li><strong>Last reviewed:</strong> 24 September 2024</li>
      </ul>      
    </div>
    <div class="govuk-grid-column-one-half">  
      <ul class="govuk-list">
      <li></li>
      <li><strong>Data provenance:</strong> Collection</li>
      <li><strong>Usage rights:</strong> free with attribution</li>
      <li><strong>Data guardian:</strong> Jane Jones (<a href="#">jane.jones@email.com</a>)</li>
      <li><strong>SRO:</strong> Pippa Smith, Job Title, Department</li>
      </ul>

    </div>
  </div>    




  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p><a href="#dataCatalogueResult">Back to search results</a></p>

</div>



<!-- CHECKLIST-->
<div class="panel" id="checklist">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Data guardian checklist
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#commisssioning">
          1. Commissioning data
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#using">
          2. Acquiring, storing, monitoring and using data
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#deleting">
          3. Archival and deletion of data
        </a>
      </li>
    </ul>
    
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="commisssioning">
      <h2 class="govuk-heading-l">Commissioning data</h2>
      <p class="">Before you begin does this data, or similar, already exist? Check the <a href="#">Data Catalogue (new window)</a>.</p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="xxxx-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you?
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Identified the tools you will use for <em>collecting</em> the data? <a href="#">Learn more about collection tools</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-2" name="xxxx" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-2">
                Identified the tools you will use for <em>storing</em> the data? <a href="#">Learn more about storage tools</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Identified the tools you will use for <em>managing</em> the data? <a href="#">Learn more about management tools</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Identified potential <em>reference data</em> to reuse? <a href="#">Learn more about reference data</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Identified potential <em>data standards</em> to reuse? <a href="#">Learn more about data standards</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Considered data <em>interoperability</em> and linkage potential? <a href="#">Learn more about interoperability</a>.
              </label>
            </div>                                    
          </div>
        </fieldset>
      </div>      
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="using">
      <h2 class="govuk-heading-l">Acquiring, storing, monitoring and using data</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="xxxx-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you?
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Drawn up data share agreements (if applicable).
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Defined data access controls. 
              </label>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Created an entry in Data Catalogue (and IAR). 
              </label>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Checked data accuracy. 
              </label>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Every 6 months/year checked metadata and reference data are up to date. 
              </label>
            </div>          
          </div>
        </fieldset>
      </div>    
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="deleting">
      <h2 class="govuk-heading-l">3. Archival and deletion of data</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="xxxx-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you?
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Followed data archiving procedures (if applicable)
              </label>
            </div>          
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Followed data deletion procedures (if applicable)
              </label>
            </div>                                      
          </div>
        </fieldset>
      </div>    
    </div>    
  </div>  


</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {

    // Hide header and footer in prootyping kit
    var header = document.querySelector('.govuk-header');
    var footer = document.querySelector('.govuk-footer');

    if (footer) {
        footer.style.display = 'none';
    }
    if (header) {
        header.style.display = 'none';
    }


  });
</script>

{% endblock %}





