{% extends "layouts/delta.html" %}

{% set pageName="MHCLG Data Ownership Vision" %}


{% block content %}

<div class="panel-nav">

  <div class="controls">
    <button id="startBtn" class="govuk-button">Start</button>
    <button id="prevBtn" class="govuk-button" disabled>Previous</button>
    <button id="nextBtn" class="govuk-button" disabled>Next</button>
  </div>


</div>



<div class="panel">
  <h1 class="govuk-heading-xl">
    MHCLG data ownership vision
  </h1>
  <h2 class="govuk-heading-m">
    Updated: 18 September 2024
  </h2>
  
  <p>A proposal for new MHCLG ways of working with the data assets</p>
  <p>The ambition is to have these recommendations adopted and implemented before Christmas 2024.</p>

  <h3 class="govuk-heading-l">What is a data asset?</h3>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Any data collected by MHCLG. Examples: A, B and C</li>
    <li>Any data built upon data from MHCLG or others. Examples: X, Y and Z</li>
  </ul>

  <h3 class="govuk-heading-l">Presentation structure</h3>

  <ul class="govuk-list govuk-list--number govuk-list--spaced">
    <li><a href="#hwy">What</a>, <a href="why">why</a> and <a href="how">how</a></li>
    <li>Simplified <a href="#roles">roles and responsibilities</a></li>
    <li><a href="#reources">Resources and links</a></li>
  </ul>  

  <div class="designNote">
    <p><a href="https://mhclg-my.sharepoint.com.mcas.ms/:p:/r/personal/susan_davies_communities_gov_uk/_layouts/15/guestaccess.aspx?e=X1MVbZ&share=EZD78pNUNX1DqyoRKMtU898BbSg2dy6Fs94niHzCiNNDqQ">Presentation (Sharepoint)</a></p>
  </div>

  <div class="designNote delta-hide">
    
    <ol class="govuk-list govuk-list--number">
      <li>Overview / mission / why / what this presentation is and isn't</li>
      <li>Delivery ambition - what problems are we looking to solve, something that can be adopted without undue burden, not boiling ocean, why this is exciting (the first time ever a central list will exist)</li>
      <li>Blueprint
        <ol class="govuk-list govuk-list--number">
          <li>Architecture diagram</li>
        </ol>
      </li>    
      <li>Design concepts
        <ol class="govuk-list govuk-list--number">
          <li>Search interface (imagine the power...)</li>
          <li>Checklist screen shots (don't worry, this will be very easy for data owners...)</li>
        </ol>
      </li>    
      <li>Roles and responsibilities
        <ol class="govuk-list govuk-list--number">
          <li>Primary
            <ol class="govuk-list govuk-list--number">
              <li>Data Guardian</li>
              <li>Senior Responsible Owner (SRO)</li>
            </ol>
          </li>
          <li>Secondary
            <ol class="govuk-list govuk-list--number">
              <li>[Data] Service Owner</li>
              <li>Head of Professional Statistics</li>
              <li>Chief Data Officer</li>
            </ol>
          </li>        
        </ol>      
      </li>
      <li>Example (case study)</li>
      <li>Summary (why this is great for MHCLG and wider (who?), it's simple but powerful)</li>
      <li>Appendix
        <ol class="govuk-list govuk-list--number">
          <li>Next steps / contact / request for input</li>
          <li>FAQs (key messages repeated)
            <ol class="govuk-list govuk-list--number">
              <li>How does this differ from Assets Register</li>
              <li>????</li>
              <li>Design process (what has been done, who has been involved)</li>        
              <li>Challenges / risks to adoption</li>
            </ol>
          </li>            
          <li>Useful links
            <ol class="govuk-list govuk-list--number">
              <li>CDDO</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>



</div>

<div class="panel" id="why">
  <h2 class="govuk-heading-xl">
   Why are we doing this?
  </h2>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Support better ways of working with data - primarily through collaboration</li>
    <li>A new, simplified, powerful means of working with data</li>
    <li>Provide a clear understand what data assets exist, how it is being maintained and how it's being used</li>
    <li>Facilitate more rapid and agile insight provision to the DPM and wider public sector</li>
    <li>Meet legal obligations regards to data standards</li>
  </ul>

  <p>[Animated screenshots here - DC search interface, DC search result, nutrition label]</p>
</div>

<div class="panel" id="what">
  <h2 class="govuk-heading-xl">
    What is the vision (proposed solution)?
  </h2>
  <p>Establish for the first time a centalised list of all data assets under the control of MHCLG - the Data Catalogue</p>
  <p>The Data Catalog will provide&hellip;</p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>A one-stop directory of all data assets</li>
    <li>Details on the data within in each asset, including where possible the data schema</li>
    <li>Contact details</li>
    <li>Usage rights and commercial information</li>
    <li>Links to further information and where the data is held</li>
    <li>Details on how the data was derived (sources)</li>
    <li>When the data was last updated and next review date</li>
  </ul>

  <p>[Illustration of relationships between Data Asset, Data Catalogue, data source(s)]</p>


</div>

<div class="panel" id="how">
  <h2 class="govuk-heading-xl">
    How will it be successfully delivered?
  </h2>
  <p>The Data Catalogue only works if everyone goes all in; all data catalogued with entries actively maintained.</p>
  <p>To achieve this we need to&hellp;</p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>New, clear, simple roles with regards to data (built upon CDDO and optimised for MHCLG needs)</li>
    <li>Monitoring and maintenance requirements backed by tools and workflows that don't add workload burden</li>
  </ul>    

  <p>[Image of data assets roles pyramid: Data Guardian at top, SRO on left, secondary roles on right)</p>
  <!-- <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>A one-stop directory of all data assets</li>
    <li>Details of the data within in each asset, including where possible the data schema</li>
    <li>Usage rights and commercial information</li>
    <li>Links to further information and where the data is held</li>
    <li>Details on how the data was derived (sources)</li>
    <li>When the data was last updated and next review date</li>
    <li>Contact details - for questions and usage requests</li>
  </ul>   -->


</div>

<div class="panel" id="roles">
  <h2 class="govuk-heading-xl">
    Clear roles, simple responsibilities
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">  
      <h3 class="govuk-heading-l">Primary roles</h3>
      <p>Responsible for a data asset</p>

      <h4 class="govuk govuk-heading-m"><a href="#roleDataGuardian">Data Guardian</a></h4>
      <p>The Data Guardian is responsible for the day-to-day operational activities needed to support the data governance decisions made by SROs in their data domain: Data Management​, Data Quality​, Facilitating Compliance​</p>
    
      <h4 class="govuk govuk-heading-m"><a href="#roleSRO">Senior Responsible Officer</a></h4>
      <p>The Senior Responsible Owner (SRO) has dedicated ownership for a logical grouping of data or data domain and an in-depth knowledge of the overall business strategy in their area.​</p>       
    </div>
    <div class="govuk-grid-column-one-half">  
      <h3 class="govuk-heading-l">Secondary roles</h3>
      <p>In the wider data landscape</p>

      <h4 class="govuk govuk-heading-m"><a href="#roleServiceOwner">Data Service Owner</a></h4>
      <p>The Senior Responsible Owner (SRO) has dedicated ownership for a logical grouping of data or data domain and an in-depth knowledge of the overall business strategy in their area.​</p>   
      
      <h4 class="govuk govuk-heading-m"><a href="#roleHeadStatistics">Head of Profession for Statistics</a></h4>
      <p>The Senior Responsible Owner (SRO) has dedicated ownership for a logical grouping of data or data domain and an in-depth knowledge of the overall business strategy in their area.​</p>   
    
      <h4 class="govuk govuk-heading-m"><a href="#roleChiefDataOfficer">Chief Data Officer</a></h4>
      <p>The Senior Responsible Owner (SRO) has dedicated ownership for a logical grouping of data or data domain and an in-depth knowledge of the overall business strategy in their area.​</p>         
    </div>
  </div>  

</div>

<div class="panel" id="roleDataGuardian">
  <h2 class="govuk-heading-xl">
    Data Guardian
  </h2>
  <h3 class="govuk-heading-m">Responsible for a data asset​</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">  
      <p>The Data Guardian is responsible for the day-to-day operational activities needed to support the data governance decisions made by SROs in their data domain.​</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Facilitating Data Management​</li>
        <li>Facilitating Data Quality​</li>
        <li>Facilitating Compliance</li>
      </ul>       
      <p></p>
    </div>
    <div class="govuk-grid-column-one-half">  
      <p>Domain knowledge: Moderate to High​
      <p>Data literacy: Moderate​</p>
      <p>Role level: SEO and above​</p>
        
      <p>Equivalent roles:</p> ​  
      <p>CDDO: Data Steward​  </p>
      <p>IAR: Information Subject Matter Expert​</p>
    </div>
  </div>    

  
</div>

<div class="panel" id="roleSRO">
  <h2 class="govuk-heading-xl">
    Senior Responsible Officer
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel" id="roleServiceOwner">
  <h2 class="govuk-heading-xl">
    Data Service Owner
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel" id="roleHeadStatistics">
  <h2 class="govuk-heading-xl">
    Head of Profession for Statistics
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel" id="roleChiefDataOfficer">
  <h2 class="govuk-heading-xl">
    Chief Data Officer
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>



<div class="panel" id="resources">
  <h2 class="govuk-heading-xl">
    Resources
  </h2>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Case studies (new window)</li>
  </ul>
</div>

<div class="panel">
  <h2 class="govuk-heading-xl">
    xxxx
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      // Hide header and footer in prootyping kit
      var header = document.querySelector('.govuk-header');
      var footer = document.querySelector('.govuk-footer');

      if (footer) {
          footer.style.display = 'none';
      }
      if (header) {
          header.style.display = 'none';
      }


      // Panel stuff =================================================================================================================
      const panels = document.querySelectorAll('.panel');
      const prevBtn = document.getElementById('prevBtn');
      const nextBtn = document.getElementById('nextBtn');
      const startBtn = document.getElementById('startBtn');
      
      let currentPanel = -1; // Before start button is clicked, no panel is active

      // Function to update the button states
      function updateButtons() {
        startBtn.disabled = currentPanel <= 0;
        prevBtn.disabled = currentPanel <= 0;
        nextBtn.disabled = currentPanel === panels.length - 1;
      }

      // Function to scroll to a specific panel
      function scrollToPanel(index) {
        if (index >= 0 && index < panels.length) {
          currentPanel = index;
          panels[currentPanel].scrollIntoView({ behavior: 'smooth' });
          updateButtons();
        }
      }

      // Event listener for the Start button
      startBtn.addEventListener('click', function () {
        scrollToPanel(0);  // Scroll to the first panel
      });

      // Event listeners for the Next and Previous buttons
      prevBtn.addEventListener('click', function () {
        scrollToPanel(currentPanel - 1);
      });

      nextBtn.addEventListener('click', function () {
        scrollToPanel(currentPanel + 1);
      });

      // Initial check to ensure buttons are in the right state
      updateButtons();

    });
  </script>

{% endblock %}





