{% extends "layouts/delta.html" %}

{% set pageName="MHCLG Data Ownership Vision" %}


{% block content %}

<div class="panel-nav">

  <div class="controls">
    <button id="startBtn" class="govuk-button">Start</button>
    <button id="prevBtn" class="govuk-button" disabled>Previous</button>
    <button id="nextBtn" class="govuk-button" disabled>Next</button>
  </div>


</div>



<div class="panel">
  <h1 class="govuk-heading-xl">
    MHCLG data ownership vision
  </h1>
  <h2 class="govuk-heading-s">
    Updated: 19 September 2024
  </h2>
  
  <p class="govuk-body-l">A proposal for new MHCLG ways of working with the data assets.</p>

  <h3 class="govuk-heading-m">What is a data asset?</h3>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Any data collected by MHCLG. Examples: A, B and C</li>
    <li>Any data built upon data from MHCLG or others. Examples: X, Y and Z</li>
  </ul>

  <!-- <h3 class="govuk-heading-l">Presentation structure</h3> -->

  <!-- <ul class="govuk-list govuk-list--number govuk-list--spaced">
    <li><a href="#hwy">What</a>, <a href="why">why</a> and <a href="how">how</a></li>
    <li>Simplified <a href="#roles">roles and responsibilities</a></li>
    <li><a href="#reources">Resources and links</a></li>
  </ul>   -->

  <!-- <div class="designNote">
    <p><a href="https://mhclg-my.sharepoint.com.mcas.ms/:p:/r/personal/susan_davies_communities_gov_uk/_layouts/15/guestaccess.aspx?e=X1MVbZ&share=EZD78pNUNX1DqyoRKMtU898BbSg2dy6Fs94niHzCiNNDqQ">Presentation (Sharepoint)</a></p>
  </div> -->

</div>

<div class="panel" id="why">
  <h2 class="govuk-heading-xl">
   Better smarter data (why)
  </h2>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Support better ways of working with data - primarily through collaboration</li>
    <li>A new, simplified, powerful means of working with data</li>
    <li>Provide a clear understand what data assets exist, how it is being maintained and how it's being used</li>
    <li>Facilitate more rapid and agile insight provision to the DPM and wider public sector</li>
    <li>Meet legal obligations regards to data standards</li>
  </ul>

  <p>[Animated screenshots here - DC search interface, DC search result, nutrition label]</p>
</div>

<div class="panel" id="what">
  <h2 class="govuk-heading-xl">
    The vision (what)
  </h2>
  <h3 class="govuk-heading-l">
    The Data Catalog
  </h2>  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">  
      <p class="govuk-body-l">A comprehensive list of all data assets under the control of MHCLG.</p>
      <p>The following information will be stored for each asset:</p>
      <ul class="govuk-list govuk-list--bullet xxxgovuk-list--spaced">
        <li>Detail of the data including, where possible, data schemas</li>
        <li>Details on how the data was derived (sources)</li>
        <li>Usage rights and commercial information</li>        
        <li>Links to further information and where the data is held</li>        
        <li>When the data was last updated and next review date</li>        
        <li>Contact details</li>
      </ul>          
  
    </div>
    <div class="govuk-grid-column-one-half">  
      <img src="/public/images/dataOwnership-architecture.png" alt="" class="delta-responsive-image">
      <p class="delta-caption">The Data Catalogue acts as a central directory and offers search and reporting capabilities. It will not host the data assets; they will remain in their existing systems.</small></p>
    </div>
  </div>

</div>

<div class="panel" id="how">
  <h2 class="govuk-heading-xl">
    Success (how)
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">  
      <h3 class="govuk-heading-l">
        Simplicity and clarity
      </h2>          
      <p class="govuk-body-l">The Data Catalogue only works if all data assets are registered and entries actively maintained.</p>
      <p>To achieve this we need&hellip;</p>
    
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>New, clear, simple roles with regards to data ownership</li>
        <li>Effective monitoring tools</li>
        <li>Working practices that reduce, not add to, the burden for data owners</li>
      </ul>           
  
    </div>
    <div class="govuk-grid-column-two-thirds">  
      <!-- <img src="/public/images/dataOwnership-roles.png" alt="" class="delta-responsive-image">
      <p class="delta-caption">The Data Guardian sits at the centre and is supported by an SRO and, as required, other specialists.</p> -->
    </div>
  </div>  



  <!-- <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>A one-stop directory of all data assets</li>
    <li>Details of the data within in each asset, including where possible the data schema</li>
    <li>Usage rights and commercial information</li>
    <li>Links to further information and where the data is held</li>
    <li>Details on how the data was derived (sources)</li>
    <li>When the data was last updated and next review date</li>
    <li>Contact details - for questions and usage requests</li>
  </ul>   -->


</div>

<div class="panel" id="roles">
  <h2 class="govuk-heading-xl delta-text-center">
    Clear roles and responsibilities
  </h2>

  <img src="/public/images/dataOwnership-roles.png" alt="" class="delta-responsive-image">
  <p class="delta-caption">The Data Guardian sits at the centre and is supported by an SRO and, as required, other specialists.</p>  

  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-one-half delta-text-right">  
      <h3 class="govuk-heading-l">Primary roles</h3>
      <p>Responsible for a data asset</p>
      <h4 class="govuk govuk-heading-m"><a href="#roleDataGuardian">Data Guardian</a></h4> 
      <h4 class="govuk govuk-heading-m"><a href="#roleSRO">Senior Responsible Officer</a></h4>
    </div>
    <div class="govuk-grid-column-one-half">  
      <h3 class="govuk-heading-l">Secondary roles</h3>
      <p>In the wider data landscape</p>
      <h4 class="govuk govuk-heading-m"><a href="#roleServiceOwner">Data Service Owner</a></h4>
      <h4 class="govuk govuk-heading-m"><a href="#roleHeadStatistics">Head of Profession for Statistics</a></h4>
      <h4 class="govuk govuk-heading-m"><a href="#roleChiefDataOfficer">Chief Data Officer</a></h4>
    </div>
  </div>  

</div>

<div class="panel" id="roleDataGuardian">  
  <h2 class="govuk-heading-xl">
    Data Guardian
  </h2>
  <h3 class="govuk-heading-m">Responsible for a data asset​</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">  
      <img src="/public/images/role-data-guardian.png" alt="" class="delta-fr detla-image-sm">          
      <p class="govuk-body-l">The Data Guardian is responsible for the day-to-day operational activities needed to support the data governance decisions made by SROs in their data domain.​</p>   
      <ul class="govuk-list">
        <li><strong>Domain knowledge:</strong> Moderate to high​</li>
        <li><strong>Data literacy:</strong> Moderate​</li>
        <li><strong>Role level:</strong> SEO and above</li>
        <li><strong>Equivalent roles:</strong> CDDO - Data Steward, IAR - Information Subject Matter Expert</li>
      </ul>

      <h3 class="govuk-heading-s">Primary roles​</h3>
      <ul class="govuk-list">
        <li><a href="#role-data-guardian-facilitating-data-management">Facilitating data management</a></li>      
        <li><a href="#role-data-guardian-facilitating-data-quality">Facilitating data quality</a></li>      
        <li><a href="#role-data-guardian-facilitating-data-compliance">Facilitating data compliance</a></li>      
    </div>
    <div class="govuk-grid-column-one-half">  


      <h3 class="govuk-heading-m" id="role-data-guardian-facilitating-data-management">Facilitating data management​</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Acquire, store, and enable usage of data in line with MHCLG policies including security and cyber​</li>
        <li>Be the operational point of contact</li>
        <li>Relationship Management: understand and manage data lineage/flow to understand and mitigate impacts of changes, including for statistical products based on the data​</li>
        <li>Consult stakeholders regarding the impacts of any changes to the data, e.g. ensure that statistical products can still be generated based on the data​</li>
        <li>Handle data governance queries (checking with SRO for tactical guidance if needed)​</li>
        <li>Draw up data share agreements including seeking legal advice and work with other Data Guardians to resolve cross cutting issues/risks​</li>
        <li>Define the data access controls​</li>
        <li>Identify the secure tools needed for data collection and provision the acquire, store, and manage the data​</li>
        <li>Update the Information Assets Register (IAR) and MHCLG Data Catalogue records​</li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9" id="role-data-guardian-facilitating-data-quality">Facilitating data quality</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Responsible for data interoperability through application of existing data standards and reuse of reference data</li>
        <li>Responsible for resolving data quality issues</li>
        <li>Periodically report on value attained from the collected data</li>
        <li>Ensure that the data and reference data is kept up-to-date</li>
      </ul>   
      
      <h3 class="govuk-heading-m govuk-!-margin-top-9" id="role-data-guardian-facilitating-data-quality">Facilitating data compliance</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Facilitate governance processes for data access, data archival and data deletion ensuring appropriate retention periods are in place for all data</li>
        <li>Facilitate data quality governance processes for monitoring, investigating, communicating, triaging, remediating & reporting</li>
        <li>Report to the SRO and other forums on compliance, issues, fixes and changes</li>
        <li>Create processes, procedures and standards in the data domain (defining privacy statements)</li>
      </ul>         

    </div>
  </div>    

  
</div>

<div class="panel" id="roleSRO">
  <h2 class="govuk-heading-xl">
    Senior Responsible Officer
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel" id="roleServiceOwner">
  <h2 class="govuk-heading-xl">
    Data Service Owner
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel" id="roleHeadStatistics">
  <h2 class="govuk-heading-xl">
    Head of Profession for Statistics
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel" id="roleChiefDataOfficer">
  <h2 class="govuk-heading-xl">
    Chief Data Officer
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>



<div class="panel" id="resources">
  <h2 class="govuk-heading-xl">
    Resources
  </h2>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>Case studies (new window)</li>
  </ul>
</div>

<div class="panel">
  <h2 class="govuk-heading-xl">
    xxxx
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {

      // Hide header and footer in prootyping kit
      var header = document.querySelector('.govuk-header');
      var footer = document.querySelector('.govuk-footer');

      if (footer) {
          footer.style.display = 'none';
      }
      if (header) {
          header.style.display = 'none';
      }


      // Panel stuff =================================================================================================================
      const panels = document.querySelectorAll('.panel');
      const prevBtn = document.getElementById('prevBtn');
      const nextBtn = document.getElementById('nextBtn');
      const startBtn = document.getElementById('startBtn');
      
      let currentPanel = -1; // Before start button is clicked, no panel is active

      // Function to update the button states
      function updateButtons() {
        startBtn.disabled = currentPanel <= 0;
        prevBtn.disabled = currentPanel <= 0;
        nextBtn.disabled = currentPanel === panels.length - 1;
      }

      // Function to scroll to a specific panel
      function scrollToPanel(index) {
        if (index >= 0 && index < panels.length) {
          currentPanel = index;
          panels[currentPanel].scrollIntoView({ behavior: 'smooth' });
          updateButtons();
        }
      }

      // Event listener for the Start button
      startBtn.addEventListener('click', function () {
        scrollToPanel(0);  // Scroll to the first panel
      });

      // Event listeners for the Next and Previous buttons
      prevBtn.addEventListener('click', function () {
        scrollToPanel(currentPanel - 1);
      });

      nextBtn.addEventListener('click', function () {
        scrollToPanel(currentPanel + 1);
      });

      // Initial check to ensure buttons are in the right state
      updateButtons();

    });
  </script>

{% endblock %}





