{% extends "layouts/delta.html" %}

{% set pageName="MHCLG Data Ownership Vision" %}


{% block content %}





<div class="panel xdelta-text-center">
  <h1 class="govuk-heading-xl">
    Data ownership design mocks
  </h1>  
  <div class="designNote">
    <p><a href="/mhclg-data-ownership-vision">Presentation</a></p>
  </div>  

  <ul class="govuk-list govuk-list--number">
    <li><a href="#">Data store home page (search)</a></li>
    <li><a href="#">Data store results</a></li>
    <li><a href="#">Data store 'nutrition label'</a></li>
    <li><a href="#checklist">Checklist</a></li>
  </ul>

</div>



<!-- CHECKLIST-->
<div class="panel" id="checklist">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Data guardian checklist
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#commisssioning">
          1. Commissioning data
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#using">
          2. Acquiring, storing, monitoring and using data
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#deleting">
          3. Archival and deletion of data
        </a>
      </li>
    </ul>
    
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="commisssioning">
      <h2 class="govuk-heading-l">Commissioning data</h2>
      <p class="">Before you begin does this data, or similar, already exist? Check the <a href="#">Data Catalogue (new window)</a>.</p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="xxxx-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you?
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Identified the tools you will use for <em>collecting</em> the data? <a href="#">Learn more about collection tools</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-2" name="xxxx" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-2">
                Identified the tools you will use for <em>storing</em> the data? <a href="#">Learn more about storage tools</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Identified the tools you will use for <em>managing</em> the data? <a href="#">Learn more about management tools</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Identified potential <em>reference data</em> to reuse? <a href="#">Learn more about reference data</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Identified potential <em>data standards</em> to reuse? <a href="#">Learn more about data standards</a>.
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx-3" name="xxxx" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx-3">
                Considered data <em>interoperability</em> and linkage potential? <a href="#">Learn more about interoperability</a>.
              </label>
            </div>                                    
          </div>
        </fieldset>
      </div>      
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="using">
      <h2 class="govuk-heading-l">Acquiring, storing, monitoring and using data</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="xxxx-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you?
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Drawn up data share agreements (if applicable).
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Defined data access controls. 
              </label>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Created an entry in Data Catalogue (and IAR). 
              </label>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Checked data accuracy. 
              </label>
            </div>            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Every 6 months/year checked metadata and reference data are up to date. 
              </label>
            </div>          
          </div>
        </fieldset>
      </div>    
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="deleting">
      <h2 class="govuk-heading-l">3. Archival and deletion of data</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="xxxx-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you?
            </h1>
          </legend>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Followed data archiving procedures (if applicable)
              </label>
            </div>          
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="xxxx" name="xxxx" type="checkbox" value="xxxxx">
              <label class="govuk-label govuk-checkboxes__label" for="xxxx">
                Followed data deletion procedures (if applicable)
              </label>
            </div>                                      
          </div>
        </fieldset>
      </div>    
    </div>    
  </div>  


</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {

    // Hide header and footer in prootyping kit
    var header = document.querySelector('.govuk-header');
    var footer = document.querySelector('.govuk-footer');

    if (footer) {
        footer.style.display = 'none';
    }
    if (header) {
        header.style.display = 'none';
    }


  });
</script>

{% endblock %}





