{% extends "layouts/delta-mi.html" %}

{% set pageName="MI Report" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-l">Design notes</h2>

    <p><strong>We are proposing separating 'bulk uploads' into 'Excel uploads' and 'Bulk uploads' - the latter covering XML and API methods.</strong></p>

    <ul class="govuk-list govuk-list--bullet">    
      
    </ul>
    <h2 class="govuk-heading-s">Design objectives / challenges</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li>Audience: internal Delta users - primarily SLT — who will be Delta savvy</li>
      <li>At a glance insight into current activity on Delta. Data not burried away in hard to reach systems</li>
      <li>Not a replacement for Submission Dashboard or Record Store</li>
      <li>NEW: One-click access to all collection entity pages (signpost)</li>
      <li>High level data on: submission method options, submission method uptake (usage), collection complexity, error rates (indicative)</li>
      <li>Facilitate better form design and timely (proactive) intention (when errors encountered)</li>
    </ul>    

    <h2 class="govuk-heading-s">To do / discuss</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li>This is hard - enough but not too much.</li>
      <li>What do we mean by 'error rates'? Validation errors.</li>    
      <li>What are these error rates supposed to highlight /result in?</li>
      <li>Are we comfortable for error (validation) rates being for Excel uploads only?</li>
      <li>Validation error 'report'.</li>
    </ul>

    <h2 class="govuk-heading-s">Useful links</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li><a href="/MI-report-vision" target="_blank">MI Report vision (in draft)</a></li>
      <li><a href="/deltaDashboard">Original concept dashboard</a></li>
      <li><a href="/MIreport-collections-original">MI Report: Collections (original / pre MVP)</a></li>
      <li>Original ticket <a href="https://dluhcdigital.atlassian.net/browse/DT-1290" target="_blank">DT-1290</a></li>
    </ul>    

    <h2 class="govuk-heading-s">Change Log</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li>14/03/2025 – Post-Jeremy demo</li>    
      <li>Filters: Added a provisional option for saved but not yet approved collections.</li>
      <li>Filters: Introduced the concept of tags (#financeForm). However, the mechanism for managing tags (finding, adding, and removing) requires further investigation.</li>
      <li>Warning: The 'quick' filters section is expanding. We may consider moving this into the table filters, but doing so would remove the simplicity of the current one-click options.</li>
      <li>Table: Renamed "Complexity" to "Size".</li>
      <li>Table: Moved "Bulk" to dedicated columns for XML and API.</li>
      <li>Table: Removed the error column (help information updated).</li>
      <li>Added a download button.</li>
    </ul>


  </div>

{% endblock %}


{% block content %}

    
<div class="xpanel">

    <h1 class="govuk-heading-xl"><small class="delta-text-secondary govuk-!-font-size-27">MI Report</small><br>
      Collections</h1>

      <div class="delta-summary-blocks">

      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Collections</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">120</p>
        </div>
      </div>
      <!-- BLOCK END -->
      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Organisations</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">360</p>
        </div>
      </div>
      <!-- BLOCK END -->    
      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Returns</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">1,160</p>
        </div>
      </div>
      <!-- BLOCK END -->          
      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title govuk-bod">Records</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">123,870</p>
        </div>
      </div>       
    </div><!-- close delta-summary-blocks -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with table labels
            </span>
          </summary>
          <div class="govuk-details__text delta-reading-width">
    
          <ul class="govuk-list govuk-list--spaced">
            <li><strong>Collection name</strong>: The last date any organisation can submit a return. This includes extensions.</li>
            <li><strong>Status</strong>:
              <ul>
                <li><strong>Future</strong>: The collection is currently closed and will open in the future.</li>
                <li><strong>Open</strong>: The collection is open, and there are no extensions.</li>
                <li><strong>Closed</strong>: The collection is closed, and returns cannot be submitted.</li>
              </ul>
            </li>        
            <li><strong>Deadline</strong>: The last date any organisation can submit a return. This includes extensions.</li>
            <li><strong>Client</strong>: the type of collection, such as statistics, grants, fund, or other (to be confirmed).</li>
            <li><strong>Size</strong>: the number of fields in the form, used as an indication of collection complexity.</li>
            <li><strong>Form, Excel and Bulk</strong>: The number of returns broken down by submission method. '—' means that submission method is not supported for this collection.</li>
            <li><strong>Return</strong>:
              <ul>
                <li><strong>Returns vs orgs invited</strong>: the number of unique organisations that have submitted a return vs the number of organisation asked. A percentage is displayed for ease of comparing collections.</li>
                <li><strong>Records</strong>: the total number of records across all submissions, including the average number of records per submission. Click to view in Record Store.</li>
              </ul> 
            </li>
          </ul>
    
    
          </div>
        </details>
    
      </div>
      <div class="govuk-grid-column-one-third delta-align-right">
        <button class="govuk-button">Download (.csv)</button>
      </div>
    </div> 

    <!-- table results start -->
    <div class="delta-results">
      <!-- filters -->
      <div id="delta-results-filters" class="hidden">
        <div class="govuk-!-padding-4" style="background-color: #f3f2f1;">
          <h1 class="govuk-heading-l">
            Filters <strong class="govuk-tag">1 active</strong>
          </h1>
        </div>
        <div class="delta-results-filters-filters">
          <!-- Quick search -->
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keywords
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
            </div>
          </div>           
          <!-- ACCORDION-->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <!-- Client-->
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Client
                  </span>
                </h2>
              </div>
              <div id="filter-group-Client" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Client001" name="Client" type="checkbox" value="statistics" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Client001">
                        Statistics
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Client002" name="Client" type="checkbox" value="grants" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Client002">
                        Grants
                      </label>
                    </div>                
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Client003" name="Client" type="checkbox" value="fundingService" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Client003">
                        Funding Service
                      </label>
                    </div>
                  </div>
              </div>
            </div>  
            <!-- Collection status-->
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Collection status
                  </span>
                </h2>
              </div>
              <div id="filter-group-collection-status" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="collection-status-001" name="collection-status" type="checkbox" value="open" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="collection-status-001">
                        Open
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="collection-status-002" name="collection-status" type="checkbox" value="provisional" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="collection-status-002">
                        Provisional
                      </label>
                    </div>                
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="collection-status-003" name="collection-status" type="checkbox" value="future" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="collection-status-003">
                        Future
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="collection-status-003" name="collection-status" type="checkbox" value="closed" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="collection-status-003">
                        Closed
                      </label>
                    </div>                    
                  </div>
              </div>
            </div>   
            <!-- Date range-->
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Date range
                  </span>
                </h2>
              </div>
              <div id="filter-group-date-range" class="govuk-accordion__section-content">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="date-range" name="date-range" type="radio" value="monthToDate">
                        <label class="govuk-label govuk-radios__label" for="date-range">
                          Month to date (10 days)
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="date-range-2" name="date-range" type="radio" value="last30">
                        <label class="govuk-label govuk-radios__label" for="date-range-2">
                          Last 30 days
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="date-range-3" name="date-range" type="radio" value="last90">
                        <label class="govuk-label govuk-radios__label" for="date-range-3">
                          Last 90 days
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="date-range-4" name="date-range" type="radio" value="all" checked="checked">
                        <label class="govuk-label govuk-radios__label" for="date-range-4" >
                          All
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>                


              </div>
            </div>                          
          </div>
          <div class="govuk-button-group">
            <button class="govuk-button">Apply filters</button>
            <a href="#" class="govuk-link" title="Clear all active filters">Clear filters</a>
            <a href="#" class="govuk-link" title="Reset filters to their state when the page first loaded">Reset filters</a>
          </div>       
        </div>
      </div>
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <p class="govuk-!-margin-bottom-0">Displaying 5 to 5 of 5 <strong class="govuk-tag delta-tag-pill delta-tag-pill--inverse">2 active filters</strong></p>
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections MI report</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" colspan="1" class="govuk-table__header">Collection</th>
                <th scope="col" colspan="4" class="govuk-table__header">Overview</th>
                <th scope="col" colspan="4" class="govuk-table__header">Submission options</th>
                <th scope="col" colspan="2" class="govuk-table__header">Return</th>
              </tr>


              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Collection</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Status</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Deadline</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Client</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Size</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Form</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Excel</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">XML</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">API</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Returns vs orgs invited</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Records</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords">Urban Hedgehog Census 2023</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">29 July 2025</td>
                <td class="govuk-table__cell">Statistics</td>
                <td class="govuk-table__cell">20</td>
                <td class="govuk-table__cell">30%</td>
                <td class="govuk-table__cell">70%</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">200</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (56%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">23,230</a></td>
              </tr>    
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords">Brighter Bandstands Fund</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">29 June 2025</td>
                <td class="govuk-table__cell">Funding Service</td>
                <td class="govuk-table__cell">300</td>
                <td class="govuk-table__cell">10%</td>
                <td class="govuk-table__cell">90%</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">320</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (89%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">320</a></td>
              </tr>    
              
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords">XML collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">28 June 2025</td>
                <td class="govuk-table__cell">Grant</td>
                <td class="govuk-table__cell">4,800</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">100%</td>
                <td class="govuk-table__cell">—</td>                
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">320</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (89%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">320</a></td>
              </tr>        
              
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="#/wayCollectionDataProvider-collectionRecords">API Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">27 June 2025</td>
                <td class="govuk-table__cell">Statistics</td>
                <td class="govuk-table__cell">90</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">—</td>                
                <td class="govuk-table__cell">100%</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">320</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (89%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">100,000</a></td>
              </tr>                  

            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->

  </div>

{% endblock %}

{% block pageScripts %}  
<!-- Need to add for any pages with results tables with filtering -->
  <script src="/public/javascripts/resultsTable.js"></script>
{% endblock %}

