{% extends "layouts/delta-mi.html" %}

{% set pageName="MI Report" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-l">Design notes</h2>

    <p><strong>We are proposing separating 'bulk uploads' into 'Excel uploads' and 'Bulk uploads' - the latter covering XML and API methods.</strong></p>

    <ul class="govuk-list govuk-list--bullet">    
      
    </ul>
    <h2 class="govuk-heading-s">Design objectives / challenges</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li>Audience: internal Delta users - primarily SLT — who will be Delta savvy</li>
      <li>At a glance insight into current activity on Delta. Data not burried away in hard to reach systems</li>
      <li>Not a replacement for Submission Dashboard or Record Store</li>
      <li>NEW: One-click access to all collection entity pages (signpost)</li>
      <li>High level data on: submission method options, submission method uptake (usage), collection complexity, error rates (indicative)</li>
      <li>Facilitate better form design and timely (proactive) intention (when errors encountered)</li>
    </ul>    

    <h2 class="govuk-heading-s">To do / discuss</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li>This is hard - enough but not too much.</li>
      <li>What do we mean by 'error rates'? Validation errors.</li>    
      <li>What are these error rates supposed to highlight /result in?</li>
      <li>Are we comfortable for error (validation) rates being for Excel uploads only?</li>
      <li>Validation error 'report'.</li>
    </ul>

    <h2 class="govuk-heading-s">Useful links</h2>
    <ul class="govuk-list govuk-list--bullet">    
      <li><a href="/MI-report-vision" target="_blank">MI Report vision (in draft)</a></li>
      <li><a href="/deltaDashboard">Original concept dashboard</a></li>
      <li>Original ticket <a href="https://dluhcdigital.atlassian.net/browse/DT-1290" target="_blank">DT-1290</a></li>
    </ul>    

  </div>

{% endblock %}


{% block content %}

    
<div class="xpanel">

    <h1 class="govuk-heading-xl"><small class="delta-text-secondary govuk-!-font-size-27">MI Report</small><br>
      Collections</h1>

      <!-- QUICK FILTERS START -->
      <form>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!-- Channels start -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Channels
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="channel-1" name="channel" type="checkbox" value="channel-1" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="channel-1">
                      Statistics
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="channel-2" name="channel" type="checkbox" value="channel-2" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="channel-2">
                      Grants
                    </label>
                  </div>  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="channel-3" name="channel" type="checkbox" value="channel-3" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="channel-3">
                      Funding Service
                    </label>
                  </div>                    
                </div>
              </fieldset>
            </div>    
            <!-- Channels end -->
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- Collection status start -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Collection status
                  </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="collection-status-1" name="collection-status" type="checkbox" value="collection-status-1">
                    <label class="govuk-label govuk-checkboxes__label" for="collection-status-1">
                      Future
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="collection-status-2" name="collection-status" type="checkbox" value="collection-status-2" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="collection-status-2">
                      Open
                    </label>
                  </div>  
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="collection-status-3" name="collection-status" type="checkbox" value="collection-status-3">
                    <label class="govuk-label govuk-checkboxes__label" for="collection-status-3">
                      Closed
                    </label>
                  </div>                    
                </div>
              </fieldset>
            </div>    
            <!-- Collection status end -->
          </div>
          <div class="govuk-grid-column-one-third">
            <!-- Collection status start -->
            <div class="govuk-form-group">
              <label class="govuk-heading-m" for="range">
                Date range
              </label>
              <select class="govuk-select" id="range" name="range">
                <option value="xxx" selected>Month to date (10 days)</option>
                <option value="xxx">Last 30 days</option>
                <option value="xxx">Last 90 days</option>
                <option value="xxx">Last year</option>
              </select>
            </div>    
            <!-- Collection status end -->
          </div>          
        </div>
      </form>
      <!-- QUICK FILTERS END -->

      <div class="delta-summary-blocks">

      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Collections</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">120</p>
        </div>
      </div>
      <!-- BLOCK END -->
      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Organisations</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">360</p>
        </div>
      </div>
      <!-- BLOCK END -->    
      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Returns</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">1,160</p>
        </div>
      </div>
      <!-- BLOCK END -->          
      <!-- BLOCK START -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title govuk-bod">Records</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p class="delta-summary-block--value">123,870</p>
        </div>
      </div>       
    </div><!-- close delta-summary-blocks -->

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with table labels
        </span>
      </summary>
      <div class="govuk-details__text delta-reading-width">

      <ul class="govuk-list govuk-list--spaced">
        <li><strong>Collection name</strong>: The last date any organisation can submit a return. This includes extensions.</li>
        <li><strong>Status</strong>:
          <ul>
            <li><strong>Future</strong>: The collection is currently closed and will open in the future.</li>
            <li><strong>Open</strong>: The collection is open, and there are no extensions.</li>
            <li><strong>Closed</strong>: The collection is closed, and returns cannot be submitted.</li>
          </ul>
        </li>        
        <li><strong>Deadline</strong>: The last date any organisation can submit a return. This includes extensions.</li>
        <li><strong>Channel</strong>: the type of collection, such as statistics, grants, fund, or other (to be confirmed).</li>
        <li><strong>Complexity</strong>: the number of fields in the form, used as an indication of collection complexity.</li>
        <li><strong>Form, Excel and Bulk</strong>: The number of returns broken down by submission method. '—' means that submission method is not supported for this collection.</li>
        <li><strong>Return</strong>:
          <ul>
            <li><strong>Returns vs orgs invited</strong>: the number of unique organisations that have submitted a return vs the number of organisation asked. A percentage is displayed for ease of comparing collections.</li>
            <li><strong>Records</strong>: the total number of records across all submissions, including the average number of records per submission. Click to view in Record Store.</li>
            <li><strong>Errors</strong>: the percentage of organisations that when submitting a return and experienced one or more validation errors. Click to view detailed error report. A percentage is displayed for ease of comparing collections.</li>
          </ul> 
        </li>
      </ul>


      </div>
    </details>

    <!-- table results start -->
    <div class="delta-results">
        <!-- FILTERS START ============= -->
        <div id="delta-results-filters" class="hidden">
          <div class="govuk-!-padding-4" style="background-color: #f3f2f1;">
            <h1 class="govuk-heading-l">
              Filters <strong class="govuk-tag">1 active</strong>
            </h1>
            <!-- Quick search -->
            <div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                    Filters results by keywords
                </h1>
                <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
              </div>
            </div>
            <!-- ACCORDION -->
            <div class="govuk-accordion delta-accordion" data-module="govuk-accordion" id="table-filters">
              <!-- DATE RANGE -->
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-l">
                      Date range <strong class="govuk-tag">Active</strong>
                    </span>
                  </h2>
                  <!-- Delta's filter active indicator and clear option ====== -->
                  <div class="delta-accordion-filter-status">
                    <a href="#" title="Clear data range filter inputs">Clear <span class="govuk-visually-hidden">active date range filters</span></a>
                  </div>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                  <!-- DATE FROM -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Open
                        </h1>
                      </legend>
                        <!-- <div id="contact-hint" class="govuk-hint">
                          Select one option
                        </div> -->
                      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-any" name="date-to" type="radio" value="date-to-all" data-aria-controls="conditional-date-to-specific">
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                            Earliest open date
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-specific" name="date-to" type="radio" value="date-to-specific" data-aria-controls="conditional-date-from-specific">
                          <label class="govuk-label govuk-radios__label" for="date-to-specific">
                            Specific open date
                          </label>
                        </div>

                        <div class="govuk-radios__conditional" id="conditional-date-from-specific">
                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                  Date
                                </h1>
                              </legend>

                              <div id="date-to-hint" class="govuk-hint">
                                For example, 2 2022
                              </div>

                              <div class="delta-date-picker-with-icon-button">
                                <!-- Date input as text ====== -->
                                <div class="govuk-date-input" id="range-from">
                                  <!-- <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-from-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-from-day" name="range-from-day" type="text" inputmode="numeric">
                                    </div>
                                  </div>                                 -->
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-from-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-from-month" name="range-from-month" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-from-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="range-from-year" name="range-from-year" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                </div>
                                <!-- Date input as calendar picker ====== -->
                                <div>
                                  <label class="govuk-label govuk-date-input__label" for="range-calendar">
                                    <span class="delta-visually-hidden">Calendar</span>
                                  </label>
                                  <button class="govuk-button detla-icon-button" title="Select date with calendar picker">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="delta-icon-button-icon">
                                      <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l352 0 0 256c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256z"/>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <!-- DATE TO -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Deadline
                        </h1>
                      </legend>
                        <!-- <div id="contact-hint" class="govuk-hint">
                          Select one option
                        </div> -->
                      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-any" name="date-to" type="radio" value="phone" data-aria-controls="conditional-date-to-specific">
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                            Latest deadline
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-specific" name="date-to" type="radio" value="email" data-aria-controls="conditional-date-to-specific">
                          <label class="govuk-label govuk-radios__label" for="date-to-specific">
                            Specific deadline
                          </label>
                        </div>

                        <div class="govuk-radios__conditional" id="conditional-date-to-specific">
                          <div class="govuk-form-group govuk-form-group--error">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                  Date
                                </h1>
                              </legend>

                              <div id="date-to-hint" class="govuk-hint">
                                For example, 2 2024
                              </div>
                              <p id="date-to-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Month and year required
                              </p>

                              <div class="delta-date-picker-with-icon-button">
                                <!-- Date input as text ====== -->
                                <div class="govuk-date-input" id="range-to">
                                  <!-- <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-to-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-to-day" name="range-to-day" type="text" inputmode="numeric">
                                    </div>
                                  </div>                                 -->
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-to-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-to-month" name="range-to-month" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-to-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="range-to-year" name="range-to-year" type="text" inputmode="numeric">
                                    </div>
                                  </div>

                                </div>
                                <!-- Date input as calendar picker ====== -->
                                <div>
                                  <label class="govuk-label govuk-date-input__label" for="range-calendar">
                                    <span class="delta-visually-hidden">Calendar</span>
                                  </label>
                                  <button class="govuk-button detla-icon-button" title="Select date with calendar picker">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="delta-icon-button-icon">
                                      <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l352 0 0 256c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256z"/>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
              <!-- STATUS -->
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Status
                    </span>
                  </h2>
                </div>
                <div id="filter-group-status" class="govuk-accordion__section-content">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Future
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Open
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Extended
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Closed
                        </label>
                      </div>
                    </div>
                </div>
              </div>
              <!-- INCLUDE REMOVED ORGANISATIONS -->
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Removed organisations
                    </span>
                  </h2>
                </div>
                <div id="filter-group-status" class="govuk-accordion__section-content">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="includeRemoved" name="includeRemoved" type="checkbox" value="includeRemoved">
                        <label class="govuk-label govuk-checkboxes__label" for="includeRemoved">
                          Include removed organisations
                        </label>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="govuk-button-group">
              <button class="govuk-button">Apply filters</button>
              <a href="#" class="govuk-link" title="Clear all active filters">Clear filters</a>
              <a href="#" class="govuk-link" title="Reset filters to their state when the page first loaded">Reset filters</a>
            </div>
          </div>
        </div>
      <!-- FILTERS END ============= -->
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <!-- <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 24 <strong class="govuk-tag delta-tag-pill delta-tag-pill--inverse">1 active filter</strong></p> -->
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show advanced filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections MI report</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" colspan="1" class="govuk-table__header">Collection</th>
                <th scope="col" colspan="4" class="govuk-table__header">Collection overview</th>
                <th scope="col" colspan="3" class="govuk-table__header">Submission options</th>
                <th scope="col" colspan="3" class="govuk-table__header">Return</th>
              </tr>


              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Collection</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Status</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Deadline</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Channel</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Complexity</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Form</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Excel</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Bulk</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Returns vs orgs invited</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Records</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Errors</a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="#">Urban Hedgehog Census 2023</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">29 July 2025</td>
                <td class="govuk-table__cell">Statistics</td>
                <td class="govuk-table__cell">20</td>
                <td class="govuk-table__cell">30%</td>
                <td class="govuk-table__cell">70%</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">200</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (56%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">23,230</a></td>
                <td class="govuk-table__cell"><a href="/MIreport-error" title="View validation report">20%</a></td>
              </tr>    
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="#">Brighter Bandstands Fund</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">29 June 2025</td>
                <td class="govuk-table__cell">Funding Service</td>
                <td class="govuk-table__cell">300</td>
                <td class="govuk-table__cell">10%</td>
                <td class="govuk-table__cell">90%</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">320</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (89%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">320</a></td>
                <td class="govuk-table__cell"><a href="/MIreport-error" title="View validation report">60%</a></td>
              </tr>    
              
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="#">A grant collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">28 June 2025</td>
                <td class="govuk-table__cell">Grant</td>
                <td class="govuk-table__cell">150</td>
                <td class="govuk-table__cell">100%</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">320</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (89%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">320</a></td>
                <td class="govuk-table__cell">—</td>
              </tr>        
              
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="#">API Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Active</strong></td>
                <td class="govuk-table__cell">27 June 2025</td>
                <td class="govuk-table__cell">Statistics</td>
                <td class="govuk-table__cell">90</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">—</td>
                <td class="govuk-table__cell">100%</td>
                <td class="govuk-table__cell"><a href="#" title="View all orgs in submission report">320</a> / <a href="#" title="View all orgs that have submitted a return in submission report">360</a> (89%)</td>
                <td class="govuk-table__cell"><a href="#" title="View in record store">100,000</a></td>
                <td class="govuk-table__cell">—</td>
              </tr>                  

            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->

  </div>

{% endblock %}



