{% extends "layouts/delta.html" %}
{% set pageName="Straight Talking" %}
{% block content %}
<h1 class="govuk-heading-xl">
  Delta overview
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Detla is a data collection and grants administration tool. The platform comprises of two channels: </p>
    <ul class="govuk-list govuk-body-l govuk-list--number">
      <li><em>Collections</em> — used by a mix of internal and external users (<em>Data Providers</em> and <em>Data Certifiers</em>).</li>
      <li><em>Grants</em> - used by internal users only.</li>
    </ul>
    <h3 class="govuk-heading-m">
      Collections overview
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><em>Collections</em>, created by DLUHC teams (internal users), are requests for data.</li>
      <li>Data is submitted in the form of <em>records</em> by external users.</li>
      <li>Collections have a <em>data period</em> which are the from and to dates for which data is required. Example: for the question "How many hedgehogs did you see in 2023?" the data period would be 1 January 2023 to 31 December 2023.</li>
      <li>Collections have a <em>data window</em>. This is the period of time the collection is open for records to be submitted.</li>
      <li>Collections have two types - <em>record-based</em> (multiple records - e.g. traveler's survey) or <em>summary-based</em> (one record - e.g. annual return)</li>
      <li>Records can be submitted by 3 methods: form, bulk upload (from Excel template) or API (XML). The options are set by the Collections Manager on a collection by collection basis.</li>
    </ul>
    <p><a href="#glossary">View full glossary</a></p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <!-- TASKS -->
    <h2 class="govuk-heading-l" id="jobsToBeDone">Collections user tasks (aka 'jobs to be done')</h2>
    <h3 class="govuk-heading-m">External users</h3>
    <h4 class="govuk-heading-s">Data provider</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Find the collection I need to provide data for</li>
      <li>Understand what data is required for which period</li>
      <li>Understand how long I have to submit data</li>
      <li>Submit data</li>
      <li>See responses I have previously made (check data)</li>
      <li><strike>Understand who else can / has submitted data for a collection</strike></li>
      <li>See which collections I have access to</li>
      <li>See if there are other collections I should have access to / join</li>
      <li>Change my role (provider and certifier)</li>
      <li>Manage my account (including change my organisation)</li>
    </ul>
    <h4 class="govuk-heading-s">Data certifier</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>See which data (records) I need to certify</li>
      <li>Certify a record</li>
      <li>Contact the record owner (submitter) if data is incorrect and/or I have questions</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- IN PAGE NAV -->
    <h2 class="govuk-heading-m">On this page</h2>
    <ul class="govuk-list govuk-list--number">
      <li><a href="#jobsToBeDone">Jobs to be done</a></li>      
      <li><a href="#glossary">Glossary</a></li>
      <li><a href="#changelog">Changelog</a></li>
    </ul>

    <!-- SITEMAP TABLE -->
    <h2 class="govuk-heading-m">Sitemap simplified</h2>
    <ul class="govuk-list govuk-list--number">
      <li><a href="/wayLandingDataProvider.html">Home (aka Landing)</a></li>
      <li><a href="/wayCollectionsDataProvider">Collections</a>
        <ul class="govuk-list govuk-list--number">
          <li><a href="/wayCollectionDataProvider-collectionRecords">Collection (entity)</a>
            <ul class="govuk-list govuk-list--number">
              <li><a href="/wayRecordDataProvider-collectionRecords">Record (entity)</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/wayAccountDataProvider">Account</a></li>
      <li><a href="/wayCollectionGroups">Collection groups</a>
        <ul class="govuk-list govuk-list--number">
          <li><a href="/wayCollectionGroup">Collection group (entity)</a></li>
        </ul>
      </li>
      <li>Change log</li>
    </ul>   
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<!-- GLOSSARY TABLE -->
<table class="govuk-table" id="glossary">
  <caption class="govuk-table__caption govuk-table__caption--l">Glossary</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Term</th>
      <th scope="col" class="govuk-table__header">Internal version</th>
      <th scope="col" class="govuk-table__header">External version</th>
      <th scope="col" class="govuk-table__header">Notes</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Collection programme</th>
      <td class="govuk-table__cell">Collection</td>
      <td class="govuk-table__cell">n/a</td>
      <td class="govuk-table__cell">Never use with external users - they don't think of collections this way. A Collection Programme (CP or Programme for short) is the parent that has following children: Datasets, Forms, Collections, and grandchildren (records).</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Collection instance</th>
      <td class="govuk-table__cell">Collection instance</td>
      <td class="govuk-table__cell">Collection <strong class="govuk-tag">New</strong></td>
      <td class="govuk-table__cell">For external users a collection is the request for data</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Collection window</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">This is the time when the collection is open and the data can be submitted.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Data period</th>
      <td class="govuk-table__cell">???</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">This is the period of time for which data is required. Example: 1 January for 31 March 2023.</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Submission</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Record</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Records-based [collection]</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Multiple [record collection]</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Summary [collection]</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Single [record collection]</td>
      <td class="govuk-table__cell"></td>
    </tr>        
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Access group</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Entity page</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">n/a</td>
      <td class="govuk-table__cell">New internal term to describe dedicated pages (each with URL) that act as overview and jumping off point for the 'thing'. External users: Collection and Record. Internal users: Collection Programme, Dataset, Form </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Collection title</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">Need to make collection title meaningful, and allow user to differentiate between others within same Collection Programme (often best way to do this is by including the Collection Period in the title - example: Hedgehog census 2023)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Collection description</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">New</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Collection ID</th>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">When to use?</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Access group</th>
      <td class="govuk-table__cell">Collection group</td>
      <td class="govuk-table__cell">Collection group</td>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l" id="changelog">
  Changelog
</h2>

<h3 class="govuk-heading-m">
  25 April 2024
</h3>
<ul class="govuk-list govuk-list--spaced govuk-list--bullet">
  <li>Created UX testing <a href="/wayStart">launchpad</a> (start page)</li>
  <li>Created UX testing <a href="/wayOverview">overview page</a></li>
  <li>Removed Wayfinding header from other (non Wayfinding) page designs</li>
  <li>Header (account): removed organisation select (drop down) per discussions with Jeremy</li>
  <li>Added 'parent' organisation to collections and records</li>
  <li>Collection / Associated documents: replaced lorum ipsum with dummy document descriptions</li>
  <li>Renamed all record files to removed reference to user role</li>
  <li>Changed name of individual doing data submission from Bob Smith to empathise that records can be created by others.</li>
  <li>Collection / Collection group: clearer copy explaining how collection belongs to the collection group.</li>
  <li>Account: removed user address</li>
  <li>Account: added CTA to contact support if missing membership organisation</li>
  <li>Account / <a href="/wayAccountDataProvider#collectionGroups">Collection groups</a>: added organisation (and Arundel demo content), collection group status now 'open' or 'closed', added temporary padlock icon next to collection with isn't self-certify, changed 'add' to 'apply' for data certifier roles, changes 'add' to 'apply' for data provider status for collections that aren't self-certify, removed tag styling from open and closed collection group status to focus user's attention on active provider or certifier status.</li>
  <li>To do: Account: explore how to manage very long list of Collection Groups </li>
  <li>To do: add 'text filtering' to results tables (Collection Groups, Collections, Records)</li>  
</ul>

<h3 class="govuk-heading-m">
  22 April 2024
</h3>
<ul class="govuk-list govuk-list--spaced govuk-list--bullet">
  <li>Show and tell (sneak peek) to devs</li>
  <li>Records: inline record preview removed</li>
  <li>Landing page: Data Provider and Data Certifier pages merged (open collections at top, records requiring certification at bottom)</li>
  <li>Header: added organisation drop-down</li>
  <li>Account: replace organisation select (radio buttons) with organisation list (user now select org via header drop-down)</li>
  <li>Account: Collection Groups - tweaked based on Jemma feedback to allow user to be both Data Provider and Data Certifier</li>
  <li>Collection: change button text from 'Create new record' to 'Create record'</li>
</ul>

{% endblock %}
