{% extends "layouts/delta.html" %}

{% set pageName="Access group summary page" %}


{% block beforeContent %}

<p>Home > Setup > Forms > Form summary</p>

{% endblock %}


{% block content %}

<!-- ================= UX Design notes ================= -->
<div class="designNote govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-l">Access group summary page (aka Access group created) design notes</h2>
  <p><a href="https://dluhcdigital.atlassian.net/browse/DT-841" target="_blank">DT-841</a></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Note</li>
    <li>Note</li>
    <li>Note</li>
  </ul>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Template
    </h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  </div>
</div>

{% endblock %}
