{% extends "layouts/delta.html" %}

{% set pageName="UX activities & OKR alignment" %}





{% block content %}



<h1 class="govuk-heading-xl">
  Delta UX activities & OKR alignment
</h1>
<p class="govuk-!-margin-bottom-9">Last updated: 18 January 2024</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="ux-reading-width">


      <!-- section start -->
      <h2 id="detlaOverview" class="govuk-heading-l">Delta overview</h2>
          <p class="">The purpose of this document is to provide:</p>
          <ul class="govuk-list govuk-list--number">
            <li>Agreed labels for the <a href="#deltaChannels">different components of Delta</a></li>
            <li>A clear understanding of Delta's structure, functionality, user groups and jobs to be done (JTBD)</li>            
            <li>Easy access to <a href="#dataCollectionOkr">Delta's [Collection] OKR</a> for use in work prioritisation</li>
            <li>Agreed <a href="#deltaMetrics">metrics</a> to monitor usage and measure improvement</li>            
          </ul>             
  

      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>

      <!-- section start -->
      <h2 id="deltaChannels" class="govuk-heading-xl">Delta "channels"</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li>The Delta platform comprises 3 primary 'channels', each delivering unique capabilities and serving distinct user groups:</li>
        <li>
              <ul class="govuk-list govuk-list--number">
                <li><a href="#channelCollections">Collections</a></li>
                <li><a href="#channelGrants">Grants</a></li>
                <li><a href="#channelLocalGovernmentFinance">Local Government Finance</a></li>
              </ul>
        </li>
        <li>Additionally there are two secondary channels:
              <ul class="govuk-list govuk-list--number">
                <li>[User] Account area</li>
                <li>Admin and reporting </li>
              </ul>            
        </li>
      </ul>   

      <!-- COLLECTIONS -->
      <h3 class="govuk-heading-l govuk-!-margin-top-7" id="channelCollections">Channel: Collections</h3>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-5">Delta Statistical Collections lead: Jeremy Barton - <a href="mailto:jeremy.barton@levellingup.gov.uk">jeremy.barton@levellingup.gov.uk</a></h4>
      <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <h4 class="govuk-heading-s">Primary jobs to be done (JTBD)</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
      </ul>      

      <h4 class="govuk-heading-s">User groups</h4> 
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Form Designer/Owner</strong> – internal / lowHigh frequency</li>
        <li><strong>Form Tester</strong> – internal / lowHigh frequency</li>
        <li><strong>Lead Tester</strong> – internal / lowHigh frequency</li>
        <li><strong>Data Provider</strong> – external / low frequency</li>
        <li><strong>Data Certifier</strong> – external / low frequency</li>
        <li><strong>Data Collection Admin</strong> – internal / lowHigh frequency</li>
      </ul>     

      <!-- GRANTS -->
      <h3 class="govuk-heading-l govuk-!-margin-top-7" id="channelGrants">Channel: Grants</h3>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-5">Grants lead: Noor Taha - <a href="mailto:noor.taha@levellingup.gov.uk">noor.taha@levellingup.gov.uk</a></h4>
      <p>DELTA is currently used to support the management of grant claim processing including Neighbourhood Planning Grant and Disabled Facilities grant. Delta allows DLUHC to define structures such as organisations and grants, which makes the system extremely flexible. Delta is not, therefore, limited to specific types of grants and can make payments to any organisation for any grant that has been defined on the system.</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
      </ul>      

      <h4 class="govuk-heading-s">User groups</h4> 
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Grant Owner</strong> – internal / lowHigh frequency</li>
        <li><strong>Grant Reviewer</strong> – internal / lowHigh frequency</li>
        <li><strong>Grant Ratifier</strong> – internal / lowHigh frequency</li>
        <li><strong>Grant Admin</strong> – internal / lowHigh frequency</li>
      </ul>         

      <!-- LOCAL GOV FINANCE -->
      <h3 class="govuk-heading-l govuk-!-margin-top-7" id="channelLocalGovernmentFinance">Channel: Local Government Finance</h3>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-5">Local Government Finance lead: Michael Oliver - <a href="mailto:michael.oliver@levellingup.gov.uk">michael.oliver@levellingup.gov.uk</a></a></h4>
      <p>The LGF team are responsible for funding for housing and planning as well as separate requests for Local Government  and funding around business rates. Payments (including clawback) and billing are managed through Delta. They are also responsible for the central list payments (businesses that transcend more than one local area e.g. railways and BT ).</p>      
      <h4 class="govuk-heading-s">Primary jobs to be done (JTBD)</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
      </ul>      

      <h4 class="govuk-heading-s">User groups</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>LGF Admin</strong> – internal / lowHigh frequency</li>
      </ul>         

      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>      

      <!-- CHANNEl: ACCOUNT -->
      <h3 class="govuk-heading-l govuk-!-margin-top-7" id="channelAccount">Channel: Account</h3>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-5">Contact: Bob Smith, JobTitle Department, <a href="mailto:email@email.com">email@email.com</a></h4>
      <p>Overview Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>      
      <h4 class="govuk-heading-s">Primary jobs to be done (JTBD)</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
        <li><strong>TaskName</strong> – with descriptive note</li>
      </ul>      

      <h4 class="govuk-heading-s">User groups</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>User</strong> – internalExternal / lowHigh frequency</li>
        <li><strong>User</strong> – internalExternal / lowHigh frequency</li>
      </ul>            

      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>

      <!-- CHANNEl: ADMIN -->
      <h3 class="govuk-heading-l govuk-!-margin-top-7" id="channelAdmin">Channel: Admin</h3>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-5">Contact: Bob Smith, JobTitle Department, <a href="mailto:email@email.com">email@email.com</a></h4>
      <p>Overview Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>      
      <h4 class="govuk-heading-s">Primary jobs to be done (JTBD)</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>User</strong> – internalExternal / lowHigh frequency</li>
        <li><strong>User</strong> – internalExternal / lowHigh frequency</li>
      </ul>      

      <h4 class="govuk-heading-s">User groups</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>LGF Admin</strong> – internal / lowHigh frequency</li>
      </ul>            

      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>      

      <h2 id="dataCollectionOkr" class="govuk-heading-xl">Data Collections OKR</h2>

      <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Objectives and key results</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Objective</th>
            <th scope="col" class="govuk-table__header">Key results</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">1. Meet the needs of data collectors and providers</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>1.1 Local authority users spend less time providing data</li>
                <li>1.2 Increased customer satisfaction</li>
                <li>1.3 All appropriate collected data to be available in Central Data Store (CDS) automatically and in a timely manner</li>
              </ul>              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2. Save time and effort to collect and provide data, and save money</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>2.1 Reduction in cost per transaction</li>
                <li>2.2 Users can complete their task without help and in a quicker time frame</li>
              </ul>              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">3. Better data quality</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>3.1 Right data provided first time</li>
                <li>3.2 Complete, consistent, reliable, up to date data</li>
              </ul>              
            </td>
          </tr>
        </tbody>
      </table>       -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Objectives and key results</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Objective</th>
            <th scope="col" class="govuk-table__header">Key results</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">1. Meet the needs of data collectors and providers</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>1.1 Local authority users spend less time providing data</li>
                <li>1.2 Increased customer satisfaction</li>
                <li>1.3 All appropriate collected data to be available in Central Data Store (CDS) automatically and in a timely manner</li>
                <li>1.4 Right data provided first time</li>
              </ul>              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">2. Save time and effort to collect and provide data, and save money</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>2.1 Reduction in cost per transaction</li>
                <li>2.2 Users can complete their task without help and in a quicker time frame</li>
                <li>2.3 Complete, consistent, reliable, up to date data</li>
              </ul>              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">3. Payments</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>3.1 Payments running correctly</li>
              </ul>              
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">4. Reliability of service</th>
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--spaced">
                <li>4.1 Unscheduled downtime</li>
              </ul>              
            </td>
          </tr>                    
        </tbody>
      </table>        

      <h2 id="OkrQuestions" class="govuk-heading-l">OKR evaluation questions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Which channel?</li>
        <li>Which tasks?</li>
        <li>Which users?</li>
        <li>Is this a UX or development task?</li>
        <li>HMW benchmark as is? Data?</li>
        <li>HMW measure improvement and success? Data?</li>
      </ul>         

      <p class="govuk-body-s">HMW = How might we...</p>      

      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>

      <!-- section start -->
      <h2 id="uxQuestions" class="govuk-heading-l">UX evaluation questions (aka 'lenses')</h2>
      <p>When exploring an opportunity for a UX or service enhancement:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Which channels does this relate to?</li>
        <li>Which OKR does this fall under?</li>
        <li>Which user groups are impacted?</li>
        <li>Hypothesis: what do we believe the issue (problem) is?</li>      
        <li>How can we validate this? Who do we need to engage with?</li>
        <li>Qualitative research: what have we seen or heard that provides and a sense of the nature and scale of the issue?</li>
        <li>Quantitative research: what data exists that provides and a sense of the nature and scale of the issue?</li>
        <li>How will we prove success? What systems need to be in place to demonstrate improvement?</li>
        <li><em>Size (estimate for amount of resource and time to 'fix - small/medium/large)</em></li>
        <li><em>Urgency (low/medium/high)</em></li>
      </ul>      

      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>      

      <h2 id="deltaMetrics" class="govuk-heading-xl">Delta metrics</h2>

      <p>At a glance facts and figures.</p>

      <h3 id="deltaMetricsBespoke" class="govuk-heading-s">Delta metrics (bespoke reporting)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Users per month (global vs channel, current vs previous vs historical)</li>
        <li>Sessions per month (global vs channel, current vs previous vs historical)</li>
        <li>Searches per month (global vs channel, current vs previous vs historical)</li>
        <li>Errors per session per month (global vs channel, current vs previous vs historical)</li>
        <li>Collections stats (forms created, instances, submissions)</li>
        <li>Grants stats (forms created, payments made)</li>
        <li>Local Government Finance  - TBC</li>
      </ul>         

      <h3 id="deltaMetricsGA" class="govuk-heading-s">Google Analytics</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Number of users</li>
        <li>Average engagement time</li>
        <li>Pag title and screen class visits</li>
        <li>Average engagement time per session</li>
        <li>Desktop vs mobile</li>
        <li>Landing pages</li>
        <li>Bounce rates</li>
        <li>Percentage of internal vs external users</li>
      </ul>         


      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-9"><a href="#top">Page top</a></p>

      <h3 id="deltaMetricsGA" class="govuk-heading-s">Actions</h3>

      <p>18 Jan</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>OKR overview paragraph - Dan</li>
        <li>Playback draft OKR changes - next week</li>
        <li>Explore ticket / workstream for granular user login and activity reporting</li>
      </ul>           


    </div>

  </div>
  <div class="govuk-grid-column-one-third ux-sticky-top">
    <h3 class="govuk-heading-s">Page navigation</h3>
    <ul class="govuk-list">
      
      <li><a href="#detlaOverview">Delta overview</a></li>
      <li><a href="#deltaChannels">Delta 'channels'</a>
        <ul class="govuk-list govuk-!-margin-bottom-0">
          <li><a href="#channelCollections">Collections</a></li>
          <li><a href="#channelGrants">Grants</a></li>
          <li><a href="#channelLocalGovernmentFinance">Local Government Finance</a></li>
          <li><a href="#channelAccount">Account</a></li>
          <li><a href="#channelAdmin">Admin</a></li>
        </ul>
      </li>

      <li><a href="#dataCollectionOkr">Data collection OKR</a></li>
      <li><a href="#OkrQuestions">OKR evaluation questions</a></li>

      <li><a href="#uxQuestions">UX evaluation questions</a></li>

      <li><a href="#deltaMetricsBespoke">Delta metrics - bespoke</a></li>
      <li><a href="#deltaMetricsGA">Delta metrics - Google Analytics</a></li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-top-7">Useful resources</h3>
    <p>Links open in new tab.</p>

    <ul class="govuk-list">
      <!-- <li>Delta (production)</li> -->
      <li><a href="https://auth.delta.stage.communities.gov.uk/delta/login?response_type=code&client_id=delta-website&state=WCTLho-5E47Gl0ZxDfKIjrpj84CwzDnqFxBEK51ydKU%3D&redirect_uri=/login/oauth2/redirect&ts=1705591105" target="_blank">Delta (staging</a>)</li>
    </ul>

    <!-- Documentation and guidance -->
    <ul class="govuk-list">
      <li><a href="https://dluhcdigital.atlassian.net/wiki/spaces/DT/overview" target="_blank">Confluence</a></li>
      <!-- <li>Grant creation guidance</li> -->
    </ul>

    <!-- UX research -->
    <ul class="govuk-list">
      <li><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1635340219491/28e869222c98c96d7cf6bf7b[…]fd15bf310?wid=0-1701338166323&sender=u5e6c39026a2782c40d062236" target="_blank">Personas (Mural), Oct 2021</a></li>
      <li><a href="https://app.mural.co/t/mhclg2837/r/1633427542715" target="_blank">Delta Service Mapping (Mural)</a></li>
      <!-- <li>UX site map</li> -->
    </ul>    

    <!-- PM stuff -->
    <ul class="govuk-list">
      <!-- <li>Teams (Delta working group)</li> -->
      <li><a href="https://dluhcdigital.atlassian.net/jira/software/c/projects/DT/issues/DT-702?jql=project%20%3D%20%22DT%22%20AND%20text%20~%20%22ux%22%20ORDER%20BY%20created%20DESC" target="_blank">Jira - UX (Softwire)</a></li>
      <li><a href="https://dluhcdigital.atlassian.net/jira/software/c/projects/DT/boards/34?issueParent=157218" target="_blank">Jira - All (Softwire)</a></li>
    </ul>    




  </div>  
</div>

{% endblock %}
