{% extends "layouts/delta.html" %}

{% set pageName="UX Ticket Evaluation Criteria" %}


{% block beforeContent %}



{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl">
  UX ticket checklist
</h1>
<p class="govuk-body-l">Checklist for UX tickets under evaluation for moving from backlog into production.</p>



    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}    


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        {{ govukCheckboxes({
          name: "activity",
          fieldset: {
            legend: {
              text: "UX activity type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "uxActivityResearch",
              text: "Research"
            },
            {
              value: "uxActivityDesign",
              text: "Design"
            }     
          ]
        }) }}        

   
        {{ govukRadios({
          name: "estimateOfUxEffort",
          fieldset: {
            legend: {
              text: "Estimation of UX effort",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "effortSmall",
              text: "Small"
            },
            {
              value: "effortMmedium",
              text: "Medium"
            },
            {
              value: "effortLarge",
              text: "Large"
            }
          ]
        }) }}          
        

        {{ govukRadios({
          name: "developmentFeasibilityReview",
          fieldset: {
            legend: {
              text: "Development feasibility review (quick evaluation)",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "feasibilityDoneApproved",
              text: "Done - approved"
            },
            {
              value: "feasibilityDoneRejected",
              text: "Done - rejected"
            },        
            {
              value: "feasibilityNotRequired",
              text: "Not required"
            }        
          ]
        }) }}        
        

      </div>
      <div class="govuk-grid-column-one-third">
        
    
    
        {{ govukRadios({
          name: "channels",
          fieldset: {
            legend: {
              text: "Delta channel work relates to",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "channelAdmin",
              text: "Admin (DLUCH)"
            },
            {
              value: "channelCollections",
              text: "Collections"
            },
            {
              value: "channelGrants",
              text: "Grants"
            },            
            {
              value: "channelLocalGovernmentFinance",
              text: "Local Government Finance"
            }        
          ]
        }) }} 
     
    
        {{ govukCheckboxes({
          name: "audience",
          fieldset: {
            legend: {
              text: "Audiences (user groups impacted)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "audienceAdmin",
              text: "Admin"
            },
            {
              value: "audienceInternal",
              text: "Internal"
            },
            {
              value: "audienceExternal",
              text: "External"
            }        
          ]
        }) }}       


        {{ govukRadios({
          name: "frequency",
          fieldset: {
            legend: {
              text: "Audience frequency of interaction with this issue",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "frequencyLow",
              text: "Low"
            },         
            {
              value: "frequencyHigh",
              text: "High"
            }        
          ]
        }) }}        


 

      </div>      
      <div class="govuk-grid-column-one-third">
        
        <h2 class="govuk-heading-m">Related OKRs</h2>
        <!-- <p>Updated: 8/2/24</p> -->

        {{ govukCheckboxes({
          name: "okrMeeTNeeds",
          fieldset: {
            legend: {
              text: "1. Meet the needs of data collectors and data providers",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1.1",
              text: "1.1	Local authority users spend less time providing data"
            },
            {
              value: "1.2",
              text: "1.2	Increased customer satisfaction"
            },
            {
              value: "1.3",
              text: "1.3	All appropriate collected data to be available in CDS automatically and in a timely manner"
            },
            {
              value: "1.2",
              text: "1.4	Right data provided first time"
            }                    
          ]
        }) }}           

        {{ govukCheckboxes({
          name: "okrSave",
          fieldset: {
            legend: {
              text: "2. Save time and effort to collect and provide data, and save money",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "2.1",
              text: "2.1	Reduction in cost per transaction"
            },
            {
              value: "2.2",
              text: "2.2	Users can complete their task without help and in a quicker timeframe"
            },
            {
              value: "2.3",
              text: "2.3	Complete, consistent, reliable, up to date"
            }                
          ]
        }) }}            

        {{ govukCheckboxes({
          name: "okrReliability",
          fieldset: {
            legend: {
              text: "3. Improve reliability of services",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "2.1",
              text: "3.1 Payments running correctly"
            },
            {
              value: "2.2",
              text: "3.2 Unplanned downtime"
            }               
          ]
        }) }}            
        
        <!-- <ul class="govuk-list">
          <li><strong>1 Meet the needs of data collectors and data providers</strong>
            <ul class="govuk-list">
              <li>1.1	Local authority users spend less time providing data</li>
              <li>1.2	Increased customer satisfaction</li>
              <li>1.3	All appropriate collected data to be available in CDS automatically and in a timely manner</li>
              <li>4</li>
            </ul>    
          </li>
          <li><strong>2 Save time and effort to collect and provide data, and save money</strong>
            <ul class="govuk-list">
              <li>2.1	Reduction in cost per transaction</li>
              <li>2.2	Users can complete their task without help and in a quicker timeframe</li>
              <li>2.3	Complete, consistent, reliable, up to date</li>
            </ul>    
          </li>
         <li><strong>3 Improve reliability of services</strong>
            <ul class="govuk-list">
              <li>3.1	Payments running correctly</li>
              <li>3.2	Unplanned downtime</li>
            </ul>  
          </li> 
        </ul> -->

      </div>
    </div>

  <!-- Associated content =====================  -->




<!-- ================= UX Design notes ================= -->
<div class="designNote govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-s">Change log</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>8/2/24 - Added options for related OKRs</li>
    <li>8/2/24 - Added options for [audience] frequency of interaction</li>
  </ul>
</div>



{% endblock %}
