{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Account (Data Provider)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  Hi Bob
</h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Welcome to your account on Delta. Here you can manage your:</p>
    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li><a href="#accountDetails">Account details</a></li>
      <li><a href="#organisationProfile">Organisation memberships</a></li>
      <li><a href="#collectionGroups">Collection groups roles</a></li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="accountDetails">
      Account details
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Bob Smith
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> job title</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">bob.smith@waverley.gov.uk</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <!-- <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
            </li> -->
            <li class="govuk-summary-list__actions-list-item">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </li>
          </ul>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="accountDetails">
      Organisation memberships
    </h2>

    <p>If you don't see an organisation listed that you believe you should be a member of, please <a href="mailto:">contact our support team</a> for assistance.</p>

<div class="designNote">
  <h4 class="govuk-heading-m">Confirmation modals</h4>

  <h4 class="govuk-heading-s">Confirm: remove organisation access</h4>
  <div class="delta-modal">
    <p class="delta-align-right"><a href="#">Close</a></p>
    <h3 class="govuk-heading-m">Confirmation required: removal from Waverley Borough Council</h3>
    <p>Are you sure you want to remove yourself from the Waverley Borough Council organisation?</p>
    <p>Once removed, you will lose access to all collection groups and any past, present, or future collections associated with this organisation.</p>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button">
      Leave organisation
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>      

</div>

    <dl class="govuk-summary-list" id="organisationProfile">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-m delta-org-logo-fl">
          Arundel Borough Council
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Remove</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-m delta-org-logo-fl">
          Waverley Borough Council
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Remove</a>
        </dd>
      </div>
    </dl>



  </div>

  <div class="govuk-grid-column-one-half">
  </div>
</div>


<h2 class="govuk-heading-l govuk-!-margin-top-9" id="collectionGroups">
  Collection groups and roles
</h2>


<details class="govuk-details delta-reading-width">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with collection groups and roles
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Listed below are 'collection groups' accessible to organisations for which you are a member.</p>
    <p>To become a data provider or data certifier for a group click the relevant 'add' link.</p>
    <p>Groups that require data provider role approval are marked with a padlock <img src="/public/images/icon-lock-closed.svg" alt="icon lock closed" class="delta-icon">.</p>
    <p>All applications to be a data certifier require approval by the group owner.</p>

  </div>
</details>


<!-- Filters -->

<div class="designNote">
  <p>Organisations filter only displayed if user belongs to 2 or more organisations.</p>
</div>

<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-full delta-form-inline-form-groups">
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="collectionName" selected>Collection name</option>
        <!-- <option value="collectionGroup">Collection group</option> -->
        <option value="collectionGroup">Organisation</option>
        <option value="deadline">Data provider status</option>
        <option value="deadline">Data certifier status</option>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="organisation">
        Organisations
      </label>
      <select class="govuk-select" id="organisation" name="organisation">
        <option value="status" selected>All</option>
        <option value="status" selected>Arundel Borough Council</option>
        <option value="status" selected>Waverley Borough Council</option>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="role">
        Role
      </label>
      <select class="govuk-select" id="role" name="role">
        <option value="status" selected>All</option>
        <option value="status">Data provider</option>
        <option value="status">Data certifier</option>
        <option value="status">None</option>
      </select>
    </div>    

    <div class="govuk-form-group">
      <div class="govuk-label-wrapper">
        <label class="govuk-label" for="collection-name">
          Search
        </label>
      </div>
      <input class="govuk-input" id="collection-name" name="collectionName" type="text">
    </div>        

    <div>
      <br><br>
      <p><a href="#">Clear filters</a></p>
    </div>

  </div>
</div>


<div class="designNote">
  <h4 class="govuk-heading-s">Confirmation modals</h4>
  <ul class="govuk-list govuk-list--bullet">
    <li>Confirm: add data provider role</li>
    <li>Confirm: add data provider role (not self certify)</li>
    <li>Confirm: remove data provider role</li>
    <li>Confirm: add data certifier role</li>
    <li>Confirm: remove data certifier role</li>
  </ul>

  <h4 class="govuk-heading-s">Confirm: add data provider role</h4>
  <div class="delta-modal">
    <p class="delta-align-right"><a href="#">Close</a></p>
    <h3 class="govuk-heading-m">Confirmation required: add data provider role</h3>
    <p>Please confirm that you wish to apply as a data provider for the English Hedgehog Monitoring collection group.</p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Add data provider role
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>

  <h4 class="govuk-heading-s">Confirm: add data provider role (not self certify)</h4>
  <div class="delta-modal">
    <p class="delta-align-right"><a href="#">Close</a></p>
    <h3 class="govuk-heading-m">Confirmation required: add data provider role</h3>
    <p>Please confirm that you wish to apply as a data provider for the English Hedgehog Monitoring collection group.</p>
    <p>Your application will be reviewed by the collection group owner.</p>
    <p>You will receive an email notification once your application has been approved.</p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Add data provider role
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>  

  <h4 class="govuk-heading-s">Confirm: remove data provider role</h4>
  <div class="delta-modal">
    <p class="delta-align-right"><a href="#">Close</a></p>
    <h3 class="govuk-heading-m">Confirmation required: remove data provider role</h3>
    <p>Please confirm you wish to be removed as a data provider for English Hedgehog Monitoring collection group.</p>
    <p>You will not be able to edit data for this collection once removed.</p>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button">
      Remove data provider role
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>    

  <h4 class="govuk-heading-s">Confirm: add data certifier role</h4>
  <div class="delta-modal">
    <p class="delta-align-right"><a href="#">Close</a></p>
    <h3 class="govuk-heading-m">Confirmation required: add data certifier role</h3>
    <p>Please confirm that you wish to apply as a data certifier for the English Hedgehog Monitoring collection group.</p>
    <p>Your application will be reviewed by the collection group owner.</p>
    <p>You will receive an email notification once your application has been approved.</p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Add data certifier role
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>  

  <h4 class="govuk-heading-s">Confirm: remove data certifier role</h4>
  <div class="delta-modal">
    <p class="delta-align-right"><a href="#">Close</a></p>
    <h3 class="govuk-heading-m">Confirmation required: remove data certifier role</h3>
    <p>Please confirm you wish to be removed as a data certifier for English Hedgehog Monitoring collection group.</p>
    <p>You will not be able to certify data for this collection once removed.</p>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button">
      Remove data certifier role
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>      

</div>

<div>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collection groups</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Collection group</th>
        <th scope="col" class="govuk-table__header">Organisation</th>
        <th scope="col" class="govuk-table__header">Data provider</th>
        <th scope="col" class="govuk-table__header">Data certifier</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/wayCollectionGroup">British Dragonfly Monitoring</a> <img src="/public/images/icon-lock-closed.svg" alt="icon lock closed" class="delta-icon"></th>
        <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl"> Arundel Borough Council</td>
        <td class="govuk-table__cell"><a href="/">Add</a></td>
        <td class="govuk-table__cell"><a href="/">Add</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/wayCollectionGroup">English Hedgehog Monitoring</a></th>
        <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
        <td class="govuk-table__cell"><a href="/">Add</a></td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Active</strong> <a href="/">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/wayCollectionGroup">English Hedgehog Monitoring</a></th>
        <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Active</strong> <a href="/">Remove</a></td>
        <td class="govuk-table__cell"><a href="/">Add</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/wayCollectionGroup">English Parrot Monitoring</a></th>
        <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Active</strong> <a href="/">Remove</a></td>
        <td class="govuk-table__cell">n/a</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="/wayCollectionGroup">English Parrot Monitoring</a></th>
        <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council</td>
        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Active</strong> <a href="/">Remove</a></td>
        <td class="govuk-table__cell">n/a</td>
      </tr>
    </tbody>
  </table>
  <!-- Pagination -->
  <p>Displaying records 1 to 10 of 13.</p>
  <nav class="govuk-pagination" aria-label="Pagination">
    <div class="govuk-pagination__prev">
      <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">
          Previous<span class="govuk-visually-hidden"> page</span>
        </span>
      </a>
    </div>
    <ul class="govuk-pagination__list">
      <li class="govuk-pagination__item govuk-pagination__item--current">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
          1
        </a>
      </li>
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
          2
        </a>
      </li>
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
          3
        </a>
      </li>
    </ul>
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="#" rel="next">
        <span class="govuk-pagination__link-title">
          Next<span class="govuk-visually-hidden"> page</span>
        </span>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      </a>
    </div>
  </nav>


</div>

<div class="designNote govuk-!-margin-bottom-4">
  <p><a href="/straightTalking#glossary">Glossary</a></p>
</div>
{% endblock %}
