{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Comms Banner" %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="designNote">
      <h1 class="govuk-heading-l">
        Banner
      </h1>
      <ul class="govuk-list delta-list-horizontal">
        <li><a href="/wayCommsHelpGuidance">Comms - help and guidance</a></li>      
        <li><a href="/wayCommsInt">Comms / Email / internal</a></li>
        <li><a href="/wayCommsExt">Comms / Email / external</a></li>
      </ul>
    </div>


    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          New
        </strong>
        <span class="govuk-phase-banner__text">
          We're adding new pages to Delta to make finding your tasks easier. <a class="govuk-link" href="/wayCommsHelpGuidance">Learn more about Delta improvements</a>.
        </span>
      </p>
    </div>


  </div>
</div>

{% endblock %}
