{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Comms Banner" %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="designNote">
      <p>Banner</p>
      <ul class="govuk-list delta-list-horizontal">
        <li><a href="/wayCommsBanner">Comms - banner</a></li>
        <li><a href="/wayCommsHelpGuidance">Comms - help and guidance</a></li>      
        <li><a href="/wayCommsInt">Comms - internal</a></li>
        <li><a href="/wayCommsExt">Comms - external</a></li>
      </ul>
    </div>


    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          We are making improvements to Delta
        </strong>
        <span class="govuk-phase-banner__text">
          From [date] there will be new pages to make it easier to find the tasks you need to do. <a class="govuk-link" href="#">Find out more about improvements to Delta</a>.
        </span>
      </p>
    </div>


  </div>
</div>

{% endblock %}
