{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Comm External" %}
{% block content %}

<!-- =================================================== -->
<div class="designNote">
  <p>Overview for external users</p>
  <ul class="govuk-list delta-list-horizontal">
    <li><a href="/wayCommsBanner">Comms - banner</a></li>
    <li><a href="/wayCommsHelpGuidance">Comms - help and guidance</a></li>      
    <li><a href="/wayCommsInt">Comms - internal</a></li>
    <li><a href="/wayCommsExt">Comms - external</a></li>
  </ul>  
</div>


<div class="govuk-grid-row" class="govuk-!-static-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Delta improvements
    </h1>
    <p class="govuk-body-l">
      We are using your feedback to improve Delta. These improvements will make it easier and
      faster to use. <del>We will tell you what we will change and when. The first changes will take place on [date].</del> They are:
    </p>
  </div>
</div>



<!-- Home page -->
<section id="homepage" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">New homepage</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p>Your new homepage will show you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>open and missed collections</li>
        <li>records that need certifying</li>
        <li>what has been submitted</li>
        <li>deadlines you need to meet</li>
      </ul>
      <p>You will still be able to access the same links as before. Access XX by selecting the link at  the top of the page.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-landing-MVP.png" class="delta-image-responsive delta-screen-grab">        
    </div>
  </div>
</section>   

<!-- Collection -->
<section id="collection" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Collection pages</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p>There will be a page for each collection. This will make it easier to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><del>view related collections</del></li>
        <li><del>view previous submissions</del></li>
        <li><del>see who has worked on the return</del></li>
        <li>see all relevant returns and records</li>
        <li>find out how to get support</li>
        <li><del>find out why we ask you for this data and what we use it for</del></li>
      </ul>
      <p>We are not changing the permissions you need to view or certify data.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-collection-MVP.png" class="delta-image-responsive delta-screen-grab"> 
    </div>
  </div>
</section>   

<!-- Records -->
<section id="records" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Record pages</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p>This is a new page to vie a summary of a record. You can see this page by selecting a record on the collections page.</p>
      <p>It will show:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the name of the record</li>
        <li>the organisation</li>
        <li>the collection</l>
        <li>the status</li>
        <li>who last updated/submitted/certified and when</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-record-MVP.png" class="delta-image-responsive delta-screen-grab"> 
    </div>
  </div>
</section>  


<!-- End / CTA -->
<h2 class="govuk-heading-l">How to use Delta</h2>
<p>See our help and guidance pages for more information on how to use Delta.</p>
<h2 class="govuk-heading-l">Your feedback</h2>
<p>To help us improve Delta, contact...</p>

{% endblock %}
