{% extends "layouts/delta.html" %}
{% set pageName="Changelog" %}
{% block content %}
<h1 class="govuk-heading-xl">
  Delta 2.0 changelog
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m">
      12 July 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Deadline changes to support extension messagess'</li>
    </ul>      

    <h3 class="govuk-heading-m">
      11 July 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>New table and filter component added to <a href="/wayCollectionGroups">Collection Groups</a>, <a href="/wayCollectionsDataProvider">Collections</a> and <a href="/wayCollectionGroup#collections">Collection Group</a></li>
      <li>Collections / Return: 'create' [record] button renamed to 'add' [record]</li>
      <li>Home: 'good morning' / 'good evening' replaced with 'welcome'</li>
    </ul>          

    <h3 class="govuk-heading-m">
      10 July 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/wayCollectionDataProvider-collectionRecords">Collection records</a>: removed "Record" from meta data table</li>
      <li>Collection (all): added new nav to view alt states</li>                  
      <li>Collections (MVP): removed organisation logos</li>
    </ul>          

    <h3 class="govuk-heading-m">
      12 June 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/wayCollectionDataProvider-collectionRecords#return">Collection (Records)</a>: new column 'by' in returns table</li>
    </ul>       

    <h3 class="govuk-heading-m">
      10 June 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Landing: put records requiring certification collections at top, added versions of tiles for missed collections (draft and certification required)</li>
    </ul>    

    <h3 class="govuk-heading-m">
      6 June 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/wayCollectionDataProvider-collectionRecordsMVP">Collection (summary, MPV)</a>: created MVP design for this page (DT-1031).</li>
    </ul>


    <h3 class="govuk-heading-m">
      5 June 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li><a href="/wayCollectionDataProvider-collectionSummaryFuture">Collection (future)</a>: created version of Collection for status 'future'. Grey colour for 'future' tag. No Return area (buttons or table).</li>
      <li><a href="/wayCollectionsDataProvider">Collections</a>: added in example rows for Future and Extended collections. Updated status filter accordingly</li>
      <li><a href="/wayCollectionGroupMVP">Collection group (MPV)</a>: created MVP design for this page (DT-1035)</li>
    </ul>

    <h3 class="govuk-heading-m">
      31 May 2024 (post MVP ticket refinement)
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Breadcrumb / Home: now linking to <a href="wayLandingDataProviderAndCertifierAll">'all' version of home</a>. This page should be consider the master; it was getting too time consuming updating variants. </li>
      <li><a href="/wayCollectionGroup">Collection group</a>: added "You are not a member of this collection group. Manage your memberships." notification banner</li>
      <li><a href="/wayLandingDataProviderAndCertifierAll">Home</a>: "Return records" to "Return" with "records" appended to record count.</li>
      <li>Home: added "Displaying X or Y. View all Z" beneath each set of tiles.</li>
      <li>Home: "Recently closed collections with no return records. View all closed collections with no records." to "Recently closed collections with no return records."</li>
      <li>Home: Broke "Did you know" widget into two. Created new "Support and feedback" widget</li>
      <li>Home: removed exclamation point after user's name</li>
      <li>Home: removed sort by option for records requiring certification</li>
      <li>Navigation: added "Returns" as placeholder for Data Store.</li>
      <li><a href="wayCollectionDataProvider-collectionSummary">Collection (summary)</a>: added 'Submitted' tag</li>      
    </ul>    

    <h3 class="govuk-heading-m">
      30 May 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Collection group / <a href="/wayCollectionGroup#collections">Collections</a>: added filters to table (same filters as on <a href="/wayCollectionsDataProvider">Collections [search]</a>)</li>
      <li>Collection (records-based): added filters to <a href="wayCollectionDataProvider-collectionRecords#return">Return records</a></li>
      <li>Collection (records-based): in meta data (top table) changed label 'Records' to 'Return' for consistency with Summary design</li>
      <li><a href="wayCollectionDataProvider-collectionSummary">Collection (summary)</a>: NEW page. Created to show differences to records-based collection. <del>Note in the meta data (top table) we are using the label 'Return' instead of 'Records'.</del> The link could be 'create', 'draft', 'ready for certification' or 'certified'. Irrespective of the wording the link takes the user to the same part of the page (Return).</li>
    </ul>    

    <h3 class="govuk-heading-m">
      28 May 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Landing / Data provider and certifier - all: new version of this page with status messages and design notes when no open collection(s) or record(s) requiring certification.</li>
      <li>Account: big changes - reinstated phone number, added roles section, removed roles from memberships table (and filter). Updated modals</li>
    </ul>    

    <h3 class="govuk-heading-m">
      22 May 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Design notes: added notes and supporting design components in yellow boxes. These can be toggled off and on with the keyboard shortcut 'n' or with the toggle link in the footer</li>
      <li>Account: added confirmation modals (change email, leave organisation, manage roles)</li>
      <li>Collection: added organisation name to related collections</li>
      <li>Collection / Records: added ('+1 draft) for collections which have draft (not submitted) records</li>
      <li>Collection / Records: removed ID column (Jemma)</li>
      <li>Collection / Records: changed 'pending' to 'Ready for certification' (Jemma)</li>
      <li>Record (all): new buttons and view options aligned to current product (Jemma)</li>
    </ul>

    <h3 class="govuk-heading-m">
      21 May 2024 (post wider DLUHC demo 20/05/2024)
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Collection / <a href="wayCollectionDataProvider-collectionRecords#return">Records</a>: changed column heading '[Last] Edited' to '[Last] Updated'.</li>
      <li>Collection:  added call to action to make changes to team members</li>
      <li>Collection group: added addition team members and call to action to make changes</li>
      <li>Content change "Urban Hedgehog Census" to "English Hedgehog Census" to convey collection group access governed by organisation location (England, Wales, Scotland, N. Ireland)</li>
      <li><a href="/wayRecord-certified">Records</a>: big change to edited, submitted and certified (names and dates). This should work for records with cascading data</li>
      <li>Record: removed "this record is locked" message for records with "pending certification" status</li>
      <li>Account: removed user phone number</li>
      <li>Breadcrumbs: added 'Collection groups', removed 'Collections' (added it to nav). This fits with new hierarchy: Home > Collection group > Collection > Record</li>
    </ul>    

    <h3 class="govuk-heading-m">
      20 May 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Collection: removed warning count (after discussion with Jeremy)</li>
      <li>Record: removed warning count and description (after discussion with Jeremy)</li>
      <li>Collection group & collection: removed org name from Group members and roles (after discussion with Hugh)</li>
      <li>Collection: removed (hid) collection type (example: multi-record)</li>
      <li>Landing: created 3 version of page for data provider, missed collection and certifier</li>
      <li>Landing: rewrote notification banner to be sentence based. This will be easier to read for the majority of users.</li>
      <li>Header: added navigation (collections and reports)</li>
      <li>Account: added filters to collection groups and roles table</li>
    </ul>

    <h3 class="govuk-heading-m">
      15 May 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Collections: added design concept for orgs with no logo on file</li>
      <li>Collection group: added National Statistics logo</li>
      <li>Collection: changed 'Associated documents' to 'Useful documents and links' and added example link</li>
      <li>Collection: added warning count to record table</li>
      <li>Record: added warning information to overview</li>
    </ul>

    <h3 class="govuk-heading-m">
      2 May 2024 (Post design workshop)
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Landing: added record count to open collection tiles</li>
      <li>Landing: added 'missed collections area' and links in notification panel (blue box)</li>
      <li>Landing: added 'extended' tag for collection for which period has been extended</li>  
      <li>Collections: added Records count column. This will enable "view all missed collections with no records" link on landing </li>
      <li>Collections: new filters and display options. Form groups running horizontally</li>  
      <li>Collection group: removed date created</li>
      <li>Collection group: added group members and roles</li>
      <li>Collection: added link to support portal in support widget</li>
      <li>Collection: moved status tag to after deadline</li>
      <li>Collection: added record count to overview data and hyperlinked to Return area of page</li>
      <li>Collection: 'download all data .csv' button added. Possibly need to make more obvious</li>
      <li>Collection: added group members and roles</li>
      <li>Record: made editor/submitter email address and mailto link</li>
      <li>Record (certified): added certified date after certified tag (in overview)</li>
    </ul>

    <h3 class="govuk-heading-m">
      30 April 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Landing: implemented new, simplified design; removed recent records</li>
      <li>Collection groups: simplified by only allowing one type of group - e.g. 'Hedgehog census' only, not 'Hedgehog welfare officer'</li>
      <li>Account: removed collection group status following chat with Noor (functionality doesn't exist and it's easily confused with collection status (open/closed))</li>
      <li>Collections: removed records count and associated filtering</li>
    </ul>

    <h3 class="govuk-heading-m">
      29 April 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Breadcrumbs: removed from home (landing) and removed entity name</li>
      <li>Landing (<a href="/wayLandingDataProvider002">alternate design 002</a>): removed description and recent records. One link to view collection for simplicity</li>
      <li><strong>Based on UX testing session #3 (Jeremy)...</strong>
        <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
          <li>Record (Draft): fixed incorrect, confusing test data (Silverbrook > Ashford Hollow)</li> 
          <li>Note: user paranoid about entering data for wrong authority</li>
        </ul>
      </li>
      <li><strong>Based on UX testing session #3 (Dan & Tom)...</strong>
        <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
          <li>Note: user paranoid about entering data for wrong authority</li>
          <li>Idea: mock-up landing page with tiles containing <em>no</em> recent record. This will reduce complexity.</li>
          <li>Note: users paranoid about entering data for wrong authority</li>
          <li>Note: label "statuary return" vs "collection" vs "return"</li>
          <li>Note: Would like "Pending certification" vs "Pending"</li>
          <li>Note: "Draft" a confusing term?</li>
          <li>Note: Record / Certification date: add into left content</li>
          <li>Record (draft): added last edited date</li>
          <li>Collection / Collection group: made link to read more clearer</li>
        </ul>
      </li>  
    </ul>

    <h3 class="govuk-heading-m">
      26 April 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Organisation logos: experimenting with value of adding logos to help users differentiate between collection groups, collections and records</li>
      <li>Account: made organisation list alphabetical</li>
      <li>Account: added 'Groups and roles explained' draft copy</li>
      <li>Account: padlock emoji replaced with .svg</li>
      <li>Collection: copy change "13 records (12 submitted, 1 draft)."</li>
      <li><del>Collection groups: removed collections count (too confusing for users who are members of multiple organisations)</del></li>
      <li>Collection group: removed collection group column from collections table. Added organisation logos</li>
      <li>Landing: reverted notification banner to sentence, rather than list</li>
      <li>Landing: updated 'did you know' panel content to reflect new labels (example: 'return')</li>
      <li>Breadcrumb: added "Collection:" and "Record:" where appropriate to provide clarity of entity type</li>
      <li><strong>Based on UX testing session #2...</strong>
        <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
          <li>Record (Draft): change "submitted by" to "last edited by"</li>
          <li>Account / Collection groups: expanded and improved sorting options. Change status from 'open/closed' (used for collections) to 'active/inactive'</li>
          <li>Account / Collection groups / helper text: reworked for greater clarity and removal of 'apply' links</li>
        </ul>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      25 April 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Created UX testing <a href="/wayStart">launchpad</a> (start page)</li>
      <li>Created UX testing <a href="/wayOverview">overview page</a></li>
      <li>Added paging to Collection Groups and Collections</li>
      <li>Moved glossary expander to beneath page title (H1) for Collections and Collections Groups</li>    
      <li>Removed Wayfinding header from other (non Wayfinding) page designs</li>
      <li>Header (account): removed organisation select (drop-down) per discussions with Jeremy</li>
      <li>Added 'parent' organisation to Collection Groups, Collections and Records</li>
      <li>Collection / Associated documents: replaced lorum ipsum with dummy document descriptions</li>
      <li>Record (pending certification): added warning locked message</li>
      <li>Renamed all record files to remove reference to user role</li>
      <li>Changed name of individual doing record submission from Susie Smith to empathise that records can be created by others.</li>
      <li>Collection / Collection group: clearer copy explaining how collection belongs to the collection group.</li>
      <li>Account: removed user address</li>
      <li>Account: added CTA to contact support if missing membership organisation</li>
      <li>Account / <a href="/wayAccountDataProvider#collectionGroups">Collection groups</a>: added organisation (and Arundel demo content), collection group status now 'open' or 'closed', added temporary padlock icon next to collection with isn't self-certify, changed 'add' to 'apply' for data certifier roles, changes 'add' to 'apply' for data provider status for collections that aren't self-certify, removed tag styling from open and closed collection group status to focus user's attention on active provider or certifier status.</li>
      <li><strong>Based on UX testing session #1...</strong>
        <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
          <li>Landing: Important box now <del>contains a list, not paragraph, and</del> new labels</li>
          <li>Landing: replaced "records requiring certification" to "certifications required". (Certification is a noun)</li>
          <li>Landing: open collections now has sorting options</li>   
          <li>Landing: all mentions of 'Submission' changed to 'Return'</li>   
          <li>Landing: added link to Collection (parent) from open certification tile</li>      
          <li>Collection: 'Submission' renamed to 'Return'</li>
          <li>Collection: moved 'Related collections' to top of col 2 as these are very useful links</li>
        </ul>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      22 April 2024
    </h3>
    <ul class="govuk-list govuk-list--spaced govuk-list--bullet">
      <li>Show and tell (sneak peek) to devs</li>
      <li>Records: inline record preview removed</li>
      <li>Landing page: Data Provider and Data Certifier pages merged (open collections at top, records requiring certification at bottom)</li>
      <li>Header: added organisation drop-down</li>
      <li>Account: replace organisation select (radio buttons) with organisation list (user now select org via header drop-down)</li>
      <li>Account: Collection Groups - tweaked based on Jemma feedback to allow user to be both Data Provider and Data Certifier</li>
      <li>Collection: change button text from 'Create new record' to 'Create record'</li>
    </ul>    

    <!-- OLD -->




    <!-- TASKS -->
    <h2 class="govuk-heading-l" id="jobsToBeDone">Jobs to be done (Collections)</h2>
    <h3 class="govuk-heading-m">External users</h3>
    <h4 class="govuk-heading-s">Data provider</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Find the collection I need to provide a return for</li>
      <li>Understand what period of time the collection relates to</li>
      <li>Understand collection deadline</li>
      <li>Submit a return (record(s))</li>
      <li>View previous collection returns (check records)</li>
      <li>View collections I may have missed</li>
      <li>Understand who else can / has submitted data for a collection</li>
      <li>Find any collections I have access to</li>
      <li>View if there are other collections I should have access to / join</li>
      <li>Change my role (provider and certifier)</li>
      <li>Manage my account (including change my organisation)</li>
    </ul>
    <h4 class="govuk-heading-s">Data certifier</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>View which records I need to certify</li>
      <li>Certify a record</li>
      <li>Contact the record owner (submitter) if data is incorrect and/or I have questions</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- IN PAGE NAV -->
    <!-- <h2 class="govuk-heading-m">On this page</h2> -->
    <!-- <ul class="govuk-list govuk-list--number">
      <li><a href="#jobsToBeDone">Jobs to be done</a></li>      
    </ul> -->

    <h2 class="govuk-heading-m">Useful links</h2>
    <ul class="govuk-list govuk-list--number">
      <li><a href="/wayStart">UX demo launchpad</a> 🚀</li>      
      <li><a href="/wayTables">Tables</a> 🔥</li>      
      <li><a href="/wayOverview">UX overview</a></li>      
    </ul>    
  
  </div>
</div>

{% endblock %}
