{% extends "layouts/delta-email-testing.html" %}
{% set pageName="UX (Wayfinding) Comm External" %}
{% block content %}


<h1 class="govuk-heading-l">
Delta improvements
</h1>
<p>Hi Eleanor,<br><br>
We are using your feedback to improve Delta. These improvements will make it easier and
faster to use.</p>  

<p>These improvements will take place over the next few months, and will:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>reduce support requests</li>
  <li>make it easier to access support </li>
  <li>improve the audit trail</li>
</ul>   

<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing#homepage">Homepage</a></h2>
<p>Data providers will have a new homepage. It will show them:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>deadlines they need to meet</li>  
  <li>open and missed collections</li>
  <li>records that need certifying</li>
</ul>

<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing#collection">Collection page</a></h2>      
<p>There will be a page for each collection. There will be links to relevant documents such as guidance for data providers and certifiers.</p>
<p>The permissions needed to view or certify data will not change.</p>

<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing#record">Record page</a></h2>
<p>This is a new page to view a summary of a record. Data providers can see this page by selecting a record on the collections page.</p>
<p>It will show:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the name of the record</li>
  <li>the organisation</li>
  <li>the collection</l>
  <li>the status</li>
  <li>who last updated/submitted/certified and when</li>
</ul>

<!-- End / CTA -->
<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing">How to use Delta</a></h2>
<p>See our <a href="#"">help and guidance pages</a> for more information on how to use Delta.</p>


{% endblock %}
