{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collection group" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Collection groups",
        href: "/wayCollectionGroups"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<img src="/public/images/logo-statistic.png" alt="Statistics logo" style="max-width: 140px; margin-bottom: 1rem; float: right;">
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Collection group</small><br>
  English Hedgehog Monitoring
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="designNote">
      <p><a href="/wayCollectionGroupMVP">MVP version of this page</a></p>
    </div>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="max-width: 100%;">
          You are not a member of this collection group. <a href="/wayAccountDataProvider#collectionGroups" class="govuk-notification-banner__link">Manage your memberships</a>.</a>
        </p>
      </div>
    </div>

    <dl class="govuk-summary-list govuk-!-width-three-quarters">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Group ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHM
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green">Active</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collections
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#collections">13 (2 open)</a>
        </dd>
      </div>
    </dl>

    <img src="/public/images/masthead-hedgehog.jpg" alt="Hedgehog walking down a path like a boss" style="max-width: 100%; margin-bottom: 1rem;">

    <p>The English Hedgehog Monitoring Group, part of Defra, plays a crucial role in wildlife conservation efforts across the English countryside. Comprising dedicated experts and researchers, our focus lies in studying and safeguarding the population of hedgehogs, an iconic species deeply ingrained in English culture. Through comprehensive monitoring programmes, we track hedgehog populations, analyse trends, and assess threats to their habitats. Utilising advanced techniques such as GPS tracking and genetic analysis, we gain insights into hedgehog behaviour, distribution, and health, aiding policymakers in formulating effective conservation strategies.</p>
    <p>Beyond monitoring, we provide invaluable services to the English government by offering recommendations for habitat preservation and restoration projects. Collaborating with local communities, conservation organisations, and landowners, we implement measures to create hedgehog-friendly environments, including the establishment of wildlife corridors and the installation of hedgehog-friendly fencing. Additionally, we engage in public outreach and education initiatives to raise awareness about the importance of hedgehog conservation and inspire citizen participation in habitat conservation efforts. Through our dedication and expertise, the English Hedgehog Monitoring Group plays a vital role in ensuring the survival of these cherished creatures for generations to come.</p>

    <p><small>Last updated 21 April 2024</small></p>
  </div>

  <div class="govuk-grid-column-one-third">

    <img src="/public/images/logoDefra.png" alt="Defra logo" style="max-width: 140px; margin-bottom: 1rem;">

    <h2 class="govuk-heading-s">Links</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Defra (new window)</a></li>
      <li><a href="#">Defra / English Hedgehog Monitoring (new window)</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-l">Group owner</h3>
    <p><strong>Samantha Bennett</strong><br>Policy Guidance, Defra<br>
    <a href="maitto:Samantha.Bennett@gov.uk">Samantha.Bennett@gov.uk</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m">Group members and roles</h3>

    <div class="designNote">
      <p>Note: listed below are individuals from <em>all</em> organisations that have access to this collection group.</p>
    </div>

    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Emily Thompson</strong>, Data certifier, <a href="#">emily.thompson@certifiers-r-us.org</a></li>
      <li><strong>Pipa Jones</strong>, Data provider, <a href="#">pipa.jones@arundel.gov.uk</a></li>
      <li><strong>Duncan Dixon</strong>, Data provider, <a href="#">duncan.dixon@arundel.gov.uk</a></li>
      <li><strong>Olivia Smith</strong>, Data provider, <a href="#">olivia.smith@arundel.gov.uk</a></li>
      <li><strong>Jonny Caffell</strong>, Data provider, <a href="#">jonny.caffell@Rivendell.gov.uk</a></li>
      <li><strong>Mike Phillips</strong>, Data provider, <a href="#">mike.phillips@Rivendell.gov.uk</a></li>
      <li><strong>Sarah Jones</strong>, Data provider, <a href="#">sarah.jones@Rivendell.gov.uk</a></li>
    </ul>

    <p><a href="#">Request a change</a> to the collection members.</p>


  </div>
</div>


<!-- Collections -->


<h2 class="govuk-heading-l govuk-!-margin-top-9" id="collections">
  Collections
</h2>

  <!-- table results start -->
  <div class="delta-results">
    <!-- filters -->
    <div id="delta-results-filters" class="hidden">
      <div class="delta-results-filters-header">
        <a style="float: right;" id="closeFiltersPanel" class="detla-pointer">Hide</a>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Search</h3>
      </div>
      <div class="delta-results-filters-filters">
        <!-- Quick search -->
        <div>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                Filters results by keywords
            </h1>
            <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
          </div>
        </div>
        <!-- Accordion -->
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Organisations <small>(2 active<span class="govuk-visually-hidden"> filters</span>)</small>
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">

              <!-- active orgs -->
              <ul class="govuk-list govuk-list--spaced">
                <li class="delta-filter-item-active">Rivendell Borough Council<a href="#" class="filter-item-remove" title="Remove"><span class="govuk-visually-hidden">Remove  </span><img src="/public/images/icon-close.svg" alt="icon remove" class="delta-icon delta-icon--link"></a></li>
                <li class="delta-filter-item-active">Arundel Borough Council<a href="#" class="filter-item-remove" title="Remove"><span class="govuk-visually-hidden">Remove  </span><img src="/public/images/icon-close.svg" alt="icon remove" class="delta-icon delta-icon--link"></a></li>
              </ul>

              <!-- search -->


              <!-- results drop-down -->
              <div class="govuk-form-group">
                <label class="govuk-label govuk-visually-hidden" for="selectOrg">
                  selectOrg
                </label>
                <select class="govuk-select govuk-!-margin-bottom-3 delta-w-100" id="selectOrg" name="selectOrg">
                  <option value="Select" selected>Select organisation</option>
                  <option value="Rivertown">Rivertown Borough Council</option>
                  <option value="Greendale">Greendale Borough Council</option>
                  <option value="Sunnybrook">Sunnybrook Borough Council</option>
                  <option value="PineValley">Pine Valley Borough Council</option>
                </select>
                <button class="govuk-button govuk-!-margin-bottom-0">Add</button>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  Status
                </span>
              </h2>
            </div>
            <div id="filter-group-status" class="govuk-accordion__section-content">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Status" name="Status" type="checkbox" value="carcasses" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="Status">
                      Open
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                      Closed
                    </label>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <button class="govuk-button govuk-button--secondary govuk-button--inverse">Clear filters</button>
        <p><a href="#">Save this search</a></p>
      </div>
    </div>
    <!-- table data here -->
    <div id="delta-results-data">
      <!-- result count, filter toggle (inc. active filter count) quick search,  -->
      <div class="delta-results-data-header">
        <div class="delta-results-table-filter-summary delta-flex-horizontal">
          <div>
            <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 13.</p>
          </div>
          <div>
            <p class="govuk-!-margin-bottom-0"><strong><a id="toggleFiltersPanel" class="detla-pointer">Search</a></strong> <strong class="govuk-tag delta-tag-pill delta-tag-pill--inverse">3 active filters</strong></p>
          </div>
        </div>
      </div>

      <!-- data table -->
      <div>
        <table class="govuk-table govuk-table--small-text-until-tablet">
          <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><a href="#">Collection <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Organisation <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Deadline <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Records <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Status <img src="/public/images/sort.svg"></a></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2023</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">16 July 2024 </td>
              <td class="govuk-table__cell">9</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Open</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2023</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">16 July 2024 </td>
              <td class="govuk-table__cell">12 (+1 draft)</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Open</strong></td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="">Hedgehog protection officer survey 2023</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">26 April 2024</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="">Hedgehog protection officer survey 2023</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">26 April 2024</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>         -->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2022</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">16 July 2023 </td>
              <td class="govuk-table__cell">9</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2022</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">16 July 2023 </td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2021</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">16 July 2022</td>
              <td class="govuk-table__cell">9</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2021</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">16 July 2022</td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2020</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">16 July 2021</td>
              <td class="govuk-table__cell">9</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2020</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">16 July 2021</td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2019</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">16 July 2020</td>
              <td class="govuk-table__cell">9</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="wayCollectionDataProvider-collectionRecords">English hedgehog census 2019</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">16 July 2020</td>
              <td class="govuk-table__cell">12</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="">Hedgehog protection officer survey 2022</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</td>
              <td class="govuk-table__cell">11 July 2023 </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="">Hedgehog protection officer survey 2022</a></th>
              <td class="govuk-table__cell"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</td>
              <td class="govuk-table__cell">11 July 2023 </td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">Closed</strong></td>
            </tr> -->
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Previous<span class="govuk-visually-hidden"> page</span>
            </span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
  <!-- table end start -->

<!-- OLD BELOW -->

<div>

</div>


{% endblock %}
