{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Comms Banner" %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="designNote">
      <p>Banner</p>
      <ul class="govuk-list delta-list-horizontal">
        <li><a href="/wayCommsBanner">Comms - banner</a></li>
        <li><a href="/wayCommsInt">Comms - internal</a></li>
        <li><a href="/wayCommsExt">Comms - external</a></li>
      </ul>
    </div>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          We are making improvements to Delta. From [date] there will be new pages to make it easier to find the tasks you need to do. <a class="govuk-notification-banner__link" href="#">Find out more about improvements to Delta</a>.
        </p>
      </div>
    </div>



  </div>
</div>

{% endblock %}
