{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Comm External" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!-- =================================================== -->
    <div class="designNote">
      <p>Overview for external users</p>
      <ul class="govuk-list delta-list-horizontal">
        <li><a href="/wayCommsBanner">Comms - banner</a></li>
        <li><a href="/wayCommsInt">Comms - internal</a></li>
        <li><a href="/wayCommsExt">Comms - external</a></li>
      </ul>  
    </div>


    <h1 class="govuk-heading-xl">
      Delta improvements
    </h1>


    <p class="govuk-body-l">
      We are using your feedback to improve Delta. These improvements will make it easier and
      faster to use. We will tell you what we will change and when.
      The first changes will take place on [date]. They are:
    </p>

    <h2 class="govuk-heading-l">New homepage</h2>
    <p>Your new homepage will show you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>open and missed collections</li>
      <li>records that need certifying</li>
      <li>what has been submitted</li>
      <li>deadlines you need to meet</li>
    </ul>

    <p>You will still be able to access the same links as before. Access XX by selecting the link at  the top of the page.</p>


    <h2 class="govuk-heading-l">Collection pages</h2>

    <p>There will be a page for each collection. This will make it easier to:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>view related collections</li>
      <li>view previous submissions</li>
      <li>see who has worked on the return</li>
      <li>see all relevant returns and records</li>
      <li>find out how to get support</li>
      <li>find out why we ask you for this data and what we use it for</li>
    </ul>

    <p>We are not changing the permissions you need to view or certify data.</p>

    <h2 class="govuk-heading-l">Record pages</h2>

    <p>This is a new page to vie a summary of a record. You can see this page by selecting a
      record on the collections page.</p>

    <p>It will show:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the name of the record</li>
      <li>the organisation</li>
      <li>the collection</l>
      <li>the status</li>
      <li>who last updated/submitted/certified and when</li>
    </ul>


    <h2 class="govuk-heading-l">How to use Delta</h2>

    <p>See our help and guidance pages for more information on how to use Delta.</p>

    <h2 class="govuk-heading-l">Your feedback</h2>
    <p>To help us improve Delta, contact...</p>

  </div>
</div>

{% endblock %}
