{% extends "layouts/delta-email-testing.html" %}
<!-- {% set pageName="UX (Wayfinding) Comm External" %} -->
{% block content %}

<h1 class="govuk-heading-l">
Delta improvements
</h1>
<p>Hi Susie,<br><br>
We are using your feedback to improve Delta. These improvements will make it easier and
faster to use.</p>
<p>These are the first changes. You will be able to see them within the next few weeks.</p>

<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing#homepage">Homepage</a></h2>
<p>Your new homepage will show you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>deadlines you need to meet</li>  
  <li>open and missed collections</li>
  <li>records that need certifying</li>
</ul>

<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing#collection">Collection page</a></h2>      
<p>This is a new page for each collection. This will make it easier to see all relevant returns and records and find out how to get support.</p>
<p>There will be links to relevant documents such as guidance.</p>

<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing#record">Record page</a></h2>
<p>This is a new page to view a summary of a record. You can see this page by selecting a record on the collections page.</p>
<p>It will show:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the name of the record</li>
  <li>the organisation</li>
  <li>the collection</l>
  <li>the status</li>
  <li>who last updated/submitted/certified and when</li>
</ul>

<!-- End / CTA -->
<h2 class="govuk-heading-m"><a href="/wayCommsHelpGuidance-testing">How to use Delta</a></h2>
<p>See our <a href="#"">help and guidance pages</a> for more information on how to use Delta.</p>

{% endblock %}
