{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Comms" %}
{% block content %}

<!-- =================================================== -->
<div class="designNote">
  <p>Overview for external users</p>
</div>


<h1 class="govuk-heading-xl">
  Delta improvements
</h1>


<p class="govuk-body-l">
  We are using your feedback to improve Delta. These improvements will make it easier and
  faster to use. We will tell you what we will change and when.
  The first changes will take place on [date]. They are:
</p>

<h2 class="govuk-heading-l">New homepage</h2>
<p>Your new homepage will show you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>open and missed collections</li>
  <li>records that need certifying</li>
  <li>what has been submitted</li>
  <li>deadlines you need to meet</li>
</ul>

<p>You will still be able to access the same links as before. Access XX by selecting the link at  the top of the page.</p>


<h2 class="govuk-heading-l">Collection pages</h2>

<p>There will be a page for each collection. This will make it easier to:</p>


<ul class="govuk-list govuk-list--bullet">
  <li>view related collections</li>
  <li>view previous submissions</li>
  <li>see who has worked on the return</li>
  <li>see all relevant returns and records</li>
  <li>find out how to get support</li>
  <li>find out why we ask you for this data and what we use it for</li>
</ul>

<p>We are not changing the permissions you need to view or certify data.</p>

<h2 class="govuk-heading-l">Record pages</h2>

<p>This is a new page to vie a summary of a record. You can see this page by selecting a
  record on the collections page.</p>

<p>It will show:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the name of the record</li>
  <li>the organisation</li>
  <li>the collection</l>
  <li>the status</li>
  <li>who last updated/submitted/certified and when</li>
</ul>


<h2 class="govuk-heading-l">How to use Delta</h2>

<p>See our help and guidance pages for more information on how to use Delta.</p>

<h2 class="govuk-heading-l">Your feedback</h2>
<p>To help us improve Delta, contact...</p>

<!-- =================================================== -->
<div class="designNote">
  <p>Overview for internal users</p>
</div>

<h1 class="govuk-heading-xl">Delta improvements</h1>
<p>We are using your feedback to improve Delta.</p>
<p>These improvements will take place over the next few months, and will:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>improve data quality</li>
  <li>reduce support requests</li>
  <li>make it easier to access support</li§>
  <li>improve the audit trail</li>
</ul>

<p>We will tell you what we will change and when.</p>
<p>The first changes will take place on [date]. They are:</p>

<h2>New homepage</h2>
<p>Data providers will have a new homepage. It will show them:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>open and missed collections</li>
  <li>records that need certifying</li>
  <li>what has been submitted</li>
<li>deadlines they need to meet</li>
</ul>

<h2>Collection pages</h2>
<p>There will be a page for each collection. This will make it easier for data providers to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>view related collections</li>
  <li>view previous submissions</li>
  <li>see who has worked on the return</li>
  <li>see all relevant returns and records</li>
  <li>find out how to get support</li>
  <li>find out why we ask them for this data and what we use it for</li>
</ul>

<p>The permissions needed to view or certify data will not change.</p>


<h2>Record pages</h2>
<p>
  This is a new page to view a summary of a record. Data providers can see this page by
  selecting a record on the collections page.
</p>
<p>It will show:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the name of the record</li>
  <li>the organisation</li>
  <li>the collection</p>
  <li>the status</li>
  <li>who last updated, submitted or certified it and when</li>
</ul>


<h2 class="govuk-heading-l">Your feedback</h2>
<p>To help us improve Delta, contact...</p>
OFFICI
AL
OFFICI
AL
Banner
We are making improvements to Delta. From [date] there will be new pages to make it easier
to find the tasks you need to do. Find out more about improvements to Delta.
OFFICI
AL
OFFICI
AL
Help and guidance
H1:
How to use the new pages
As part of the improvements to Delta, we have introduced a new homepage and new pages
for each collection group, collection and record. There are also changes to the datastore.
H2:
Homepage
The new homepage shows:

open and missed collections

records that need certifying

records that have been submitted

deadlines
This makes it easier to get to collections.
Users can see information for all their organisations and will no longer have to choose which
organisation to view.
Links to support are clearer, making it easier for users to find the support they need.
H3:
Action banner
A banner at the top of the page shows users actions they need to take. This could be a
record that needs submitting or certifying, or a collection where the deadline has passed. It
links to the section of the page with more information.
H3:
Open collections
The homepage shows open collections for every organisation the user has access to where:

the deadline has not passed

the deadline has been extended

a record has been submitted

no record has been submitted
The homepage shows up to 5 records. It links to the collections table which shows all the
records
.
H3:
Missed collections
The homepage shows collections with no returns in the last 2 years. To request a deadline
extension, contact XX.
H3:
Certify a record
Data certifiers and users with the correct permissions can see which records they need to
certify. The homepage shows up to 5 records and links to the collections table where they
can see all the records that need certifying. To certify a record, select ‘view record and
certify’.
H3:
What has moved
Links that were previously on the homepage can still be found at the top of the page. They
are XXX
H2:
Collection
Users can go straight to the new collection page by selecting the link on the homepage.
OFFICI
AL
OFFICI
AL
There is a page for each collection. This makes it easier for organisations to:

view related collections

view previous submissions

see who has worked on the return

see all relevant returns and records

see deadlines

find out how to get support

find out why we ask for this data and what we use it for
Users can share a direct link to the collection with colleagues who have the correct
permissions.
The permissions you need to view or certify data have stayed the same.
H3:
What is on the collection page
On the collection page is:

the collection’s name

the deadline and how many days the user has to submit

whether a collection is open or closed

the date the collection opened

whether a return has been submitted

the time period the data covers

what options are available to submit data

if the collection needs certifying

useful documents
H3:
How to create a record
On the collection page, select ‘create record’. This creates a draft record that can be
filled in as usual.
H2:
Record
This page shows a summary of a record. Find this page by selecting a record on the
collection page.
It shows:

the name of the record

the organisation

the collection

the status

who last updated, submitted or certified it and when
Users can share a direct link to the record with colleagues who have permission.
If users can't edit or submit a record, there is a drop down to tell them why.
H2:
Collection group
A collection group is all the collections for a specific purpose.
The hierarchy is:
OFFICI
AL
OFFICI
AL
Collection group
>
Collection
>
Return
>
Record
For example, the census is a collection group.
This page gives users information about the collection group, how the data is used and lists
all collections, both past and present. It displays the ID and links to a table with all the
collections in the group listed.
H2:
 Datastore
The link in the datastore now takes users to the record page. It shows the date a record was
last updated and submitted. It also shows the date a record was certified if it has been
certified


{% endblock %}
