{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collection group" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Collection groups",
        href: "/wayCollectionGroups"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Collection group</small><br>
  Urban Hedgehog Monitoring
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="designNote">
      <p><a href="/wayCollectionGroup">Bells and whistles version of this page</a></p>
    </div>      

    <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="max-width: 100%;">
          You are not a member of this collection group. <a href="/wayAccountDataProvider#collectionGroups" class="govuk-notification-banner__link">Manage your memberships</a>.</a>
        </p>    
      </div>
    </div>         -->

    <dl class="govuk-summary-list govuk-!-width-three-quarters">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Group ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHM
        </dd>
      </div>    
    </dl>

  </div>

  <div class="govuk-grid-column-one-third">



  </div>
</div>


<!-- Collections -->


<h2 class="govuk-heading-l govuk-!-margin-top-9" id="collections">
  Collections
</h2>

<p><a href="/wayCollectionsDataProvider">View collections for the group</a>.</p>



{% endblock %}
