{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Landing (Data Provider / Records based collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      },
            {
        text: "Collection groups",
        href: "wayCollectionGroups"
      },
      {
        text: "English Hedgehog Monitoring",
        href: "wayCollectionGroup"
      }
    ]
  }) }}

{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Collection</small><br>
  English hedgehog census 2023
</h1>
<div class="designNote">
  <p>This is a <strong>records-based</strong> (aka case) collection. View the <a href="wayCollectionDataProvider-collectionSummary">summary version</a>.</p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Defra is requesting data from local authorities regarding confirmed hedgehog sightings in towns with populations exceeding 10,000.</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">            
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council
        </dd>
      </div>         
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHC23
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Deadline
        </dt>
        <dd class="govuk-summary-list__value">
          16 July 2024 <small><span class="delta-text-secondary">(90 days remaining)</span></small> <strong class="govuk-tag govuk-tag--green delta-tag">Open</strong>
        </dd>
      </div>     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Opened
        </dt>
        <dd class="govuk-summary-list__value">
          16 January 2024
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Return
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#return">12 (+1 draft) records</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Data period
        </dt>
        <dd class="govuk-summary-list__value">
          1 January 2023 &dash; 31 December 2023
        </dd>
      </div>              
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection type
        </dt>
        <dd class="govuk-summary-list__value">
          Multiple record support
        </dd>
      </div>      -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Record submission options
        </dt>
        <dd class="govuk-summary-list__value">
          Form, bulk upload, API
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Records require certification
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>    
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="referenceData">Useful documents and links</h2>
    <p>Guidance and templates relating to this collection.</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Counting hedgehogs: a quick guide
        </dt>
        <dd class="govuk-summary-list__value">
          Learn to differentiate between hedgehogs and other furry creatures with expert guidance, complete with tips on accurate counting.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Download (PDF 2.3MB)</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bulk upload template
        </dt>
        <dd class="govuk-summary-list__value">
          If you have many towns to submit records for, it might be more efficient to batch upload data as a .csv file. Use this Excel template to ensure the data provided meets this collection's requirements.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Download (Excel 0.2MB)</a>
        </dd>
      </div> 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hedgehog census glossary
        </dt>
        <dd class="govuk-summary-list__value">
          A guide to terms relating to this collection.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">View (new window)</a>
        </dd>
      </div>            
    </dl>    



  </div>
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-l" id="relatedCollections">Related collections</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="#"><strong>Urban hedgehog census 2022</strong>, Waverley Borough Council</a></li>
      <li><a href="#"><strong>Urban hedgehog census 2021</strong>, Waverley Borough Council</a></li>
      <li><a href="#"><strong>Urban hedgehog census 2020</strong>, Waverley Borough Council</a></li>
    </ul>    
    <p><a href="/wayCollectionGroup#collections">View all related collections</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">    

    <h2 class="govuk-heading-l">Support</h2>
    <p>For assistance visit the <a href="#">Delta support portal</a> or email <a href="mailto:Samantha.Bennett@gov.uk">support@delta.org</a> and quote the collection ID 'UHC23'.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">       

    <h3 class="govuk-heading-l">Collection group</h3>
    <h4 class="govuk-heading-s"><a href="/wayCollectionGroup">English Hedgehog Monitoring</a></h4>
    <a href="wayCollectionGroup"><img src="/public/images/masthead-hedgehog.jpg" alt="Hedgehog walking down a path like a boss" style="max-width: 100%; margin-bottom: 1rem;"></a>    
    <p>The <em>Urban hedgehog census 2023</em> collection belongs to the <a href="/wayCollectionGroup">English Hedgehog Monitoring</a> collection group.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">       

    <h3 class="govuk-heading-m">Group members and roles</h3>
    <div class="designNote">
      <p>Note: listed below are individuals from <em>only</em> the organisation that has access to this collection.</p>
    </div>    
    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Emily Thompson</strong>, Data certifier, <a href="#">emily.thompson@certifiers-r-us.org</a></li>      
      <li><strong>Jonny Caffell</strong>, Data provider, <a href="#">jonny.caffell@waverley.gov.uk</a></li>
      <li><strong>Mike Phillips</strong>, Data provider, <a href="#">mike.phillips@waverley.gov.uk</a></li>
      <li><strong>Sarah Jones</strong>, Data provider, <a href="#">sarah.jones@waverley.gov.uk</a></li>      
    </ul>
    <p><a href="#">Request a change</a> to the collection members.</p>


  </div>
</div>
<h2 class="govuk-heading-l govuk-!-margin-top-8" id="return">
  Return
</h2>
<p class="govuk-body-l">12 submitted records plus 1 draft record (not submitted).</p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Create record
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Bulk upload
    </button> 
  </div>
  <div class="govuk-grid-column-one-half govuk-!-text-align-right ">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download all records (.csv)
    </button>    
  </div>  
</div>

<!-- Filters -->
<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-full delta-form-inline-form-groups">
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
        <option value="oldest">Updated</option>
        <option value="recordName">Record name</option>    
        <option value="collectionName">Collection name</option>       
        <option value="certification">Certification</option>      
        <option value="status" selected>Status</option>     
      </select>
    </div>

    <!-- Certificion -->
    <div class="govuk-form-group">
      <label class="govuk-label" for="certification">
        Certification
      </label>
      <select class="govuk-select" id="certification" name="certification">
        <option value="certificationAll" selected>All</option>
        <option value="certification" selected>Ready for certification</option>
        <option value="certification" selected>Certified</option>
      </select>
    </div>       


    <!-- Status -->
    <div class="govuk-form-group">
      <label class="govuk-label" for="status">
        Status
      </label>
      <select class="govuk-select" id="status" name="status">
        <option value="status" selected>All</option>
        <option value="status" selected>Draft</option>
        <option value="status" selected>Submitted</option>
      </select>
    </div>    

    <div class="govuk-form-group">
      <div class="govuk-label-wrapper">
        <label class="govuk-label" for="collection-name">
          Search
        </label>
      </div>
      <input class="govuk-input" id="collection-name" name="collectionName" type="text">
    </div>    

    <div>
      <br><br>
      <p><a href="#">Clear filters</a></p>
    </div>

  </div>
</div>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Records</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Title</th>
      <th scope="col" class="govuk-table__header">Updated</th>
      <th scope="col" class="govuk-table__header">Certification</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-draft">Witley</a></th>
      <td class="govuk-table__cell">14 April 2024</td>
      <td class="govuk-table__cell"></td>            
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow delta-tag">Draft</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certificationPending">Cranleigh</a></th>
      <td class="govuk-table__cell">15 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Ready for certification</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Godalming</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Alford</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Haslemere</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Milford</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Busbridge</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="wayRecordDataProvider-collectionRecords">Guildford</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Frensham</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/wayRecord-certified">Loxwood</a></th>
      <td class="govuk-table__cell">18 April 2024</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></td>
      <td class="govuk-table__cell">Submitted</td>
    </tr>
  </tbody>
</table>
<p>Displaying records 1 to 10 of 13.</p>
<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>

{% endblock %}
