{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Landing (Data Provider / Summary collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
            {
        text: "Collection groups",
        href: "wayCollectionGroups"
      },
      {
        text: "English Hedgehog Monitoring",
        href: "wayCollectionGroup"
      }
    ]
  }) }}

{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Collection</small><br>
  English hedgehog census 2023
</h1>
<div class="designNote">
  <p>This is a <strong>summary</strong> (aka aggregate (single record)) collection. View the <a href="wayCollectionDataProvider-collectionRecords">record-based version</a>.</p>
  <p><a href="wayCollectionDataProvider-collectionSummary">Live (open) version of this collection</a>.</p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="max-width: 100%;">
          This collection is currently closed and will open on August 16, 2024. You may submit records starting from that date.
        </p>    
      </div>
    </div>


    <p class="govuk-body-l">Defra is requesting data from local authorities regarding confirmed hedgehog sightings in towns with populations exceeding 10,000.</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">            
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council
        </dd>
      </div>         
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHC23
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Deadline
        </dt>
        <dd class="govuk-summary-list__value">
          16 November 2024
        </dd>
      </div>     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Opens
        </dt>
        <dd class="govuk-summary-list__value">
          16 August 2024 <strong class="govuk-tag govuk-tag--orange delta-tag">Future</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Return
        </dt>
        <dd class="govuk-summary-list__value">
          -
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Data period
        </dt>
        <dd class="govuk-summary-list__value">
          1 January 2023 &dash; 31 December 2023
        </dd>
      </div>              
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection type
        </dt>
        <dd class="govuk-summary-list__value">
          Multiple record support
        </dd>
      </div>      -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Record submission options
        </dt>
        <dd class="govuk-summary-list__value">
          Form, bulk upload, API
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Records require certification
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div>    
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="referenceData">Useful documents and links</h2>
    <p>Guidance and templates relating to this collection.</p>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Counting hedgehogs: a quick guide
        </dt>
        <dd class="govuk-summary-list__value">
          Learn to differentiate between hedgehogs and other furry creatures with expert guidance, complete with tips on accurate counting.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Download (PDF 2.3MB)</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bulk upload template
        </dt>
        <dd class="govuk-summary-list__value">
          If you have many towns to submit records for, it might be more efficient to batch upload data as a .csv file. Use this Excel template to ensure the data provided meets this collection's requirements.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Download (Excel 0.2MB)</a>
        </dd>
      </div> 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hedgehog census glossary
        </dt>
        <dd class="govuk-summary-list__value">
          A guide to terms relating to this collection.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">View (new window)</a>
        </dd>
      </div>            
    </dl>    



  </div>
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-l" id="relatedCollections">Related collections</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="#"><strong>Urban hedgehog census 2022</strong>, Waverley Borough Council</a></li>
      <li><a href="#"><strong>Urban hedgehog census 2021</strong>, Waverley Borough Council</a></li>
      <li><a href="#"><strong>Urban hedgehog census 2020</strong>, Waverley Borough Council</a></li>
    </ul>    
    <p><a href="/wayCollectionGroup#collections">View all related collections</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">    

    <h2 class="govuk-heading-l">Support</h2>
    <p>For assistance visit the <a href="#">Delta support portal</a> or email <a href="mailto:Samantha.Bennett@gov.uk">support@delta.org</a> and quote the collection ID 'UHC23'.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">       

    <h3 class="govuk-heading-l">Collection group</h3>
    <h4 class="govuk-heading-s"><a href="/wayCollectionGroup">English Hedgehog Monitoring</a></h4>
    <a href="wayCollectionGroup"><img src="/public/images/masthead-hedgehog.jpg" alt="Hedgehog walking down a path like a boss" style="max-width: 100%; margin-bottom: 1rem;"></a>    
    <p>The <em>Urban hedgehog census 2023</em> collection belongs to the <a href="/wayCollectionGroup">English Hedgehog Monitoring</a> collection group.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">       

    <h3 class="govuk-heading-m">Group members and roles</h3>
    <div class="designNote">
      <p>Note: listed below are individuals from <em>only</em> the organisation that has access to this collection.</p>
    </div>    
    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Emily Thompson</strong>, Data certifier, <a href="#">emily.thompson@certifiers-r-us.org</a></li>      
      <li><strong>Jonny Caffell</strong>, Data provider, <a href="#">jonny.caffell@waverley.gov.uk</a></li>
      <li><strong>Mike Phillips</strong>, Data provider, <a href="#">mike.phillips@waverley.gov.uk</a></li>
      <li><strong>Sarah Jones</strong>, Data provider, <a href="#">sarah.jones@waverley.gov.uk</a></li>      
    </ul>
    <p><a href="#">Request a change</a> to the collection members.</p>


  </div>
</div>
<h2 class="govuk-heading-l govuk-!-margin-top-8" id="return">
  Return
</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <button type="submit" class="govuk-button" data-module="govuk-button" disabled>
      Create record
    </button>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        The collection is currently closed and will open on August 16, 2024. You may submit records starting from that date.
      </strong>
    </div>


  </div>
  <div class="govuk-grid-column-one-half govuk-!-text-align-right "> 
  </div>  
</div>




{% endblock %}
