{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Help and guidance" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Help and guidance",
        href: "#"
      }
    ]
  }) }}

{% endblock %}
{% block content %}
<div class="designNote">
  <h1 class="govuk-heading-l">
    Web page
  </h1>
  <ul class="govuk-list delta-list-horizontal">
    <li><a href="/wayCommsBanner">Comms - banner</a></li>
    <li><a href="/wayCommsInt">Comms / Email / internal</a></li>
    <li><a href="/wayCommsExt">Comms / Email / external</a></li>
  </ul>
</div>

<div class="govuk-grid-row govuk-!-static-margin-bottom-3">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Delta 2.0 overview</h1>
    <p class="govuk-body-l">As part of the improvements to Delta, we have introduced a new <a href="#homepage">homepage</a> and new pages for each <a href="#collectionGroup">collection group</a>, <a href="#collection">collection</a>, and <a href="#record">record</a>. There are also changes to the <a href="#datastore">datastore</a>.</p>
  </div>
</div>  

<!-- Home page -->
<section id="homepage" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Homepage</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>The new homepage shows:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>open and missed collections</li>
          <li>records that need certifying</li>
          <li>records that have been submitted</li>
          <li>deadlines</li>
      </ul>
      <p>This makes it easier to get to collections.</p>
      <p>Users can see information for all their organisations and will no longer have to choose which organisation to view.</p>
      <p>Links to support are clearer, making it easier for users to find the support they need.</p>
  
      <!-- =================================================== -->

        <h3 class="govuk-heading-m">Action banner</h3>
        <img src="/public/images/grab-landing-banner.png" class="delta-image-responsive govuk-!-width-three-quarters"> 
        <p>A banner at the top of the page shows users actions they need to take. This could be a record that needs submitting or certifying, or a collection where the deadline has passed. It links to the section of the page with more information.</p>
  
      <h3 class="govuk-heading-m">Open collections</h3>
      <p>The homepage shows open collections for every organisation the user has access to where:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the deadline has not passed</li>
          <li>the deadline has been extended</li>
          <li>a record has been submitted</li>
          <li>no record has been submitted</li>
      </ul>
      <p>The homepage shows up to 5 records. It links to the collections table which shows all the records.</p>
  
      <h3 class="govuk-heading-m">Missed collections</h3>
      <p>The homepage shows collections with no returns in the last 2 years. To request a deadline extension, contact XX.</p>
  
      <h3 class="govuk-heading-m">Certify a record</h3>
      <p>Data certifiers and users with the correct permissions can see which records they need to certify. The homepage shows up to 5 records and links to the collections table where they can see all the records that need certifying. To certify a record, select ‘view record and certify’.</p>
  
      <h3 class="govuk-heading-m">What has moved</h3>
      <p>Links that were previously on the homepage can still be found at the top of the page. They are XXX</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-landing-MVP.png" class="delta-image-responsive delta-screen-grab">        
      <p><small>Version 2.0 of the new Delta homepage with dedicated sections for open collections, missed collections and records requiring certification.</small></p>
    </div>  
  </div>
</section>

<!-- Collection Group -->
<section id="collectionGroup" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Collection group</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
      <p>A collection group is all the collections for a specific purpose.</p>
      <p>The hierarchy is:</p>
      <p><strong>Collection group > Collection > Return > Record</strong></p>
      <p>For example, the census is a collection group.</p>
      <p>This page gives users information about the collection group, how the data is used and lists all collections, both past and present. It displays the ID and links to a table with all the collections in the group listed.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-collection-group-MVP.png" class="delta-image-responsive delta-screen-grab"> 
      <p><small>Version 2.0 of the new Delta collection group page.</small></p>
    </div>    
  </div>
</section>   

<!-- Collection -->
<section id="collection" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Collection</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Users can go straight to the new collection page by selecting the link on the homepage.</p>
      <p>There is a page for each collection. This makes it easier for organisations to:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li><del>view related collections</del></li>
          <li><del>view previous submissions</del></li>
          <li><del>see who has worked on the return</del></li>
          <li>see all relevant returns and records</li>
          <li>see deadlines</li>
          <li>find out how to get support</li>
          <li><del>find out why we ask for this data and what we use it for</del></li>
      </ul>
      <p>Users can share a direct link to the collection with colleagues who have the correct permissions.</p>
      <p>The permissions you need to view or certify data have stayed the same.</p>

      <h3 class="govuk-heading-m">What is on the collection page</h3>
      <p>On the collection page is:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the collection’s name</li>
          <li>the deadline and how many days the user has to submit</li>
          <li>whether a collection is open or closed</li>
          <li>the date the collection opened</li>
          <li>whether a return has been submitted</li>
          <li>the time period the data covers</li>
          <li>what options are available to submit data</li>
          <li>if the collection needs certifying</li>
          <li>useful documents</li>
      </ul>
  
      <h3 class="govuk-heading-m">How to create a record</h3>
      <p>On the collection page, select ‘create record’. This creates a draft record that can be filled in as usual.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-collection-MVP.png" class="delta-image-responsive delta-screen-grab"> 
      <p><small>Version 2.0 of the new Delta collection page.</small></p>      
    </div>    
  </div>
</section>
      
<!-- Record -->
<section id="collection" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Record</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    
      <p>This page shows a summary of a record. Find this page by selecting a record on the collection page.</p>
      <p>It shows:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>the name of the record</li>
          <li>the organisation</li>
          <li>the collection</li>
          <li>the status</li>
          <li>who last updated, submitted or certified it and when</li>
      </ul>
      <p>Users can share a direct link to the record with colleagues who have permission. If users can't edit or submit a record, there is a drop down to tell them why.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <img src="/public/images/grab-record-MVP.png" class="delta-image-responsive delta-screen-grab"> 
      <p><small>Version 2.0 of the new Delta record page.</small></p>      
    </div>    
  </div>
</section>      

<!-- Data store -->
<section id="datastore" class="govuk-!-static-margin-bottom-9">
  <h2 class="govuk-heading-l">Datastore</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
      <p>The link in the datastore now takes users to the record page. It shows the date a record was last updated and submitted. It also shows the date a record was certified if it has been certified.</p>
    </div>
  </div>
</section>

{% endblock %}
