{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collection group" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Collection groups",
        href: "/wayCollectionGroups"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Collection group</small><br>
  Urban Hedgehog Monitoring
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="designNote">
      <p><a href="/wayCollectionGroup">Bells and whistles version of this page</a></p>
    </div>      

    <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="max-width: 100%;">
          You are not a member of this collection group. <a href="/wayAccountDataProvider#collectionGroups" class="govuk-notification-banner__link">Manage your memberships</a>.</a>
        </p>    
      </div>
    </div>         -->

    <dl class="govuk-summary-list govuk-!-width-three-quarters">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Group ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHM
        </dd>
      </div>    
    </dl>

  </div>

  <div class="govuk-grid-column-one-third">

    <h3 class="govuk-heading-m">Group members and roles</h3>


    <!-- results drop-down -->
    <div class="govuk-form-group">
      <label class="govuk-label govuk-visually-hidden" for="selectOrg">
        Filter members by organisation
      </label>
      <select class="govuk-select delta-w-100" id="selectOrg" name="selectOrg">
        <option value="Select" selected>Filter by organisation</option>
        <option value="Rivertown">Rivertown Borough Council</option>
        <option value="Greendale">Greendale Borough Council</option>
      </select>
    </div>



    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Emily Thompson</strong>, Data certifier (Section 151 officer), <a href="#">emily.thompson@certifiers-r-us.org</a></li>
      <li><strong>Pipa Jones</strong>, Data provider, <a href="#">pipa.jones@arundel.gov.uk</a></li>
      <li><strong>Duncan Dixon</strong>, Data provider, <a href="#">duncan.dixon@arundel.gov.uk</a></li>
      <li><strong>Olivia Smith</strong>, Data provider, <a href="#">olivia.smith@arundel.gov.uk</a></li>
      <li><strong>Jonny Caffell</strong>, Data provider, <a href="#">jonny.caffell@rivendell.gov.uk</a></li>
      <!-- <li><strong>Mike Phillips</strong>, Data provider, <a href="#">mike.phillips@rivendell.gov.uk</a></li>
      <li><strong>Sarah Jones</strong>, Data provider, <a href="#">sarah.jones@rivendell.gov.uk</a></li> -->
    </ul>    



  </div>
</div>


<!-- Collections -->


<h2 class="govuk-heading-l govuk-!-margin-top-9" id="collections">
  Collections
</h2>

<p><a href="/wayCollectionsDataProvider">View collections for the group</a>.</p>



{% endblock %}
