{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Data Store " %}

{% block content %}


<a href="/wayDataStore" class="govuk-back-link">Back</a>


<!-- <div class="designNote">

  <p><a href="https://mhclgdigital.atlassian.net/browse/DT-1278" target="_blank">DT-1278</a></p>


  <h3 class="govuk-heading-m">Changes</h3>


  <h3 class="govuk-heading-m">To do</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>All the things</li>
  </ul>

</div> -->


<h1 class="govuk-heading-xl">
  Download confirmation
</h1>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      TBC - warning message goes here.
    </p>
  </div>
</div>

<div class="govuk-inset-text">
  You have selected 1,234 records to download.
</div>

    <h2 class="govuk-heading-m">Remove email addresses</h2>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading govuk-visually-hidden">
            Remove email addresses
          </h1>
        </legend>
        <div class="govuk-checkboxes xxgovuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="excludePersonalData" checked>
            <label class="govuk-label govuk-checkboxes__label" for="excludePersonalData">
              Reduce data that can identify people by removing email addresses.
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Download format
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="downloadFormat" name="downloadFormat" type="radio" value="csv" checked>
            <label class="govuk-label govuk-radios__label" for="downloadFormat">
              CSV
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="downloadFormat-2" name="downloadFormat" type="radio" value="xml">
            <label class="govuk-label govuk-radios__label" for="downloadFormat-2">
              XML
            </label>
          </div>
        </div>
      </fieldset>
    </div>    



    <div class="nhsuk-button-group">
      <button class="govuk-button">Download</button>
      <button class="govuk-button govuk-button--secondary">Cancel</button>
    </div>
    


  </div>
</div>

{% endblock %}
