{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Data Store " %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      }
    ]
  }) }}
{% endblock %}
{% block content %}




<div class="designNote">

  <p><a href="https://mhclgdigital.atlassian.net/browse/DT-1292" target="_blank">DT-1289</a></p>

  
  <h3 class="govuk-heading-m">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>xxxx</li>
  </ul>

  <h3 class="govuk-heading-m">To do</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Nothing outstanding</li>
  </ul>

</div>


<h1 class="govuk-heading-xl">
  Data Store
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">It's where data is stored, init.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with table labels
        </span>
      </summary>
      <div class="govuk-details__text">

      <ul class="govuk-list govuk-list--spaced">
          <li><strong>Collection name</strong>: The title of the collection.</li>
          <li><strong>Status</strong>:
            <ul>
              <li><strong>Future</strong>: The collection is currently closed and will open in the future.</li>
              <li><strong>Open</strong>: The collection is open, and there are no extensions.</li>
              <li><strong>Extended</strong>: The collection is open and there is an extension for one or more organisations.</li>
              <li><strong>Closed</strong>: The collection is closed, and returns cannot be submitted.</li>
            </ul>
          </li>
          <li><strong>Date open</strong>: The date the collection opens, and returns can be submitted.</li>
          <li><strong>Deadline</strong>: The last date any organisation can submit a return. This includes extensions.</li>
          <li><strong>Organisation</strong>: The number of organisations that can submit a return.</li>
          <li><strong>Not started</strong>: The number of organisations that have not started a return.</li>
          <li><strong>In progress</strong>: The number of organisations that have records either in draft or that need to be certified.</li>
          <li><strong>Completed</strong>: The number of returns that have either been certified or does not need to be certified.</li>
        </ul>
          

      </div>
    </details>


  </div>
</div>

    <!-- table results start -->
    <div class="delta-results">
        <!-- FILTERS START ============= -->
        <div id="delta-results-filters" class="hidden">
          <div class="govuk-!-padding-4" style="background-color: #f3f2f1;">
            <h1 class="govuk-heading-l">
              Filters <strong class="govuk-tag">1 active</strong>
            </h1>
            <!-- Quick search -->
            <div>
              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                    Filters results by keywords
                </h1>
                <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
              </div>
            </div>          
            <!-- ACCORDION -->
            <div class="govuk-accordion delta-accordion" data-module="govuk-accordion" id="table-filters">
              <!-- DATE RANGE -->
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-l">
                      Date range <strong class="govuk-tag">Active</strong>
                    </span>
                  </h2>
                  <!-- Delta's filter active indicator and clear option ====== -->
                  <div class="delta-accordion-filter-status">
                    <a href="#" title="Clear data range filter inputs">Clear <span class="govuk-visually-hidden">active date range filters</span></a>
                  </div>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">          
                  <!-- DATE FROM -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Open
                        </h1>
                      </legend>
                        <!-- <div id="contact-hint" class="govuk-hint">
                          Select one option
                        </div> -->
                      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-any" name="date-to" type="radio" value="date-to-all" data-aria-controls="conditional-date-to-specific">
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                            Earliest open date
                          </label>
                        </div>          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-specific" name="date-to" type="radio" value="date-to-specific" data-aria-controls="conditional-date-from-specific">
                          <label class="govuk-label govuk-radios__label" for="date-to-specific">
                            Specific open date
                          </label>
                        </div>
    
                        <div class="govuk-radios__conditional" id="conditional-date-from-specific">
                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                  Date
                                </h1>
                              </legend>
                        
                              <div id="date-to-hint" class="govuk-hint">
                                For example, 2 2022
                              </div>
                              
                              <div class="delta-date-picker-with-icon-button">
                                <!-- Date input as text ====== -->
                                <div class="govuk-date-input" id="range-from">
                                  <!-- <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-from-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-from-day" name="range-from-day" type="text" inputmode="numeric">
                                    </div>
                                  </div>                                 -->
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-from-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-from-month" name="range-from-month" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-from-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="range-from-year" name="range-from-year" type="text" inputmode="numeric">
                                    </div>
                                  </div>                                                                                 
                                </div>
                                <!-- Date input as calendar picker ====== -->
                                <div>
                                  <label class="govuk-label govuk-date-input__label" for="range-calendar">
                                    <span class="delta-visually-hidden">Calendar</span>
                                  </label>
                                  <button class="govuk-button detla-icon-button" title="Select date with calendar picker">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="delta-icon-button-icon">
                                      <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l352 0 0 256c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256z"/>
                                    </svg>                                  
                                  </button>
                                </div>
                              </div>
                            </fieldset>   
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>    
                  <!-- DATE TO -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Deadline
                        </h1>
                      </legend>
                        <!-- <div id="contact-hint" class="govuk-hint">
                          Select one option
                        </div> -->
                      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-any" name="date-to" type="radio" value="phone" data-aria-controls="conditional-date-to-specific">
                          <label class="govuk-label govuk-radios__label" for="contact-2">
                            Latest deadline
                          </label>
                        </div>          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="date-to-specific" name="date-to" type="radio" value="email" data-aria-controls="conditional-date-to-specific">
                          <label class="govuk-label govuk-radios__label" for="date-to-specific">
                            Specific deadline
                          </label>
                        </div>
    
                        <div class="govuk-radios__conditional" id="conditional-date-to-specific">
                          <div class="govuk-form-group govuk-form-group--error">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-to-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                  Date
                                </h1>
                              </legend>
                        
                              <div id="date-to-hint" class="govuk-hint">
                                For example, 2 2024
                              </div>
                              <p id="date-to-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Month and year required
                              </p>
                              
                              <div class="delta-date-picker-with-icon-button">
                                <!-- Date input as text ====== -->
                                <div class="govuk-date-input" id="range-to">
                                  <!-- <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-to-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-to-day" name="range-to-day" type="text" inputmode="numeric">
                                    </div>
                                  </div>                                 -->
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-to-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="range-to-month" name="range-to-month" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="range-to-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="range-to-year" name="range-to-year" type="text" inputmode="numeric">
                                    </div>
                                  </div>
                                                                                  
                                </div>
                                <!-- Date input as calendar picker ====== -->
                                <div>
                                  <label class="govuk-label govuk-date-input__label" for="range-calendar">
                                    <span class="delta-visually-hidden">Calendar</span>
                                  </label>
                                  <button class="govuk-button detla-icon-button" title="Select date with calendar picker">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="delta-icon-button-icon">
                                      <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l352 0 0 256c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256z"/>
                                    </svg>                                  
                                  </button>
                                </div>
                              </div>
                            </fieldset>   
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>    
                </div>
              </div>
              <!-- STATUS -->
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Status
                    </span>
                  </h2>
                </div>
                <div id="filter-group-status" class="govuk-accordion__section-content">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Future
                        </label>
                      </div>                    
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Open
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Extended
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                          Closed
                        </label>
                      </div>
                    </div>
                </div>
              </div>            
            </div>
            <div class="govuk-button-group">
          <button class="govuk-button">Apply filters</button>
            <a href="#" class="govuk-link" title="Clear all active filters">Clear filters</a>
            <a href="#" class="govuk-link" title="Reset filters to their state when the page first loaded">Reset filters</a>
            </div>
          </div>
        </div>
      <!-- FILTERS END ============= -->
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 24 <strong class="govuk-tag delta-tag-pill delta-tag-pill--inverse">1 active filter</strong></p>
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Record <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Collection <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Organisation <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Editor <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Edited date <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Status <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/wayRecord-draft">Elmsworth</a></th>
                <td class="govuk-table__cell">Urban hedgehog census 2023</td>
                <td class="govuk-table__cell">Rivendell Borough Council</td>
                <td class="govuk-table__cell">Mike Phillips</td>
                <td class="govuk-table__cell">14 April 2024</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow delta-tag">Submitted</strong></td>
              </tr>              
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->



{% endblock %}
