{% extends "layouts/delta.html" %}

{% set pageName="Wayfinding goals" %}


{% block beforeContent %}


{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">
  Wayfinding goals
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-!-margin-bottom-4">
      <h3 class="govuk-heading-l">
        Why are we doing this?
      </h3>

      <div class="govuk-inset-text">
        <p>'The platform is not easy to navigate, as I use it infrequently to certify claims I can forget where the claims are on the platform. It would help if there was a clear link on the home page to 'certify claims'.</p>
        <p>— User research response, April 2024</p>        
      </div>


      
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Better UX for external users (Data Providers and Data Certifiers).</li>
        <li>Better UX for internal users coming next.</li>
        <li>Faster; one-click access to the things they need to work on (open collections)</li>
        <li>Error reduction: easier routes to checking data (omissions and accuracy)</li>
        <li>Reduction in missed deadlines</li>
        <li>Remove need to use Collections Dashboard and the Data Store (and associated confusion)</li>
        <li>Implement consistent user-centred naming conventions (Collections > Submission > Record(s))</li>
      </ul>

      <h2 class="govuk-heading-s">
        Why are these new designs awesome?
      </h2>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>99% of the time users will have one-click access the thing they need to access</li>
        <li>Friendlier</li>
        <li>Clearer</li>
        <li>Simpler</li>
        <li>Faster (did we mention inline data previews?!</li>
        <li>Cross promote account area and impact of Delta (better navigation)</li>
        <li>Creating foundation for 'deep linking' (e.g. email linking straight to record requiring certification)</li>
      </ul> 

    </div>
  </div>
  <div class="govuk-grid-column-one-third">

    <h3 class="govuk-heading-m">
      Wireframe demos
    </h3>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>These are draft wireframes</li>
        <li>Constant flux / interaction</li>
        <li>Drive critical thinking</li>
        <li>Engender creative, expansive mindset</li>
        <li>Imagine new ways (art of the possible)</li>
        <li>External users only</li>
        <li>Bob, Data Provider</li>
        <li>Emily, Data Certifier</li>
        <li>Demo data: summary and records-based collections (spoiler: hedgehogs)</li>
    </ul>


    <h3 class="govuk-heading-m">
      Discuss
    </h3>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>"Everything that is a thing should have its own thing." - SM [Case the entity pages: dataset, form, collection (instance), record]</li>
        <li>IA: Records are children of a Collection. Data Store concept doesn't work for Data Providers and Data Certifiers?</li>
        <li>Providing option to title records. Do it. Do it!</li>
        <li>Need for new results table component with column sorting and filtering awesomeness.</li>
        <li>Access Groups list on Collections page. And ability for user to click through and see group members.</li>
    </ul>
  </div>
</div>




{% endblock %}



