{% extends "layouts/delta.html" %}

{% set pageName="Wayfinding / Data Provider goals" %}


{% block beforeContent %}


{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">
  Wayfinding goals - Data provider
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="designNote govuk-!-margin-bottom-4">
      <h3 class="govuk-heading-l">
        Why are we doing this?
      </h3>

      <div class="govuk-inset-text">
        <p>'The platform is not easy to navigate, as I use it infrequently to certify claims I can forget where the claims are on the platform. It would help if there was a clear link on the home page to 'certify claims'.</p>
        <p>— User research response, April 2024</p>
        <p>The above is relevant to data providers too</p>
      </div>


      
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Better UX for Data Providers</li>
        <li>Faster; one-click access to the things they need to work on (open collections)</li>
        <li>Error reduction: easier routes to checking data (omissions and accuracy)</li>
        <li>Reduced missed deadline</li>
        <li>Remove need (and confusion) to use Collections Dashboard and the Data Store</li>
        <li>Implement consistent user-centred naming conventions (Collections > Submission > Record(s))</li>
      </ul>

      <h2 class="govuk-heading-s">
        Why are these new designs awesome?
      </h2>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>99% of the time users (data providers) will be able to one-click access the thing they need to access</li>
        <li>Friendlier</li>
        <li>Clearer</li>
        <li>Simpler</li>
        <li>Faster</li>
        <li>Cross promote account area and impact of Delta</li>
      </ul>      

      <h3 class="govuk-heading-s">
        Wireframe designs
      </h3>
      <p><a href="/wayLandingDataProvider-collectionSummary">Summary collection</a></p>
      <p><a href="/wayLandingDataProvider-collectionRecords">Records-based collection</a></p>      

    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">
      Discuss
    </h3>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>IA: Records are children of a Collection. Data Store concept doesn't work for Data Providers and Data Certifiers?</li>
        <li>Providing option to title records</li>
        <li>Need for new results table component with column sorting and filtering</li>
        <li>Access Groups list on Collections page. And ability for user to click through and see group members.</li>
    </ul>
  </div>
</div>




{% endblock %}



