{% extends "layouts/delta-wayfinding.html" %}

{% set pageName="Wayfinding / Landing (Data Provider / Records based collection)" %}


{% block content %}

<h1 class="govuk-heading-xl">
  Happy <span id="todaysDay">Wednesday</span>, Bob!
</h1>

<div class="designNote">
  <h4 class="govuk-heading-m">Versions of this page</h4>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/wayLandingDataProvider">Data provider</a></li>
    <li><a href="/wayLandingDataProviderWithMissedCollection">Data provider with missed collection</a></li>
    <li><a href="/wayLandingDataProviderAndCertifier">Data provider and certifier</a></li>
  </ul>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- banner option 1 -->
    <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <ul class="govuk-list govuk-notification-banner__heading" style="max-width: 100%;">
          <li><a href="#openCollections" class="govuk-notification-banner__link">3 open collections</a></li>
          <li><a href="#certificationRequired" class="govuk-notification-banner__link">1 pending certification</a></li>
        </ul>
      </div>
    </div> -->
    <!-- banner option 2 -->
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="max-width: 100%;">
          You have <a href="#openCollections" class="govuk-notification-banner__link">2 open collections</a></span> and <a href="#certificationRequired" class="govuk-notification-banner__link">1 record requiring certification</a>.
        </p>       
      </div>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="openCollections">
      Open collections
    </h2>
    <p class="govuk-body-l">The following collections have open returns.</p>

    <!-- <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort collections by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="deadline" selected>Deadline</option>
        <option value="collectionName">Name</option>
        <option value="collectionOrganisation">Organisation</option>
      </select>
    </div> -->

    <!-- OPEN COLLECTIONS ==================== -->
    <!-- Collection records-based start -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">English hedgehog census 2023</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayCollectionDataProvider-collectionRecords">View collection</a></li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              <img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              16 July 2024 <small><span class="delta-text-secondary">(90 days remaining)</span></small> <strong class="govuk-tag govuk-tag--orange delta-tag">Extended</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Return records
            </dt>
            <dd class="govuk-summary-list__value">
              5
            </dd>
          </div>          
        </dl>
      </div>
    </div>
    <!-- Collection records-based end -->

    <!-- Collection records-based start -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">English hedgehog census 2023</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayCollectionDataProvider-collectionRecords">View collection</a></li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              16 July 2024 <small><span class="delta-text-secondary">(90 days remaining)</span></small> <strong class="govuk-tag delta-tag govuk-tag--green">Open</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Return records
            </dt>
            <dd class="govuk-summary-list__value">
              12 <span class="delta-text-secondary">(+1 draft)</span>
            </dd>
          </div>            
        </dl>
      </div>
    </div>
    <!-- Collection records-based end -->

    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="certificationRequired">
      Records requiring certification
    </h2>

    <!-- <p class="govuk-body-l">The following records require certification.</p> -->

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort records by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="newest">Newest</option>
        <option value="oldest" selected>Oldest</option>
        <option value="recordName">Record</option>
        <option value="collectionName">Collection</option>
      </select>
    </div>

    <!-- Record start -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">Cranleigh</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayRecord-certificationPending">View record and certify</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID
            </dt>
            <dd class="govuk-summary-list__value">
              UHC23WayPqwt543
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Collection
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="/wayCollectionDataProvider-collectionRecords">English hedgehog census 2023</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date submitted
            </dt>
            <dd class="govuk-summary-list__value">
              15 April 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted by
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Sarah Jones</strong>, Waverley County Council
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!-- Record end -->



  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-l">Did you know?</h3>
    <p>In April 3,437 individuals provided 181,306 records in 9,537 returns for 45 collections through Delta.</p>
    <p>This data is instrumental in policy design and the provision of services throughout England.</p>
    <p>We are always looking to improve our service. View a <a href="#">list of recent enhancements</a> and <a href="#">submit feedback</a>.</p>

  </div>
</div>

{% endblock %}



