{% extends "layouts/delta.html" %}

{% set pageName="Wayfinding / Landing (Data Certifier)" %}


{% block beforeContent %}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}


{% endblock %}


{% block content %}



<h1 class="govuk-heading-xl">
  Happy <span id="todaysDay">Wednesday</span>, Emily!
</h1>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You have <a href="#certificationRequired" class="govuk-notification-banner__link">12 records requiring certification</a>.
        </p>
      </div>
    </div>    

    <h2 class="govuk-heading-l" id="certificationRequired">
      Records requiring certification
    </h2>    

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="newest">Newest</option>
        <option value="oldest" selected>Oldest</option>
        <option value="recordName">Record name A-Z</option>        
        <option value="collectionName">Collection name A-Z</option>
      </select>
    </div>    

    <!-- Record start -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">Cranleigh</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayRecordDataCertifier-collectionRecords">View and certify</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID
            </dt>
            <dd class="govuk-summary-list__value">
              UHC23WayPqwt543
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Collection
            </dt>
            <dd class="govuk-summary-list__value">
              Urban hedgehog census 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date submitted
            </dt>
            <dd class="govuk-summary-list__value">
              15 April 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted by
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Bob Smith</strong>, Waverley County Council
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!-- Record end -->



  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-l">Did you know?</h3>
    <p>Last month (March 2024) through Delta 3,437 individuals provided 181,306 records across 9,537 collections.</p>
    <p>The data provided by people like you is instrumental in policy design and the provision of services throughout England.</p>
    <p>We are always looking to improve our service. View a <a href="#">list of recent enhancements</a> and <a href="#">submit feedback</a>.</p>

  </div>
</div>

<div class="designNote govuk-!-margin-bottom-4">
  <p>Data provider with open summary collection.</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">View Records-based collections</a></p>
</div>

{% endblock %}



