{% extends "layouts/delta.html" %}

{% set pageName="Wayfinding / Landing (Data Provider / Summary collection)" %}


{% block beforeContent %}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}    


{% endblock %}


{% block content %}



<h1 class="govuk-heading-xl">
  Happy Wednesday, Bob!
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">You have <a href="#">1 open collection</a>. Previous collection submissions can be accessed via the <a href="#">Data Store</a>.</p>
    <h2 class="govuk-heading-l">
      Open collections
    </h2>

    <!-- Collection template start -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-36">Hedgehog Protection Officer survey 2023</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View collection</a>
          </li>
        </ul>
      </div>      
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Defra is currently endeavoring to assess the presence of hedgehog protection officers within local authorities and to gain insights into their respective workloads.
              <!-- Meta bar concept -->
              <!-- <div class="govuk-!-margin-top-3 delta-text-secondary">
                <small>Collection ID: CollectionIdHere1234 | Data certification required: yes| Submission option(s): form</small>
              </div> -->

            </dd>
          </div>             
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              16 July 2024 <small><span class="delta-text-secondary">(90 days remaining)</span></small>
            </dd> 
          </div>                     
          <div class="govuk-summary-list__row">          
            <dt class="govuk-summary-list__key">
              Submission record
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--spaced">
                <li><a href="#">HPOS24Way</a> <strong class="govuk-tag govuk-tag--yellow delta-tag">Draft</strong></li>              
              </ul>
            </dd>
          </div>                                                                                                          
        </dl>
      </div>
    </div>
    <!-- Collection template end --> 

  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">Your account</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Role: </strong>Data Provider</li>
      <li><strong>Organisation:</strong> Waverley Borough Council</li>
      <li><strong>Time on Delta:</strong> 2 years 25 days</li>
    </ul>
    <p><a href="#">Edit your account</a></p>


    <!-- Delta facts and figures -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">    
    <h3 class="govuk-heading-s">Did you know?</h3>
    <p>Last month (March 2024) through Delta 3,437 individuals provided 181,306 records across 9,537 collections.</p>    
    <p>The data provided by people like you is instrumental in policy design and the provision of services throughout England.</p>
    <p>We are always looking to improve our service. View a <a href="#">list of recent enhancements</a> and <a href="#">submit feedback</a>.</p>

  </div>
</div>

<div class="designNote govuk-!-margin-bottom-4">
  <p>Data provider with open summary collection.</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">View Records-based collections</a></p>
</div>

{% endblock %}



