{% extends "layouts/delta.html" %}

{% set pageName="Wayfinding / Landing (Data Provider)" %}


{% block beforeContent %}

  <!-- ================= UX Design notes ================= -->
  <!-- <div class="designNote govuk-!-margin-bottom-4">
    <h2 class="govuk-heading-s">Design notes</h2>
    <p><a href="https://dluhcdigital.atlassian.net/browse/DT-XXX" target="_blank">DT-XXX</a></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Note</li>
      <li>Note</li>
      <li>Note</li>
    </ul>
  </div> -->

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}



{% endblock %}


{% block content %}

    <div class="designNote govuk-!-margin-bottom-4">
      <p>Records based collection</p>
    </div>

<h1 class="govuk-heading-xl">
  Happy Wednesday, Michael!
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">You have <a href="#">1 open collection</a>. Previous collection submissions can be accessed via the <a href="#">Data Store</a>.</p>


    <h2 class="govuk-heading-l">
      Open collections
    </h2>



    <!-- Collection template start -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Collection name</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View and submit data</a>
          </li>
        </ul>
      </div>      
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Meaningful, easy to read description of what this collection is for. Maybe include the period of data it covers.
              <!-- Meta bar concept -->
              <div class="govuk-!-margin-top-3 delta-text-secondary">
                <small>Collection ID: CollectionIdHere1234 | Data certification required: yes | Collection type: records based | Submission option(s): form, bulk upload, api</small>
              </div>

            </dd>
          </div>             
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              16 July 2024 <span class="delta-text-secondary">(90 days remaining)</span>
            </dd> 
          </div>                     
          <div class="govuk-summary-list__row">          
            <dt class="govuk-summary-list__key">
              Submissions
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--spaced">
                <!-- <li>No data (<a href="#">submit data</a>)</li> -->
                <li>Displaying 3 most recently edited records. <a href="#">View all 13 records</a> in Data Store.</li>
                <li><a href="#">Record003</a> <strong class="govuk-tag govuk-tag--yellow delta-tag">Draft</strong></li>
                <li><a href="#">Record002</a> <strong class="govuk-tag delta-tag">Pending certification</strong></li>
                <li><a href="#">Record001</a> <strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></li>                
              </ul>
            </dd>
          </div>                                                                                                          
        </dl>
      </div>
    </div>
    <!-- Collection template end --> 


  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">Your account</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Role: </strong>Data Provider</li>
      <li><strong>Organisation:</strong> Waverly Borough Council</li>
      <li><strong>Time on Delta:</strong> 2 years 25 days</li>
    </ul>
  </div>
</div>

{% endblock %}



