{% extends "layouts/delta-wayfinding.html" %}

{% set pageName="Wayfinding / Landing (Data Provider / Records based collection)" %}


{% block beforeContent %}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}  



{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">
  Happy <span id="todaysDay">Wednesday</span>, Bob!
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <!-- <p class="govuk-notification-banner__heading" style="max-width: 100%;">
          You have:
        </p>         -->
        <ul class="govuk-list govuk-notification-banner__heading" style="max-width: 100%;">
          <li><a href="#openCollections" class="govuk-notification-banner__link">3 collections</a></li>
          <li><a href="#certificationRequired" class="govuk-notification-banner__link">1 certification</a></li>
        </ul>
      </div>
    </div>

    <h2 class="govuk-heading-l" id="openCollections">
      Open collections
    </h2>
    <p>All collections (open and closed) can be accessed via <a href="/wayCollectionsDataProvider">Collections</a>.</p>   
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort collections by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="deadline" selected>Deadline</option>
        <option value="collectionName">Name</option>        
        <option value="collectionOrganisation">Organisation</option>
      </select>
    </div>    
    

   <!-- Collection records-based start -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">Urban hedgehog census 2023</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayCollectionDataProvider-collectionRecords">View collection</a></li>
        </ul>
      </div>      
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">            
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Arundel Borough Council
            </dd>
          </div>                       
          <div class="govuk-summary-list__row">            
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Defra is requesting data from local authorities regarding confirmed hedgehog sightings in towns with populations exceeding 10,000.
            </dd>
          </div>             
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              16 July 2024 <small><span class="delta-text-secondary">(90 days remaining)</span></small>
            </dd> 
          </div>                                  
          <div class="govuk-summary-list__row">          
            <dt class="govuk-summary-list__key">
              Return
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--spaced">
                <!-- <li>No data (<a href="#">submit data</a>)</li> -->
                <li>
                  <div class="govuk-inset-text">
                    No records. <a href="/wayCollectionDataProvider-collectionRecords#submission">Create record</a>.
                  </div>
                </li>
              </ul>
            </dd>
          </div>                                                                                                          
        </dl>
      </div>
    </div>
    <!-- Collection records-based end -->             

    <!-- Collection records-based start -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">Urban hedgehog census 2023</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayCollectionDataProvider-collectionRecords">View collection</a></li>
        </ul>
      </div>      
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">            
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Waverley Borough Council
            </dd>
          </div>                       
          <div class="govuk-summary-list__row">            
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Defra is requesting data from local authorities regarding confirmed hedgehog sightings in towns with populations exceeding 10,000.
            </dd>
          </div>             
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              16 July 2024 <small><span class="delta-text-secondary">(90 days remaining)</span></small>
            </dd> 
          </div>                                  
          <div class="govuk-summary-list__row">          
            <dt class="govuk-summary-list__key">
              Return
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--spaced">
                <!-- <li>No data (<a href="#">submit data</a>)</li> -->
                <li>
                  <div class="govuk-inset-text">
                    Displaying the 3 most recently updated of 13 records. <a href="/wayCollectionDataProvider-collectionRecords#return">View all</a>.
                  </div>
                </li>
                <li><a href="/wayRecord-draft">UHC23WayPqwt332</a> <strong class="govuk-tag govuk-tag--yellow delta-tag">Draft</strong></li>
                <li><a href="/wayRecord-certificationPending">UHC23WayPqwt543</a> <strong class="govuk-tag delta-tag">Pending certification</strong></li>
                <li><a href="/wayRecord-certified">UHC23WayPqwt123</a> <strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong></li>                
              </ul>
            </dd>
          </div>                                                                                                          
        </dl>
      </div>
    </div>
    <!-- Collection records-based end -->     

 

    <!-- Collection summary start -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">English dragonfly census 2023</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">View collection</a></li>
        </ul>
      </div>      
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">            
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Arundel Borough Council
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Defra is actively monitoring dragonfly populations across England.
            </dd>
          </div>             
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              20 July 2024 <small><span class="delta-text-secondary">(100 days remaining)</span></small>
            </dd> 
          </div>                                 
          <div class="govuk-summary-list__row">          
            <dt class="govuk-summary-list__key">
              Return
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--spaced">
                <li><a href="#">EDM23Ard1247</a> <strong class="govuk-tag govuk-tag--yellow delta-tag">Draft</strong></li>              
              </ul>
            </dd>
          </div>                                                                                                          
        </dl>
      </div>
    </div>
    <!-- Collection summary end --> 

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-l" id="certificationRequired">
      Certifications required
    </h2>    

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Sort certifications by
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="newest">Newest</option>
        <option value="oldest" selected>Oldest</option>
        <option value="recordName">Record name A-Z</option>        
        <option value="collectionName">Collection name A-Z</option>
      </select>
    </div>    

    <!-- Record start -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-body govuk-!-font-size-27">Cranleigh</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="/wayRecord-certificationPending">View record and certify</a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">            
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Waverley Borough Council
            </dd>
          </div>              
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID
            </dt>
            <dd class="govuk-summary-list__value">
              UHC23WayPqwt543
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Collection
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date submitted
            </dt>
            <dd class="govuk-summary-list__value">
              15 April 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted by
            </dt>
            <dd class="govuk-summary-list__value">
              <strong>Bob Smith</strong>, Waverley County Council
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!-- Record end -->    



  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-l">Did you know?</h3>
    <p>Last month (March 2024) through Delta 3,437 individuals provided 181,306 records across 9,537 collections.</p>    
    <p>The data provided by people like you is instrumental in policy design and the provision of services throughout England.</p>
    <p>We are always looking to improve our service. View a <a href="#">list of recent enhancements</a> and <a href="#">submit feedback</a>.</p>

  </div>
</div>

<div class="designNote govuk-!-margin-bottom-4">
  <p>Data provider with open records based collection.</p>
</div>


{% endblock %}



