{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="UX launchpad" %}
{% block content %}
<h1 class="govuk-heading-xl">
  Welcome to the new Delta
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <p class="govuk-body-l">We have made some big changes to Delta to make it easy to find the things you are working on. Please take a moment to familarise yourself with the new structure&hellip;</p>


<p>
 
    Home >
    Collection groups > 
    Urban Hedgehog Monitoring >
    Collection: Urban hedgehog census 2023

</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Collection Groups
        <ul class="govuk-list govuk-list--bullet">
          <li>Collection
            <ul class="govuk-list govuk-list--bullet">
              <li>Return
                <ul class="govuk-list govuk-list--bullet">
                  <li>Record(s)</li>
                </ul>                   
              </li>
            </ul>               
          </li>
        </ul>           
      </li>
    </ul>    



    <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">     -->

    <p class="govuk-body-l"><a href="/wayLandingDataProvider">Landing page (start)</a></p>

  </div>

</div>
{% endblock %}
