{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) overview" %}
{% block content %}
<h1 class="govuk-heading-xl">
  UX (Wayfinding) overview
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Hierarchy</h2>

    <p class="govuk-body-l"><strong>Collection Group</strong> > <strong>Collection</strong> > <strong>Record</strong></p>


    <h2 class="govuk-heading-l">Key terms</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Role (Data Provider, Data Certifier)</li>      
      <li>Collection Group</li>
      <li>Collection</li>
      <li>Submission</li>
      <li>Record</li>
      <li>Organisation</li>
    </ul>


  </div>
  <div class="govuk-grid-column-one-third">
    <!-- LINKS -->
    <h2 class="govuk-heading-m">Links</h2>
    <ul class="govuk-list govuk-list--number">
      <li><a href="/wayStart">Start (UX launchpad)</a></li>
    </ul>
  </div>
</div>
{% endblock %}
