{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Record (Draft)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      },
            {
        text: "Collections",
        href: "/wayCollectionsDataProvider"
      },
            {
        text: "Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      },
      {
        text: "Witley",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Record</small><br>
  Witley
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">            
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          Waverley Borough Council
        </dd>
      </div>              
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Record ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHC23WayPqwt123
        </dd>
      </div>           
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection
        </dt>
        <dd class="govuk-summary-list__value">
          <strong><a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a></strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submission date
        </dt>
        <dd class="govuk-summary-list__value">
          Pending submission
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted by
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>Bob Smith</strong>, Waverley County Council<br>data.provider@waverley.gov.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certification
        </dt>
        <dd class="govuk-summary-list__value">
          n/a
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--yellow delta-tag">Draft</strong>
        </dd>
      </div>      
    </dl>
    

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Edit record
    </button>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button">
      Delete record
    </button>
    <!-- Submit -->
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Submit record
    </button>    
  </div>
  <div class="govuk-grid-column-one-third">

    
  </div>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-7">
  Data
</h2>


<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  View in form
</button>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Download (.csv)
</button>

<div class="designNote govuk-!-margin-bottom-4">
  <p>Record (child of Collection)</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">Landing (home)</a></p>
</div>
{% endblock %}
