{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Record / Records based collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Collection groups",
        href: "/wayCollectionGroups"
      },
      {
        text: "Urban Hedgehog Monitoring ",
        href: "/wayCollectionGroup"
      },      
      {
        text: "Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Record</small><br>
  Silverbrook
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">      
      <div class="govuk-summary-list__row">            
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council
        </dd>
      </div>    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection
        </dt>
        <dd class="govuk-summary-list__value">
          <strong><a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a></strong>
        </dd>
      </div>
      <!-- For LDF team start ============== -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Claims value
        </dt>
        <dd class="govuk-summary-list__value">
          £-133,000
        </dd>
      </div>        
      <!-- For LDF team end ============== -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag delta-tag">Ready for certification</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Edited
        </dt>
        <dd class="govuk-summary-list__value">
          14:51, 14 April 2024 — <strong>Mike Phillips</strong>,<br><a href="#">mike.phillips@rivendell.gov.uk</a>
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          9:13, 15 April 2024 —  <strong>Sarah Jones</strong>,<br><a href="#">sarah.jones@rivendell.gov.uk</a>
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certified
        </dt>
        <dd class="govuk-summary-list__value">
          Awaiting certification
        </dd>
      </div>          
    </dl>
    
    <!-- List of evidence files for LGF. Do not display if no files present -->
    <h2 class="govuk-heading-l govuk-!-static-margin-top-8" id="evidence">Attachments</h2>    
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-static-margin-bottom-9">
      <li><a href="#"><strong>Attachment 001</strong> (PDF, new window)</a></li>
      <li><a href="#"><strong>Attachment 002</strong> (XLS, new window)</a></li>
      <li><a href="#"><strong>Attachment 002</strong> (PDF, new window)</a></li>
    </ul>    


    <button type="submit" class="govuk-button" data-module="govuk-button">
      Edit record
    </button>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Clone record
    </button>    
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button">
      Delete record
    </button>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Certify record
    </button>    
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Approve data
    </button>    
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Refresh cascade data
    </button>     
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Download audit trail
    </button>  


  </div>
  <div class="govuk-grid-column-one-third">
      
  </div>
</div>







<h2 class="govuk-heading-l govuk-!-margin-top-7">
  Data
</h2>
<ul class="govuk-list govuk-list--spaced">
  <li><a href="#">View record</a></li>
  <!-- <li><a href="#">View certification</a></li> -->
  <li><a href="#">View approval details</a></li>
</ul>
{% endblock %}
