{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Returns (Data Provider)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  Returns
</h1>

<div class="designNote">
  <p>Coming soon</p>
</div>

{% endblock %}
