{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Record / Records based collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      },
      {
        text: "Collection groups",
        href: "/wayCollectionGroups"
      },
      {
        text: "English Hedgehog Monitoring ",
        href: "/wayCollectionGroup"
      },      
      {
        text: "Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Record</small><br>
  Godalming
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">            
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council
        </dd>
      </div>              
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Record ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHC23WayPqwt123
        </dd>
      </div>           
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection
        </dt>
        <dd class="govuk-summary-list__value">
          <strong><a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a></strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Edited
        </dt>
        <dd class="govuk-summary-list__value">
          14 April 2024 — <strong>Mike Phillips</strong>,<br><a href="#">mike.phillips@waverley.gov.uk</a>
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted
        </dt>
        <dd class="govuk-summary-list__value">
          15 April 2024 —  <strong>Sarah Jones</strong>,<br><a href="#">sarah.jones@waverley.gov.uk</a>
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certified
        </dt>
        <dd class="govuk-summary-list__value">
          18 April 2024 —  <strong>Emily Thompson</strong>,<br><a href="#">emily.thompson@certifiers-r-us.org</a>
        </dd>
      </div>
    </dl>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This record is locked as it has been certified. Contact <a href="#">support@delta.org</a> quoting the record ID 'UHC23WayPqwt123' to request changes.
      </strong>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" disabled>
      Edit record
    </button>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button" disabled>
      Delete record
    </button>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Certified
      </h1>
      <div class="govuk-panel__body">
        <small>By <strong>Emily Thompson</strong> of Certifiers-R-Us on 18 April 2024.</small>
      </div>
    </div>
  </div>
</div>
<h2 class="govuk-heading-l govuk-!-margin-top-7">
  Data
</h2>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  View in form
</button>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Download (.csv)
</button>
<div class="designNote govuk-!-margin-bottom-4">
  <p>Record (child of Collection)</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">Landing (home)</a></p>
</div>
{% endblock %}
