{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Record / Records based collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      },
            {
        text: "Collections",
        href: "/wayCollectionsDataProvider"
      },
            {
        text: "Collection: Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Record</small><br>
  Cranleigh
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">      
      <div class="govuk-summary-list__row">            
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Waverley Borough Council
        </dd>
      </div>        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Record ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHC23WayPqwt543
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection
        </dt>
        <dd class="govuk-summary-list__value">
          <strong><a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a></strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          Submitted
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submission date
        </dt>
        <dd class="govuk-summary-list__value">
          15 April 2024
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted by
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>Sarah Jones</strong>, Waverley County Council<br>sarah.jones@waverley.gov.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certification
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag delta-tag">Pending certification</strong>
        </dd>
      </div>
    </dl>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This record is locked as it has been submitted for certification. Contact <a href="#">support@delta.org</a> quoting the record ID 'UHC23WayPqwt543' to request changes.
      </strong>
    </div>    
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- Actions -->
    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Certification options
    </h2>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Certify (approve)
    </button>
    <br>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Email record submitter
    </button>      
  </div>
</div>
<h2 class="govuk-heading-l govuk-!-margin-top-7">
  Data
</h2>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  View in form
</button>
<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Download (.csv)
</button>
<div class="designNote govuk-!-margin-bottom-4">
  <p>Record requiring certification (child of Collection)</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">Landing (home)</a></p>
</div>
{% endblock %}
