{% extends "layouts/delta.html" %}
{% set pageName="Wayfinding / Record / Records based collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      },
            {
        text: "Collections",
        href: "#"
      },
            {
        text: "Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      },
      {
        text: "UHC23WayPqwt123",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Record</small><br>
  UHC23WayPqwt123
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
       <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection (parent)
        </dt>
        <dd class="govuk-summary-list__value">
          <strong><a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a></strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          Submitted
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submission date
        </dt>
        <dd class="govuk-summary-list__value">
          16 April 2024
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted by
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>Bob Smith</strong>, Rutland County Council<br>data.provider@rutland.gov.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certification
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green delta-tag">Certified</strong>
        </dd>
      </div>
    </dl>
    <!-- Actions -->
    <!-- <h2 class="govuk-heading-l govuk-!-margin-top-7">
      Actions
    </h2> -->
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Record locked due to certification. Contact the <a href="#">collection manager</a> to make changes or delete.
      </strong>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" disabled>
      Edit record
    </button>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button" disabled>
      Delete record
    </button>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Certified
      </h1>
      <div class="govuk-panel__body">
        <small>By <strong>Emily Thompson</strong> of Certifiers-R-Us on 18 April 2024.</small>
      </div>
    </div>
  </div>
</div>
<h2 class="govuk-heading-l govuk-!-margin-top-7">
      Data
    </h2>
    <p>Rows: 1. Columns: 3.</p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      View in form
    </button>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Download (.csv)
    </button>
    <!-- Data preview -->
    <div>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m delta-hide">UHC23WayPqwt543</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Town/City</th>
            <th scope="col" class="govuk-table__header">Population</th>
            <th scope="col" class="govuk-table__header">2023 hedgehog sightings</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Godalming</th>
            <td class="govuk-table__cell">10,453</td>
            <td class="govuk-table__cell">45</td>
          </tr>
        </tbody>
      </table>
    </div>
<div class="designNote govuk-!-margin-bottom-4">
  <p>Record (child of Collection)</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">Landing (home)</a></p>
</div>
{% endblock %}
