{% extends "layouts/delta.html" %}
{% set pageName="Wayfinding / Record / Records based collection)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProvider"
      },
            {
        text: "Collections",
        href: "#"
      },
            {
        text: "Urban hedgehog census 2023",
        href: "/wayCollectionDataProvider-collectionRecords"
      },
      {
        text: "UHC23WayPqwt543",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Record</small><br>
  UHC23WayPqwt543
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
       <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection (parent)
        </dt>
        <dd class="govuk-summary-list__value">
          <strong><a href="/wayCollectionDataProvider-collectionRecords">Urban hedgehog census 2023</a></strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          Submitted
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submission date
        </dt>
        <dd class="govuk-summary-list__value">
          15 April 2024
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Submitted by
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>Bob Smith</strong>, Waverley County Council<br>data.provider@waverley.gov.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certification
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag delta-tag">Pending certification</strong>
        </dd>
      </div>
    </dl>
  </div>
  <div class="govuk-grid-column-one-third">
    <!-- Actions -->
    <h2 class="govuk-heading-l govuk-!-margin-top-7">
      Data certifier
    </h2>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Certify (approve)
    </button>
    <br>
    <button type="submit" class="govuk-button delta-button-danger" data-module="govuk-button">
      Decline (reject)
    </button>
  </div>
</div>
<h2 class="govuk-heading-l govuk-!-margin-top-7">
      Data
    </h2>
    <p>Rows: 1. Columns: 3.</p>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      View in form
    </button>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Download (.csv)
    </button>
    <!-- Data preview -->
    <div>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m delta-hide">UHC23WayPqwt543</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Town/City</th>
            <th scope="col" class="govuk-table__header">Population</th>
            <th scope="col" class="govuk-table__header">2023 hedgehog sightings</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Cranleigh</th>
            <td class="govuk-table__cell">12,112</td>
            <td class="govuk-table__cell">32</td>
          </tr>
        </tbody>
      </table>
    </div>
<div class="designNote govuk-!-margin-bottom-4">
  <p>Record requirding certification (child of Collection)</p>
  <p><a href="/wayLandingDataProvider-goals">Wayfinding - Data provider goals</a></p>
  <p><a href="/wayLandingDataProvider-collectionRecords">Landing (home)</a></p>
</div>
{% endblock %}
