{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collections (Data Provider)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      }
    ]
  }) }}
{% endblock %}
{% block content %}




<div class="designNote">

  <h3 class="govuk-heading-l">Design notes <small>(toggle visibility with keyboard shortcut 'n')</small></h3>

  <p><a href="https://dluhcdigital.atlassian.net/wiki/spaces/DT/pages/274497581/Collection+Managers+Research+Sept+2024">Confluence: user research</a></p>

  <h3 class="govuk-heading-m">Post UR round 1</h3>

  <h3 class="govuk-heading-m">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Added explainer text under page title</li>
    <li>Tweaked 'help with column labels' text</li>
    <li>Reduced text width in top of page; should make help clearer</li>
    <li>Help text: added information on status, plus misc tweaks</li>
    <li>Table: removed collection ID</li>
    <li>Table: added column for collection type - summary or case (aka records)</del></li>
    <li>Table: added extensions count column</li>
    <li>Table: added percentages</li>
    <li>Table: added 'extended' tag</li>
    <li>Table: heading change: "Asked" to "Organisations"</li>
    <li>Table: heading change: "Returns" to "Completed"</li>
    <li><strong>Post Abi</strong></li>
    <li>Table: Type column removed</li>
    <li>Table: Not started column added</li>
    <li>Table: 'blocked' renamed to 'in progress'</li>
    <li>Table: % removed for extended (so not started, in progress and completed should add up to 100%)</li>
    <li><strong>04/10/2024 - post Jeremy feedback</strong></li>
    <li>Table: removed extended column and added start column.</li>
  </ul>

  <h3 class="govuk-heading-m">To do</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Add data picker to table filters (<a href="https://design-system.service.gov.uk/patterns/dates/#asking-for-memorable-dates">GDS dates</a>, <a href="https://designnotes.blog.gov.uk/2013/12/05/asking-for-a-date-of-birth/">Asking for a date</a>, <a href="https://designsystem.gov.scot/components/date-picker">Scottish Gov Date Picker</a>)</li>
  </ul>

</div>


<h1 class="govuk-heading-xl">
  Submissions dashboard
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Submission reports for the collections you have access to. Sort this table by clicking on any column heading or use 'Show Filters' for more advanced filtering options.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with submission status
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list govuk-list--spaced">
          <li><strong>Collection name</strong>: the title of the collection.</li>
          <li><strong>Status</strong>: open, extended or closed. A collection is open if the collection window has not closed and no organisations have an open extension. </li>
          <li><strong>Deadline</strong>: the last date any organisation can submit a return. This includes extension deadlines.</li>
          <li><strong>Organisations</strong>: the number of organisations who have been invited to submit a return.</li>
          <li><strong>Not started</strong>: the number of organisations who have not started uploading data.</li>          
          <li><strong>In progress</strong>: the number of returns containing one or more records either in draft format or requiring certification. These records require action before they can be submitted.</li>
          <li><strong>Completed</strong>: the number organisations that have submitted and certified a return. [OR for uncertifiable returns] the number organisations that have submitted a return</li>
        </ul>

      </div>
    </details>


  </div>
</div>

    <!-- table results start -->
    <div class="delta-results">
      <!-- filters -->
      <div id="delta-results-filters" class="hidden">
        <div class="delta-results-filters-header">
          <!-- <a style="float: right;" id="closeFiltersPanel" class="detla-pointer">Hide</a> -->
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Filters</h3>
        </div>
        <div class="delta-results-filters-filters">
          <!-- Quick search -->
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keywords
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
            </div>
          </div>
          <!-- Accordion -->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Status
                  </span>
                </h2>
              </div>
              <div id="filter-group-status" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Future
                      </label>
                    </div>                    
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Open
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Extended
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Closed
                      </label>
                    </div>
                  </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Date range
                  </span>
                </h2>
              </div>
              <div id="filter-group-status" class="govuk-accordion__section-content">
                  <!-- Date picker stuff to go here -->
                  <!-- Date picker from -->
                  <h3 class="govuk-label govuk-label--s delta-margin-top-null">From</h3>                   
                  <div class="delta-grid-row ">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="fromMonth">
                        Month
                      </label>
                      <select class="govuk-select delta-select-min-width" id="fromMonth" name="fromMonth">
                        <option value="" selected>-</option>
                        <option value="">January</option>
                        <option value="">February</option>
                        <option value="">March</option>
                        <option value="">April</option>
                        <option value="">May</option>
                        <option value="">June</option>
                        <option value="">July</option>
                        <option value="">August</option>
                        <option value="">September</option>
                        <option value="">October</option>
                        <option value="">November</option>
                        <option value="">December</option>
                      </select>
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="toMonth">
                        Year
                      </label>
                      <select class="govuk-select delta-select-min-width" id="toMonth" name="toMonth">
                        <option value="" selected>-</option>
                        <option value="">2026</option>
                        <option value="">2025</option>
                        <option value="">2024</option>
                        <option value="">2023</option>
                        <option value="">2022</option>
                        <option value="">2021</option>
                        <option value="">2020</option>
                      </select>
                    </div>   
                  </div>               

                  <!-- Date picker to -->             
                  <h3 class="govuk-label govuk-label--s">To</h3>                   
                  <div class="delta-grid-row ">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="fromMonth">
                        Month
                      </label>
                      <select class="govuk-select delta-select-min-width" id="fromMonth" name="fromMonth">
                        <option value="" selected>-</option>
                        <option value="">January</option>
                        <option value="">February</option>
                        <option value="">March</option>
                        <option value="">April</option>
                        <option value="">May</option>
                        <option value="">June</option>
                        <option value="">July</option>
                        <option value="">August</option>
                        <option value="">September</option>
                        <option value="" >October</option>
                        <option value="">November</option>
                        <option value="" selected>December</option>
                      </select>
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="fromMonth">
                        Year
                      </label>
                      <select class="govuk-select delta-select-min-width" id="fromMonth" name="fromMonth">
                        <option value="" selected>-</option>
                        <option value="">2024</option>
                        <option value="">2023</option>
                        <option value="">2022</option>
                        <option value="">2021</option>
                        <option value="">2020</option>
                      </select>
                    </div>   
                  </div> 

                  <!-- Date picket stuff end -->
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Collection group
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <!-- search -->
                <!-- results drop-down -->
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-visually-hidden" for="selectCollectionGroup">
                    selectCollectionGroup
                  </label>
                  <select class="govuk-select govuk-!-margin-bottom-3 delta-w-100" id="selectCollectionGroup" name="selectCollectionGroup">
                    <option value="Select" selected>All</option>
                    <option value="xxx">Urban hedgehog census</option>
                    <option value="xxx">English dragonfly census</option>
                    <option value="xxx">Another collection group</option>
                    <option value="xxx">Another collection group</option>
                  </select>
                  <button class="govuk-button govuk-!-margin-bottom-0">Add</button>
                </div>
              </div>
            </div>          
          </div>
          <button class="govuk-button">Apply filters</button>
          <button class="govuk-button govuk-button--secondary govuk-button--inverse">Clear filters</button>
        </div>
      </div>
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 24 </p>
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Collection name <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Status <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Start <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Deadline <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Organisations <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Not started <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">In progress <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Completed <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">English hedgehog census 2023</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red delta-tag">Extended</strong></td>
                <td class="govuk-table__cell">16 June 2024</td>
                <td class="govuk-table__cell">16 July 2024</td>
                <td class="govuk-table__cell">180</td>
                <td class="govuk-table__cell">100 <small><span class="delta-text-secondary">(56%)</span></small></td>
                <td class="govuk-table__cell">40 <small><span class="delta-text-secondary">(22%)</span></small></td>
                <td class="govuk-table__cell">40 <small><span class="delta-text-secondary">(22%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Open</strong></td>
                <td class="govuk-table__cell">2 June 2024</td>
                <td class="govuk-table__cell">2 July 2024</td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">English hedgehog census 2022</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">16 June 2023</td>
                <td class="govuk-table__cell">16 July 2023</td>
                <td class="govuk-table__cell">180</td>
                <td class="govuk-table__cell">45 <small><span class="delta-text-secondary">(25%)</span></small></td>
                <td class="govuk-table__cell">0</td>
                <td class="govuk-table__cell">180 <small><span class="delta-text-secondary">(10%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">Another Collection</a></th>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Closed</strong></td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>
                <td class="govuk-table__cell">xxxx</td>                
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
                <td class="govuk-table__cell">xxxx <small><span class="delta-text-secondary">(0%)</span></small></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->



{% endblock %}
