{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collections (Data Provider)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Submissions dashboard",
        href: "/waySubmissionsDashboard"
      }      
    ]
  }) }}
{% endblock %}
{% block content %}




<div class="designNote">

  <h3 class="govuk-heading-l">Design notes <small>(toggle visibility with keyboard shortcut 'n')</small></h3>

  <h3 class="govuk-heading-m">Hypothesis</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>The submissions report is primarily for collection managers to monitor their collection</li>
    <li>At a glance
        <ul class="govuk-list govuk-list--bullet">
          <li>Monitor submissions</li>
          <li>Who may need support</li>
          <li>See what has changed since yesterday* (focus on what is new)</li>
          <li>Quick route to returns data</li>
        </ul>
    </li>
  </ul>  

<!-- 
  <h3 class="govuk-heading-m">Eeek</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li><del>Ditch data range</del></li>
    <li><del>Ditch multiple collections</del></li>
  </ul>   -->

  <h3 class="govuk-heading-m">Primary</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>Who has [and has not] submitted</li>
    <li>How many [records]?</li>
  </ul>

  <h3 class="govuk-heading-m">Secondary</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>When [cadence]?*</li>    
    <li>Share report - reports have unique URLs</li>
    <li>See related collections</li>
  </ul>

  <!-- <h3 class="govuk-heading-m">Discuss</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>Parent > child (Submission DB landing / Collection report)</li>
    <li><del>Does supporting viewing report for multiple collections add complexity? Is it needed?</del></li>
    <li><del>'View another collection' button? Should we take users back to parent?</del></li>
    <li></li>
    <li><del>Renamed 'Submissions summary' to 'overview'</del></li>
    <li><del>Overview: need to brainstorm requirements then work on labels. At a glance: How many orgs did we ask? How many are in progress? How many completed? How many are being blocked by certification? Average records per submission?</del></li>
    <li><del>Submissions summary: better labels? Open, Saved (aka Draft), Awaiting certification, Complete</del></li>
    <li><del>Submissions summary: Add 'average records per submission'</del></li>
    <li><del>Submissions summary: lose percentages to declutter?</del></li>
    <li><del>Submissions summary: 'view' - is this clear that is filters the table below? If not, how can we make it so?</del></li>
    <li>Confirm how download buttons work. Is 'download submissions' oly completed submissions?</li>
    <li>How would related submission reports work? Could this be automated?</li>
    <li><del>Can we add org contact name(s) to allow collection managers to make contact quickly to offer support?</del></li>
  </ul>   -->

  <h3 class="govuk-heading-m" id="changelog">Change log</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Added details [expander] under 'Returns overview' and drafted status explainer text.</li>
    <li>Hyperlinked records counts to Data Store.</li>
    <li>Removed records counts and average records from 'Returns overview'</li>
    <li>Using 'return' in place of 'submission' where appropriate</li>
    <li>Standardised status labels: All, Not started, Saved (in progress), Certification required, Completed</li>
    <li>Submissions by organisation: added 'updated column' and ability to sort by</li>
    <li>Submissions by organisation: linked org name to new page with org collection group memberships and contacts list</li>
    <li>Submissions by organisation: used standardised table and filter design</li>
    <li>Overview: removed 'download summary' button</li>
    <li>Overview: removed "certification required" count</li>
    <li>Overview: added hyperlinks to number to skip used down to Submissions by organisation</li>
  </ul>  


  <h3 class="govuk-heading-m">To do</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>User testing into current and proposed status labels</li>
    <li>Pie chart</li>
    <li><del>Parent > child (Submission DB landing / Collection report)</del></li>
    <li>Confirm how download buttons work. Is 'download submissions' only completed submissions?</li>
    <li>How would related submission reports work? Could this be automated?</li>
  </ul>    


</div>


<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Submissions report</small><br>
  English hedgehog census 2023
</h1>

<div class="designNote">
  <ul class="govuk-list govuk-list--bullet">
    <li>V2. Link to collection entity page from Collection ID.</li>
  </ul>
</div>    


<div class="govuk-grid-row">
  <!-- collection meta -->
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection ID
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="/wayCollectionDataProvider-collectionRecords">UHC24</a>
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Deadline
        </dt>
        <dd class="govuk-summary-list__value">
          16 July 2025
        </dd>
      </div>     
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Opens
        </dt>
        <dd class="govuk-summary-list__value">
          16 January 2025
        </dd>
      </div> -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--green delta-tag">Open</strong>
        </dd>
      </div>         
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Data period
        </dt>
        <dd class="govuk-summary-list__value">
          1 January 2024 &dash; 31 December 2024
        </dd>
      </div>                   
    </dl>      

    <h3 class="govuk-heading-l govuk-!-margin-top-9" id="overview">Returns overview</h3>    

    <div class="designNote">
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>'Records' and 'Records per submission (average)' only displayed for records-based collections.</li> -->
        <li>Hyperlinked counts scroll page to 'Returns by organisation' table with it pre-filters by the corresponding status.</li>
      </ul>
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with statuses
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <ul class="govuk-list govuk-list--spaced">
          <li><strong>All</strong> - The number of organisations who have been asked to submit a return for this collection.</li>
          <li><strong>Not started</strong> -  The number of organisations who have not submitted any records.</li>
          <li><strong>Contains records in draft</strong> - The number of organisations who have started at least one return and saved it in draft format.</li>
          <li><strong>Contains records awaiting certification</strong> - The number of organisations with a return that has records that need to be certified.</li>
          <li><strong>Submitted</strong> - The number of organisations who have submitted a return.</li>
        </ul>

      </div>
    </details>

    <!-- Summary -->

    <!-- NEW --> 
    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--l">Summary</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Return status</th>
          <th scope="col" class="govuk-table__header">Organisations</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">All</th>
          <td class="govuk-table__cell"><a href="/waySubmissionsDashboardReport#returns">180</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Not started</th>
          <td class="govuk-table__cell"><a href="/waySubmissionsDashboardReport#returns">50</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contains records in draft</th>
          <td class="govuk-table__cell"><a href="/waySubmissionsDashboardReport#returns">50</a></td>
        </tr>          
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Contains records awaiting certification</th>
          <td class="govuk-table__cell"><a href="/waySubmissionsDashboard#returns">40</a></td>
        </tr>    
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Submitted</th>
          <td class="govuk-table__cell"><a href="/waySubmissionsDashboard#returns">40</a></td>
        </tr>                     
        <!-- <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Records</th>
          <td class="govuk-table__cell">456</td>
        </tr>             
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Records per submission (average)</th>
          <td class="govuk-table__cell">3.2</td>
        </tr>           -->
      </tbody>
    </table>        


  </div>
  <!-- collection submissions summary content -->
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-s" id="relatedCollections">Related submissions reports</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="#"><strong>Urban hedgehog census 2023</strong></a></li>
      <li><a href="#"><strong>Urban hedgehog finances 2023</strong></a></li>
      <li><a href="#"><strong>Urban hedgehog census 2022</strong></a></li>
      <li><a href="#"><strong>Urban hedgehog finances 2022</strong></a></li>
    </ul>    
    <p><a href="/waySubmissionsDashboard">View all related reports</a></p>    
  </div>
</div>


<div class="govuk-grid-row" id="returns">
  <!-- primary content -->
  <div class="govuk-grid-column-full">

    <h3 class="govuk-heading-l govuk-!-margin-top-9" id="submissionByOrg">Returns by organisation</h3>    

    <button class="govuk-button">Download all</button>

    <div class="designNote">
      <ul class="govuk-list govuk-list--bullet">
        <li>V2. Organisation name linked to new page displaying list of all collections that the user (collection manager) has access to, with contact details for individuals listed under each.</li>
      </ul>
    </div>    

    <!-- table results start -->
    <div class="delta-results">
      <!-- filters -->
      <div id="delta-results-filters" class="hidden">
        <div class="delta-results-filters-header">
          <!-- <a style="float: right;" id="closeFiltersPanel" class="detla-pointer">Hide</a> -->
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Filters</h3>
        </div>
        <div class="delta-results-filters-filters">
          <!-- Quick search -->
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keywords
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
            </div>
          </div>           
          <!-- Accordion -->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Status
                  </span>
                </h2>
              </div>
              <div id="filter-group-status" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status" name="Status" type="checkbox" value="carcasses" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Status">
                        All
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Not started
                      </label>
                    </div>                   
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        In progress
                      </label>
                    </div>                                          
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Awaiting certification
                      </label>
                    </div>                  
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Completed
                      </label>
                    </div>                                 
                  </div>
              </div>
            </div>                    
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Organisations
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">



                <!-- search -->


                <!-- results drop-down -->
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-visually-hidden" for="selectOrg">
                    selectOrg
                  </label>
                  <select class="govuk-select govuk-!-margin-bottom-3 delta-w-100" id="selectOrg" name="selectOrg">
                    <option value="Select" selected>Select organisation</option>
                    <option value="Rivertown">Rivertown Borough Council</option>
                    <option value="Greendale">Greendale Borough Council</option>
                    <option value="Sunnybrook">Sunnybrook Borough Council</option>
                    <option value="PineValley">Pine Valley Borough Council</option>
                  </select>
                  <button class="govuk-button govuk-!-margin-bottom-0">Add</button>
                </div>
              </div>
            </div>
          </div>
          <button class="govuk-button">Apply filters</button>        
          <button class="govuk-button govuk-button--secondary govuk-button--inverse">Clear filters</button>
        </div>
      </div>
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 24 </p>
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Organisation <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Status <img src="/public/images/sort.svg"></a></th>            
                <th scope="col" class="govuk-table__header"><a href="#">Updated <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Records <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayOrganisationInternalReport"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</a></td>
                <td class="govuk-table__cell">Open</td>              
                <td class="govuk-table__cell">16 July 2024 </td>
                <td class="govuk-table__cell"><a href="#">9</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayOrganisationInternalReport"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</a></td>
                <td class="govuk-table__cell">Open</td>              
                <td class="govuk-table__cell">15 July 2024 </td>
                <td class="govuk-table__cell"><a href="#">2</a></td>
              </tr>          
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->

  </div>
</div>










{% endblock %}
