{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collections (Data Provider)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      }
    ]
  }) }}
{% endblock %}
{% block content %}




<div class="designNote">

  <h3 class="govuk-heading-l">Design notes <small>(toggle visibility with keyboard shortcut 'n')</small></h3>

  <h3 class="govuk-heading-m">Overview</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>This page will list all collection [reports] a user [internal] has access to.</li>
    <li>It will default to being ordered by deadline, with the latest deadline at the top.</li>
  </ul>  


  <h3 class="govuk-heading-m">Primary</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>See list of 'my' collections (the ones I have access to, past and present)</li>
    <li>Top level information (number of returns, number 'blocked'</li>
    <li>Click through to detailed report</li>
  </ul>



  <h3 class="govuk-heading-m" id="changelog">Change log</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Filters (once table columns agreed)</li>
  </ul>  


  <h3 class="govuk-heading-m">To do</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Susanna to write labels explainer</li>
    <li>Discuss value of adding data period in table</li>
  </ul>    


</div>


<h1 class="govuk-heading-xl">
  Submissions dashboard
</h1>

<h2 class="govuk-heading-l">
  Collections reports
</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with table column labels
    </span>
  </summary>
  <div class="govuk-details__text">
    
    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Collection name</strong> - Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
      <li><strong>Collection ID</strong> - Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
      <li><strong>Status</strong> - Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
      <li><strong>Deadline</strong> - The furthest submission deadline date for any organisation asked to submit a return.</li>
      <li><strong>Asked</strong> - The number of organisations invited to submit a return.</li>
      <li><strong>Blocked</strong> - The number of returns containing one or more records either in draft format or requiring certification.</li>
      <li><strong>Returns</strong> - The number returns.</li>
    </ul>

  </div>
</details>


    <!-- table results start -->
    <div class="delta-results">
      <!-- filters -->
      <div id="delta-results-filters" class="hidden">
        <div class="delta-results-filters-header">
          <!-- <a style="float: right;" id="closeFiltersPanel" class="detla-pointer">Hide</a> -->
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Filters</h3>
        </div>
        <div class="delta-results-filters-filters">
          <!-- Quick search -->
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keywords
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
            </div>
          </div>           
          <!-- Accordion -->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Status
                  </span>
                </h2>
              </div>
              <div id="filter-group-status" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status" name="Status" type="checkbox" value="carcasses" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Status">
                        All
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Not started
                      </label>
                    </div>                   
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        In progress
                      </label>
                    </div>                                          
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Awaiting certification
                      </label>
                    </div>                  
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Completed
                      </label>
                    </div>                                 
                  </div>
              </div>
            </div>                    
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Organisations
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">



                <!-- search -->


                <!-- results drop-down -->
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-visually-hidden" for="selectOrg">
                    selectOrg
                  </label>
                  <select class="govuk-select govuk-!-margin-bottom-3 delta-w-100" id="selectOrg" name="selectOrg">
                    <option value="Select" selected>Select organisation</option>
                    <option value="Rivertown">Rivertown Borough Council</option>
                    <option value="Greendale">Greendale Borough Council</option>
                    <option value="Sunnybrook">Sunnybrook Borough Council</option>
                    <option value="PineValley">Pine Valley Borough Council</option>
                  </select>
                  <button class="govuk-button govuk-!-margin-bottom-0">Add</button>
                </div>
              </div>
            </div>
          </div>
          <button class="govuk-button">Apply filters</button>        
          <button class="govuk-button govuk-button--secondary govuk-button--inverse">Clear filters</button>
        </div>
      </div>
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 24 </p>
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Collection name <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Collection ID <img src="/public/images/sort.svg"></a></th>            
                <th scope="col" class="govuk-table__header"><a href="#">Status <img src="/public/images/sort.svg"></a></th>
                <!-- <th scope="col" class="govuk-table__header"><a href="#">Data period <img src="/public/images/sort.svg"></a></th> -->
                <th scope="col" class="govuk-table__header"><a href="#">Deadline <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Asked <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Blocked <img src="/public/images/sort.svg"></a></th>                
                <th scope="col" class="govuk-table__header"><a href="#">Returns <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header"><a href="/waySubmissionsDashboardReport">English hedgehog census 2023</a></th>
                <td class="govuk-table__cell">UHC24</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Open</strong></td>              
                <!-- <td class="govuk-table__cell">1 January 2023 ‐ 31 December 2023 </td> -->
                <td class="govuk-table__cell">16 July 2024</td>
                <td class="govuk-table__cell">180</td>
                <td class="govuk-table__cell">90</td>                
                <td class="govuk-table__cell">40</td>
              </tr>       
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->



{% endblock %}
