{% extends "layouts/delta-wayfinding.html" %}
{% set pageName="Wayfinding / Collections (Data Provider)" %}
{% block beforeContent %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/wayLandingDataProviderAndCertifierAll"
      },
      {
        text: "Submissions dashboard",
        href: "/waySubmissionsDashboard"
      }      
    ]
  }) }}
{% endblock %}
{% block content %}




<div class="designNote">

  <h3 class="govuk-heading-l">Design notes <small>(toggle visibility with keyboard shortcut 'n')</small></h3>

  <h3 class="govuk-heading-m">Changes</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Meta data: added extension tag</li>
    <li>Meta data: added latest extension date</li>
    <li>Meta data: added "x days remaining" for collection window deadline and latest extension deadline</li>
    <li>Meta data: requires certification. Row not displayed for collections that don't require certification</li>
    <li>Meta data: link to manage collection (dynamic)</li>
    <li>Overview: more descriptive labels</li>
    <li>Overview: added percentages</li>
    <li>Overview: changed 'completed return' to 'certified return' (because this is a certified collection. It would say </li>
    <li>Returns by organisation: clearer button text</li>
    <li>Returns by organisation table: added 'extensions deadline' column</li>
    <li>Collect type? Summary or case (aka records)</li>
    <li>Help text updated</li>
    <li>Overview [table]: removed 'view' column and put hyperlink on status name. This enabled the column to be thinner, giving more space to chart</li>
    <li>Percentage value from extensions removed. It was confusing having percentages add up to more than 100%.</li>
    <li>Moved extensions count and link from own line in overview table, and put it alongside organisation count</li>
    <li>Table filters: renamed 'status' to 'return status' and removed 'extended' as an option</li>
    <li>Table filters: added 'Collection status' with options for 'all', 'open', 'extended' and 'closed'.</li>
    <li>Table: moved 'extended' tag from Return Status column to after date in deadline column</li>
  </ul>    

  <h3 class="govuk-heading-m">To do</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Check / update filters to reflect changes above</li>  
    <li><del>Chart</del></li>
    <li><del>Move 'extended'</del></li>
    <li>date pickers - added to</li>
  </ul>  


</div>


<h1 class="govuk-heading-xl">
  <small class="delta-text-secondary govuk-body govuk-!-font-size-27">Submissions report</small><br>
  English hedgehog census 2023
</h1>



<div class="govuk-grid-row">
  <!-- collection meta -->
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection ID
        </dt>
        <dd class="govuk-summary-list__value">
          UHC24
        </dd>
      </div>      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Data period
        </dt>
        <dd class="govuk-summary-list__value">
          1 January 2024 &dash; 31 December 2024
        </dd>
      </div>        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--red delta-tag">Extended</strong>
        </dd>
      </div>        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Open
        </dt>
        <dd class="govuk-summary-list__value">
          16 June 2024
        </dd>
      </div>        
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Close
        </dt>
        <dd class="govuk-summary-list__value">
          16 July 2024 <small><span class="delta-text-secondary">(X days remaining)</span></small>
        </dd>
      </div>  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last extension deadline
        </dt>
        <dd class="govuk-summary-list__value">
          29 July 2024 <small><span class="delta-text-secondary">(X days remaining)</span></small>
        </dd>
      </div> 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certification required
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
      </div> 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Collection type
        </dt>
        <dd class="govuk-summary-list__value">
          Case level
        </dd>
      </div>                                             
    </dl>      

    <!-- Dynamic - only shown to collection managers ============ -->

    <h4 class="govuk-heading-m">Collections managers</h4>
    <p>
      <a href="#">Manage this collection</a> (including extensions).
    </p>

  
  </div>
  <!-- collection submissions summary content -->
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-s" id="relatedCollections">Related submissions reports</h2>
    <ul class="govuk-list govuk-list--spaced">
      <li><a href="#"><strong>Urban hedgehog census 2023</strong></a></li>
      <li><a href="#"><strong>Urban hedgehog finances 2023</strong></a></li>
      <li><a href="#"><strong>Urban hedgehog census 2022</strong></a></li>
      <li><a href="#"><strong>Urban hedgehog finances 2022</strong></a></li>
    </ul>    
    <p><a href="/waySubmissionsDashboard">View all related reports</a></p>    
  </div>
</div>

<h3 class="govuk-heading-l govuk-!-margin-top-9" id="overview">Overview</h3>    
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with status
    </span>
  </summary>
  <div class="govuk-details__text">
    
    <ul class="govuk-list govuk-list--spaced">
      <li><strong>Organisations</strong> the number of organisations who have been asked to submit a return for this collection.</li>      
      <li><strong>Not started</strong>: the number of organisations who have not create a record.</li>
      <li><strong>In draft</strong>: the number of organisations who have started at least one record and saved it in draft format.</li>
      <li><strong>Awaiting certification</strong>: the number of organisations with a return that has records that need to be certified.</li>
      <li><strong>Completed</strong>: the number organisations that have submitted and certified a return. [OR for uncertifiable returns] the number of organisations who have submitted a return.</li>
      <li><strong>Extended</strong>: flags whether the submission deadline for this return has been extended beyond the original collection window.</li>      
    </ul>

  </div>
</details>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


    <!-- Summary -->

    <!-- NEW --> 
    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--l">Summary</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Count</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#returns">Organisations</a></th>
          <td class="govuk-table__cell">180 <small><span class="delta-text-secondary">(Extended: <a href="#returns">30</a>)</span></small></td>
        </tr>   
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-static-padding-top-6"><a href="#returns">Not started</a></th>
          <td class="govuk-table__cell govuk-!-static-padding-top-6">100 <small><span class="delta-text-secondary">(56%)</span></small></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#returns">In draft</a></th>
          <td class="govuk-table__cell">20  <small><span class="delta-text-secondary">(11%)</span></small></td>
        </tr>          
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#returns">Awaiting certification</a></th>
          <td class="govuk-table__cell">20 <small><span class="delta-text-secondary">(11%)</span></small></td>
        </tr>    
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#returns">Completed</a></th>
          <td class="govuk-table__cell">40 <small><span class="delta-text-secondary">(22%)</span></small></td>
        </tr>                       
      </tbody>
    </table>      

  </div>

  <div class="govuk-grid-column-one-half">
    <!-- Chart here ======== -->

    <div>
      <canvas id="myChart" width="538" height="269" style="display: block; box-sizing: border-box; height: 269px; width: 538px;"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
      const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Not started', 'Draft', 'Awaiting certification', 'Completed'],
          
          datasets: [{
            data: [180, 100, 20, 20],
            backgroundColor: ["#f47738", "#5694ca", "#6f72af", "#85994b"], 
            borderWidth: 0
          }]
        },
        options: {
          plugins: {
            legend: {
                display: false
            },        
            tooltip: {
              enabled: false
            }

        },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>



  </div>

</div>

<div class="govuk-grid-row" id="returns">
  <!-- primary content -->
  <div class="govuk-grid-column-full">

    <h3 class="govuk-heading-l govuk-!-margin-top-9" id="submissionByOrg">Returns by organisation</h3>    

    <button class="govuk-button">Download organisations (.csv)</button>

    <!-- table results start -->
    <div class="delta-results">
      <!-- filters -->
      <div id="delta-results-filters" class="hidden">
        <div class="delta-results-filters-header">
          <!-- <a style="float: right;" id="closeFiltersPanel" class="detla-pointer">Hide</a> -->
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Filters</h3>
        </div>
        <div class="delta-results-filters-filters">
          <!-- Quick search -->
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keywords
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Text search">
            </div>
          </div>           
          <!-- Accordion -->
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Return status
                  </span>
                </h2>
              </div>
              <div id="filter-group-status" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status" name="Status" type="checkbox" value="carcasses" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Status">
                        All
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Not started
                      </label>
                    </div>                   
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        In draft
                      </label>
                    </div>                                          
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Awaiting certification
                      </label>
                    </div>                   
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Completed
                      </label>
                    </div>                                                     
                  </div>
              </div>
            </div>  
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Collection status
                  </span>
                </h2>
              </div>
              <div id="filter-group-status" class="govuk-accordion__section-content">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status" name="Status" type="checkbox" value="carcasses" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="Status">
                        All
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Open
                      </label>
                    </div>                   
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Extended
                      </label>
                    </div>                                                          
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="Status-2" name="Status" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="Status-2">
                        Closed
                      </label>
                    </div>                                                     
                  </div>
              </div>
            </div>                                
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Organisations
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">



                <!-- search -->


                <!-- results drop-down -->
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-visually-hidden" for="selectOrg">
                    selectOrg
                  </label>
                  <select class="govuk-select govuk-!-margin-bottom-3 delta-w-100" id="selectOrg" name="selectOrg">
                    <option value="Select" selected>Select organisation</option>
                    <option value="Rivertown">Rivertown Borough Council</option>
                    <option value="Greendale">Greendale Borough Council</option>
                    <option value="Sunnybrook">Sunnybrook Borough Council</option>
                    <option value="PineValley">Pine Valley Borough Council</option>
                  </select>
                  <button class="govuk-button govuk-!-margin-bottom-0">Add</button>
                </div>
              </div>
            </div>
          </div>
          <button class="govuk-button">Apply filters</button>        
          <button class="govuk-button govuk-button--secondary govuk-button--inverse">Clear filters</button>
        </div>
      </div>
      <!-- table data here -->
      <div id="delta-results-data">
        <!-- result count, filter toggle (inc. active filter count) quick search,  -->
        <div class="delta-results-data-header">
          <div class="delta-results-table-filter-summary delta-flex-horizontal">
            <div>
              <p class="govuk-!-margin-bottom-0">Displaying 1 to 10 of 24 </p>
            </div>
            <div>
                <button class="govuk-button govuk-button--inverse" id="toggleFiltersPanel" onclick="toggleButtonText()"><img src="/public/images/icon-search.svg" alt="icon search" class="delta-icon"> <span id="filterBtnText">Show filters</span></button>
            </div>
          </div>
        </div>

        <!-- data table -->
        <div class="delta-scrollable-pane" id="delta-scrollable-pane">
          <table class="govuk-table govuk-table--small-text-until-tablet" id="resultTable">
            <caption class="govuk-table__caption govuk-table__caption--m delta-hide">Collections</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Organisation <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Return status <img src="/public/images/sort.svg"></a></th>            
                <th scope="col" class="govuk-table__header"><a href="#">Deadline <img src="/public/images/sort.svg"></a></th>    
                <th scope="col" class="govuk-table__header"><a href="#">Updated <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Records <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo002.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Arundel Borough Council</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow delta-tag">In draft</strong></td>              
                <td class="govuk-table__cell">1 July 2024 </td>
                <td class="govuk-table__cell">16 July 2024 </td>
                <td class="govuk-table__cell"><a href="#">9</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo001.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Rivendell Borough Council</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow delta-tag">Awaiting certification</strong></td>              
                <td class="govuk-table__cell">3 July 2024 </td>
                <td class="govuk-table__cell">15 July 2024 </td>
                <td class="govuk-table__cell"><a href="#">2</a></td>
              </tr>   
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Completed</strong></td>              
                <td class="govuk-table__cell">16 September 2024 <strong class="govuk-tag govuk-tag--red delta-tag">Extended</strong></td>                
                <td class="govuk-table__cell">n/a</td>
                <td class="govuk-table__cell">0</td>
              </tr>     
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green delta-tag">Completed</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>     
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Not started</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>     
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Not started</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>     
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Not started</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>     
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Not started</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>    
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Not started</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>    
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/wayCollectionDataProvider-collectionRecords"><img src="/public/images/logo000.png" alt="Organisation logo" class="delta-org-logo-s delta-org-logo-fl">Another organisation</a></td>
                <td class="govuk-table__cell"><strong class="govuk-tag delta-tag">Not started</strong></td>              
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell">xxxxxxx </td>
                <td class="govuk-table__cell"><a href="#">x</a></td>
              </tr>                                                                                                                          
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </div>
    <!-- table results end -->

  </div>
</div>










{% endblock %}
