{% extends "layouts/delta.html" %}
{% set pageName="Wayfinding tables" %}
{% block content %}


<!-- fixed nav -->
<div class="delta-fixed-nav">
    <ul class="govuk-list">
      <li><a href="#overview">Overview</a></li>
      <li>Table versions:</li>
      <li><a href="#prototype-basic">Basic</a></li>
      <li><a href="#prototype-advanced-search">Advanced search (filter)</a></li>
      <li><a href="#prototype-batch-processing">Batch processing</a></li>
    </ul>
</div>


<!-- Overview and requirements -->
<div class="delta-full-screen" id="overview">
  <h1 class="govuk-heading-xl">Results tables, search and filters</h1>

  <h2 class="govuk-heading-l">Search vs filter</h2>
  <p>Guidance from <a href="https://design-patterns.service.justice.gov.uk/patterns/filter-a-list/" target="_blank">MOJ pattern library</a>.</p>
  <ul class="govuk-list govuk-list--number">
    <li>Type a search term and submit the search form</li>
    <li>See a search results page with filters</li>
    <li>Users can then filter the search results page further or search again starting from</li>
  </ul>
  <p><em>Delta is unique in search and filters are typically present in the same page.</em></p>

  <h2 class="govuk-heading-l">Design goals</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Our goal is to create a system that anticipates and delivers exactly what the user needs, eliminating the need for them to enter a search query</li>
    <li>Clicking is better than typing (easier, less prone to error)</li>
    <li>When user input is required to reduce number of displayed results [free] keyword filtering will be most efficient option in majority of cases</li>
  </ul>

  <h2 class="govuk-heading-l">Functional requirements</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Filter and search parameters in URL (to support saving and sharing)</li>
    <li>Clearly display if and what search and filter parameters exist</li>
    <li>Sort columns by clicking column header (toggles)</li>
    <li>Keyword filter box (quick search)</li>
  </ul>

  <h2 class="govuk-heading-l">Links</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://design-system.service.gov.uk/components/table/" target="_blank">GOV.UK table</a></li>
    <li><a href="https://design-patterns.service.justice.gov.uk/components/sortable-table/" target="_blank">MOJ sortable table</a></li>
    <li><a href="https://design-patterns.service.justice.gov.uk/patterns/filter-a-list/" target="_blank">MOJ filter pattern</a></li>
    <li><a href="https://service-manual.nhs.uk/design-system/components/table" target="_blank">NHS table</a></li>
    <li><a href="https://design-patterns.service.justice.gov.uk/components/multi-select/" target="_blank">MOJ multi-select</a></li>
  </ul>
</div>

<!-- config tableSpecification -->
<div class="delta-full-screen" id="tableSpecification">
  <h1 class="govuk-heading-xl">Table specification</h1>

  <ul class="govuk-list govuk-list--bullet">
    <li>Table name</li>
    <li>Location (on site map)</li>
    <li>Type
      <ul class="govuk-list govuk-list--bullet">
        <li>Basic (quick search and sort by header)</li>
        <li>Advanced search</li>
      </ul>      
    </li>
    <li>Batch processing
      <ul class="govuk-list govuk-list--bullet">
        <li>Enabled - boolean (yes/no)</li>
      </ul>      
    </li>
    <li>Secret squirrel 🐿
      <ul class="govuk-list govuk-list--bullet">
        <li>Enabled - boolean (yes/no) - list fields being searched that are not displayed in table</li>
      </ul>      
    </li>
    <li>Advanced search options
      <ul class="govuk-list govuk-list--bullet">
        <li>Search group name (similar to form groups)
          <ul class="govuk-list govuk-list--bullet">
            <li><em>Supporting notes</em></li>
            <li>Select - single select</li>
            <li>Select - multi select</li>
            <li>Check - multi select</li>
            <li>Radio - single select</li>
          </ul>      
        </li>
      </ul>            
    </li>
    <li>Pre-filtered results
      <ul class="govuk-list govuk-list--bullet">
        <li>Advanced search option(s)</li>
      </ul>      
    </li>
    <li>Results table structure
      <ul class="govuk-list govuk-list--bullet">
        <li>Col 1 header</li>
        <li>Col 2 header</li>
        <li>Etc</li>
      </ul>            
    </li>
  </ul>
</div>


<!-- PROTOTYPE basic -->
<div class="delta-full-screen" id="prototype-basic">
  <p class="designNote delta-text-center" style="width: 100%;">Basic table (with quick search and column sorting).</p>         
  <div style="width: 100%;">
    <div class="delta-results-main">

      <div class="delta-results-table-wrap">

        <div class="delta-results-table-filter-summary delta-flex-horizontal">
          <div>
            <ul class="govuk-list delta-list-horizontal">
              <li>Displaying 1 - 10 of 13 results.</li>
            </ul>
          </div>
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keyword
                </label>
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Quick search">
            </div>
          </div>
        </div>

        <!-- results -->
        <div class="delta-results-table">
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Records</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Title <img src="/public/images/sort-ascending.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="#">Title</a></th>
                <td class="govuk-table__cell">DataItem</td>
                <td class="govuk-table__cell">DataItem</td>
                <td class="govuk-table__cell">DataItem</td>
                <td class="govuk-table__cell">DataItem</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- selected count and selection options -->



        <!-- pagination -->
          <nav class="govuk-pagination" aria-label="Pagination">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                  Previous<span class="govuk-visually-hidden"> page</span>
                </span>
              </a>
            </div>
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </a>
            </div>
          </nav>
      </div>
  </div>
  </div>
</div>


<!-- PROTOTYPE advanced search -->
<div class="delta-full-screen" id="prototype-advanced-search">
  <p class="designNote  delta-text-center" style="width: 100%;">Advanced search panel (filters)</p>         
  <div class="delta-results">
    <!-- filters -->
    <div id="delta-results-filters">
      <div class="delta-results-filters-header">
        <a style="float: right;" id="closeFiltersPanel" class="detla-pointer">Close</a>
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Advanced search</h3>
      </div>

      <!-- active filters -->
      <div class="delta-results-active-filters">
        <h3 class="govuk-heading-s">Active filters (3)</h3>
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="#">Filter group 1</a></li>
          <li><a href="#">Filter group 2</a></li>
          <li><a href="#">Filter group 3</a></li>
        </ul>
      </div>

      <div class="delta-results-filters-filters">

        <p class="delta-align-right"><small><a href="#">Open all</a> &nbsp; <a href="#">Close all</a></small></p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Filter group 1
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </details>          
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Filter group 2
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </details>                    
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Filter group 3
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </details> 

        <button class="govuk-button">Apply</button>
        <button class="govuk-button govuk-button--secondary">Reset filters</button>
      </div>
    </div>

    <!-- data here -->
    <div id="delta-results-data">

      <!-- result count, filter toggle (inc. active filter count) quick search,  -->
      <div class="delta-results-data-header">

        <div class="delta-results-table-filter-summary delta-flex-horizontal">
          <div>
            <ul class="govuk-list delta-list-horizontal">
              <li>Displaying 1-10 or 13 results.</li>
              <li><strong><a id="toggleFiltersPanel" class="detla-pointer">Advanced search (3)</a></strong></li>
              <!-- <li><a href="#">Add filter</a></a></li> -->
            </ul>
          </div>
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keyword
                </label>
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Quick search">
            </div>
          </div>
        </div>        

      </div>

        <table class="govuk-table govuk-table--small-text-until-tablet">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Records</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><a href="#">Title <img src="/public/images/sort-ascending.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
              <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#">Title</a></th>
              <td class="govuk-table__cell">DataItem</td>
              <td class="govuk-table__cell">DataItem</td>
              <td class="govuk-table__cell">DataItem</td>
              <td class="govuk-table__cell">DataItem</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<!-- PROTOTYPE batch processing -->
<div class="delta-full-screen" id="prototype-batch-processing">
  <p class="designNote delta-text-center" style="width: 100%;">Batch processing (select column, select/deselect, selected count and batch option buttons)</p>         
  <div style="width: 100%;">
    <div class="delta-results-main">
      <!-- filters -->

      <div class="delta-results-table-wrap">

        <div class="delta-results-table-filter-summary delta-flex-horizontal">
          <div>
            <ul class="govuk-list delta-list-horizontal">
              <li>Displaying 1-10 or 13 results.</li>
              <!-- <li><strong><a href="#">Advanced search</a></strong></li> -->
              <!-- <li><a href="#">Add filter</a></a></li> -->
            </ul>
          </div>
          <div>
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--s govuk-visually-hidden" for="Keyword filter">
                  Filters results by keyword
                </label>
              </h1>
              <input class="govuk-input" id="filter-keyword" name="filterKeyword" type="text" placeholder="Quick search">
            </div>
          </div>
        </div>

        <!-- results -->
        <div class="delta-results-table">
          <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Records</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><a href="#">Select</a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Title <img src="/public/images/sort-ascending.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
                <th scope="col" class="govuk-table__header"><a href="#">Column <img src="/public/images/sort.svg"></a></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <!-- checkbox -->
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="select-item">
                    <label class="govuk-label govuk-checkboxes__label" for="select-item">
                      <span class="govuk-visually-hidden">Select name</span>
                    </label>
                  </div>                   
                </td>
                <th scope="row" class="govuk-table__header"><a href="#">Title</a></th>
                <td class="govuk-table__cell">DataItem</td>
                <td class="govuk-table__cell">DataItem</td>
                <td class="govuk-table__cell">DataItem</td>
                <td class="govuk-table__cell">DataItem</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- selected count and selection options -->

        <!-- Batch options -->        
        <div class="delta-results-batch-options delta-flex-horizontal">          
          <div>
            <ul class="govuk-list delta-list-horizontal">
              <li><a href="#">Select all</a></li>
              <li><a href="#">Deselect all</a> </li>
              <li>0 selected</li>
            </ul>
          </div>
          <div>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" disabled>
              Batch option
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" disabled>
              Batch option
            </button>
          </div>
        </div>

        <!-- pagination -->
          <nav class="govuk-pagination" aria-label="Pagination">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                  Previous<span class="govuk-visually-hidden"> page</span>
                </span>
              </a>
            </div>
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </a>
            </div>
          </nav>
      </div>
  </div>
  </div>
</div>



{% endblock %}