{% extends "layouts/delta.html" %}
{% set pageName="UX (Wayfinding) Welcome" %}
{% block content %}

<!-- Welcome / on-boarding text -->
<div class="designNote">
  <h2 class="govuk-heading-l" id="welcome">DRAFT: changes to Delta notification for external users</h2>
  <p>Users will have to be alerted and educated about changes to Delta - terminology and structure (information arcature). Current thinking is we will display a message like the one below when they first log in. Note: this content is in draft and is being refined constantly.</p>
</div>


<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content delta-notification-banner__content">
    <h2 class="govuk-heading-xl">Delta improvements</h2>
    <p class="govuk-body-l">We are making Delta easier to use. This includes updating some names and where you can find things.</p>
    <h2 class="govuk-heading-l">New names</h2>
    <p>We have updated some names to make them consistent across Delta and easier to understand.</p>
    <p>The hierarchy is:</p>
    <p><strong>Collection Group</strong> > <strong>Collection</strong> > <strong>Return</strong> > <strong>Record</strong></p>

    <h3>Collection group</h3>
    <p>
      This provides information on the collection, what it is for, how the data is used and lists all collections, both past and present.<br>
      <em>Example: Hedgehog Census</em><br>
      <a href="#">Join collection groups and manage your roles</a>
    </p>

    <h3>Collection</h3>
    <p>
      This is a one-off request for a return.<br>
      <em>Example: Hedgehog Census 2023</em><br>
      <a href="#">View your collections</a>
    </p>

    <h3>Return</h3>
    <p>
      This is the data submitted for a collection. A return may contain one or more records, depending on the collection type.<br>
      <em>Example: Rivendell Hedgehog Census 2023</em>
    </p>

    <h3>Record</h3>
    <p>
      This is a set of data forming part of a return.<br>
      <em>Example: Ashford Hollow</em>
    </p>

    

    
  </div>
</div>

{% endblock %}
